<div class="form-group">
	<label for="typeahead">User Name or Email</label>
    <input type="typeahead" class="form-control" id="InputUsernameEmail">
</div>
<div class="" ng-repeat="user in collaborators">
	<div class="name pull-left">{{user.name}}</div>
	<div class="permission pull-right"></div>
	<div class="del pull-right"><i class="fa fa-trash"></i></div>
</div>