.search-nav {
    .btn-icon {
        &:hover {
            background: transparent;
        }
        &.active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .btn-search {
        color: @gray-dark;
        margin-right: -15px;
    }
    .icon-search-container {
        display: inline-block;
        margin: 11px 0px;
        position: absolute;
        top: -140px;
        left: 0px;
        width: 100%;
        transition: top 0.2s ease-out;
        backface-visibility: hidden;
        height: auto;
        .container {
            max-width: 670px;
            width: 75%;
            margin: 0 auto;
        }
        @media (max-width: @screen-xs) {
            width: 100%
        }
        &.active {
            top: 0px;
            .search-input {
                height: 24px;
                line-height: 24px;
            }
            .container {
                position: relative;
                .btn-search {
                    position: absolute;
                    left: -24px;
                    font-size: 16px;
                }
            }
        }
        .btn-icon {
            color: @gray-dark;
            &.active {
                position: absolute;
                right: 2px;
                top: 0px;
                font-size: 20px;
            }
            &.btn-search {
                @media (max-width: @screen-xs) {
                    display: none;
                }
            }
            &:hover {
                background: transparent;
            }
        }
        .search-input {
            cursor: default;
            width: 400px;
            height: 0px;
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 0px;
            padding: 0px 12px;
            margin: 8px 0px;
            background-color: rgba(255, 255, 255, 0);
            transition: height 0.2s ease-out;
            border-left: 1px solid @gray-lighter;
            &::-webkit-input-placeholder {
                font-style: italic;
                font-size: 12px;
                font-weight: 400;
            }
            &:-moz-placeholder {
                font-style: italic;
                font-size: 12px;
                font-weight: 400;
            }
            &::-moz-placeholder {
                font-style: italic;
                font-size: 12px;
                font-weight: 400;
            }
            &:-ms-input-placeholder {
                font-style: italic;
                font-size: 12px;
                font-weight: 400;
            }
            @media (max-width: @screen-xs) {
                width: 100%;
                left: 0px;
            }
        }
    }
    .auto-complete-results {
        position: absolute;
        left: 0px;
        top: 64px;
        width: 100%;
        height: 0px;
        background: @white;
        overflow: hidden;
        transition: height 0.4s ease-out;
        -webkit-box-shadow: 0 4px 4px -2px rgba(136, 136, 136, 0.3);
        -moz-box-shadow: 0 4px 4px -2px rgba(136, 136, 136, 0.3);
        box-shadow: 0 4px 4px -2px rgba(136, 136, 136, 0.3);
        &.active {
            height: auto;
            .container {
                width: 669px;
                margin: 5px auto;
                .r-item {
                    list-style-type: none;
                    display: block;
                    img {
                        float: right;
                        border-radius: 3px;
                        margin: 11px 6px 11px 0;
                        height: 36px;
                    }
                    div.gray_img {
                        float: right;
                        border-radius: 3px;
                        margin: 11px 6px 11px 0;
                        height: 36px;
                        width: 36px;
                        display: inline-block;
                        background: #e2e2e6;
                    }
                    .title {
                        a {
                            display: block;
                            color: darken(#606060, 10%);
                            line-height: normal;
                            font-size: 16px;
                            margin: 3px 0px -5px;
                            padding-top: 5px;
                        }
                    }
                    .user-info {
                        font-size: 12px;
                        color: lighten(#606060, 10%);
                        color: lighten(#606060, 10%);
                    }
                }
            }
        }
        .more-result {
            display: block;
            width: 100%;
            text-align: center;
            border-top: 1px solid @gray-lighter;
            border-bottom: 1px solid @gray-lighter;
            line-height: 45px;
            font-style: italic;
            color: @collexio-green;
        }
    }
}

.search-result-header {
    /*position: absolute;
    left: 0px;
    top: 70px;*/
    width: 100%;
    height: 0px;
    overflow: hidden;
    color: @gray-dark;
    background: lighten(#eeeeee, 2%);
    margin-bottom: 52px;
    /*z-index: 1;*/
    &.active {
        height: 54px;
        @media (max-width: @screen-xs) {
            height: 110px;
        }
    }
    .container {
        margin: 0px auto;
        max-width: 670px;
        .nav-pills {
            li {
                line-height: 52px;
                &:first-child {
                    margin-left: 0px;
                }
                &.active {
                    a {
                        font-weight: 600;
                        border-bottom: 2px solid @gray-dark;
                        color: @gray-dark;
                    }
                }
            }
        }
        .pull-right {
            @media (max-width: @screen-xs) {
                width: 100%;
                border-bottom: 2px solid #eee;
            }
            span {
                font-style: italic;
                line-height: 54px;
                padding-right: 10px;
            }
        }
    }
}