<div>
<form id="add-collaborator-from">
	<div class="form-group typeahead-wrapper">
		<label for="typeahead">Enter a user name</label>
	    <input type="text" class="form-control" id="InputUsernameEmail" 
	    	ng-model="selectedUser.name" 
	    	typeahead="user for users in userAutocomplete($viewValue)"
	    	typeahead-loading="loadingLocations"
	    	typeahead-template-url = "/static/js/ng-collexio/collaborators/typeahead-match.html"
	    	typeahead-on-select = "onSelect($item, $model, $label)"
	    >
	</div>
	<div class="select form-group pull-right">
	    <select class="form-control" ng-model="permission">
	    	<option value="admin">Admin</option>
	    	<option value="canadd">Can Add Items</option>
	    	<option value="canview">Can View</option>
	    </select>
	    <i class="fa fa-chevron-down"></i>
	</div>
	<div class="form-group">
		<button type="button" class="btn primary pull-right" ng-click="onAddBtnClick()">Add</button>
	</div>
</form>

<form id="collaborators-form">
	<div class="section-title">
		<h2>CURRENT CONTRIBUTORS</h2>
	</div>
	<ul class="collaborators-list list-unstyled">
		<li ng-repeat="c in collaborators">
			<div class="name pull-left"><a href="/{{c.user.username}}">{{c.user.name}}</a></div>
			<div class="del pull-right"><button class="btn btn-icon" ng-click="onDeleteBtnClick($index)"><i class="ion-trash-b"></i></button></div>
			<div class="permission pull-right" ng-bind-html="to_label(c.permission)"></div>
			<div class="clearfix">
		</li>
	</ul>
</form>
</div>