<div class="user-wrapper">
	<a class="user-avatar">
		<img class="pull-left" ng-src="//collex.io/media/www/{{match.model.image.thumb.filename}}">
	</a>
	<a class="user-name"><span class="pull-left" bind-html-unsafe="match.model.name | typeaheadHighlight:query" ></span></a>
</div>