body {
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	width:480px;
	max-height: 560px;
	min-height: 100px;
}

.btn-primary {
	color: #fff;
	background-color: #4892e5;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 7px 12px 5px;
	min-width: 128px;
	outline: none !important;
	border:none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.container{
	max-width: 480px;
}

.form-control{
	font-size: 14px;
	display: block;
	width: 100%;
	color: #666;
	background-color: #fff;
	background-image: none;
	border: 2px solid #cddee7;
	border-radius: 3px;
	box-shadow: none;
	-webkit-appearance: none;
}
.btn-panel{
	padding: 16px 0;
}

#collection-list{
	width: 100%;
}


#item-form{
	margin-bottom: 16px;
}
.item-image-preview img{
	max-height: 240px;
}

.image-frame {
	color: #fff;
	color: rgba(255, 255, 255, .8);
	text-align: center;
	border-radius: 3px;
	position: relative;
}

.image-frame input {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 51;
	top: 0;
	left: 0;
	cursor: pointer;
}

.item-image-icon {
	z-index: 50;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#add-item-description{
	height: 70px;
}
.preloader{
	text-align: center;
	margin-top: 40px;
}
.message{
	margin-top: 40px;
	text-align: center;
}
