{% if item.get_image_medium %}
<div class="magazine-thumb">
	{% if item.url %}
		<a href="{{ item.url }}" class="track-item-link-click" data-event-label="list-item-image-link" rel="external nofollow" target="_blank">
	{% endif %}
		<img src="https:{{ item.get_image_medium.filename }}" alt="{{ item.title }}" width="{{item.get_image_medium.w}}" height="{{item.get_image_medium.h}}">
	{% if item.url %}
		</a>
	{% endif %}
</div>
{% endif %}
	