<div class="magazine-thumb item-video">
	<div class="preview">
		<div>
			<img src="https:{{ item.get_image_medium.filename }}" alt="{{ item.title }}" width="{{item.get_image_medium.w}}" height="{{item.get_image_medium.h}}">
		</div>
		<div class="play"><i class="fa fa-play"></i></div>
	</div>
	<div class="iframe">
		{% autoescape off %}
			{{item.card.html}}
		{% endautoescape%}
	</div>
</div>
