{% for activity in result.data %}
    {% if type == "item" %}
        {% include 'types/posts.html' %}
    {% elif type == "collection" %}
        {% include 'types/collections.html' %}
    {% elif type == "user" %}
        {% include 'types/people.html' with p=activity %}
    {% endif %}

    {% empty %}
        <center><b>No result! :(</b></center>
{% endfor %}
<span style="display:none" id="pagingData" data-next="{{result.next_page_number}}" data-has-next="{{result.has_next}}"></span>
