<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-list-row">
		<div>
			<a class="user-avatar pull-left" href="/{{ p.username }}/" title="{{ p.name }}">
				<img src="{{ p.thumb_image }}" alt="{{ p.name }}" width="128">
			</a>
			<div class="fields pull-left">
				<a class="p-name" href="/{{p.username}}/" title="{{ p.name }}">{{p.name}}</a>
				<a class="p-username" href="/{{ p.username }}/" title="{{ p.name }}">@{{ p.username }}</a>
			</div>
			{% if user.pk != p.pk %}
				<button class="btn btn-follow small pull-right" data-id="{{p.pk}}" data-state="{{ p.is_following_by_current_user }}" data-event-label="followers-follow">Follow</button>
			{% endif %}
			<div class="description">{{ p.description }}</div>
		</div>
	</div>
</div>