{% load paragraphs %}

{% with activity as item %}
<div class="c-item">
	<a id="{{ item.id }}" class="item-point"></a>
	<div class="item-top">
		<div class="user-wrapper pull-left">
			<div>
				<a class="user-avatar" href="/{{item.user.username}}/">
					<img class="pull-left" src="{{ item.user.thumb_image }}" alt="{{ item.user.name }}">
				</a>
			</div>
			<div class="user-info">
				<a class="user-name" href="/{{item.user.username}}/">{{ item.user.name }}</a>
				<a class="collection-title" href="/c/{{item.collection.slug}}/"><span>shared on </span> {{item.collection.title}}</a>
			</div>
		</div>
		<div class="item-added pull-right timeago" title="{{item.added|date:"c"}}"></div>
		<div class="clearfix"></div>
	</div>

	{% if item.title %}
	<div class="title">
	{% if item.url %}
		<a href="{{ item.url }}" class="track-item-link-click" data-event-label="magazine-item-title-link" rel="external nofollow">{{ item.title }}</a>
	{% else %}
		{{ item.title }}
	{% endif %}
	</div>
	{% endif%}


	<div class="card">
	{% if item.card.type == "video" %}
		{% include "cards/video_card.html" with item=item %}
	{% elif item.card.type == "rich" %}
		{% autoescape off %}
			{{item.card.html}}
		{% endautoescape %}
	{%else %}
		{% include 'feed_item_default_card.html' with item=item %}
	{% endif %}
	</div>

	{% if item.description and item.description != ' '%}
	<div class="description">
		{% autoescape off %}
			{{ item.description|force_escape|urlize|truncatechars:150}}
		{% endautoescape %}
	</div>
	{% endif %}
	<div class="more-items-button">
		<a class="btn default" href="/c/{{item.collection.slug}}/">{{item.collection.item_count}} more posts</a>
	</div>

	{% include 'item_footer.html' with item=item %}
	<div class="clearfix"></div>
</div>
{% endwith %}