/*
    =================================================
    TYPEFACES
    =================================================
*/


@font-face {
    font-family: "Alright Sans";
    src: url("../fonts/alright_sans_regular-webfont.eot");
    src: url("../fonts/alright_sans_regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/alright_sans_regular-webfont.woff") format("woff"),
         url("../fonts/alright_sans_regular-webfont.ttf") format("truetype"),
         url("../fonts/alright_sans_regular-webfont.svg#Alright Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

/*
@font-face {
    font-family: "Alright Sans";
    src: url("../fonts/alright_sans_thin-webfont.eot");
    src: url("../fonts/alright_sans_thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/alright_sans_thin-webfont.woff") format("woff"),
         url("../fonts/alright_sans_thin-webfont.ttf") format("truetype"),
         url("../fonts/alright_sans_thin-webfont.svg#Alright Thin") format("svg");
    font-weight: 100;
    font-style: normal;
}
*/

@font-face {
    font-family: "Alright Sans";
    src: url("../fonts/alright_sans_thin-webfont.otf");
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: "Alright Sans";
    src: url('../fonts/alright_sans_medium-webfont.eot');
    src: url('../fonts/alright_sans_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_medium-webfont.woff') format('woff'),
         url('../fonts/alright_sans_medium-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_medium-webfont.svg#Alright Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Alright Sans";
    src: url('../fonts/alright_sans_thin_italic-webfont.eot');
    src: url('../fonts/alright_sans_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_thin_italic-webfont.woff') format('woff'),
         url('../fonts/alright_sans_thin_italic-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_thin_italic-webfont.svg#Alright Thin Italic') format('svg');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: "Alright Sans";
    src: url('../fonts/alright_sans_regular_italic-webfont.eot');
    src: url('../fonts/alright_sans_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_regular_italic-webfont.woff') format('woff'),
         url('../fonts/alright_sans_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_regular_italic-webfont.svg#Alright Regular Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Alright Sans";
    src: url('../fonts/alright_sans_medium_italic-webfont.eot');
    src: url('../fonts/alright_sans_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_medium_italic-webfont.woff') format('woff'),
         url('../fonts/alright_sans_medium_italic-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_medium_italic-webfont.svg#Alright Bold Italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

.modal-messages{
    display: none;
}