<div class="c-card">
	<div class="item-top">
		<div class="user-wrapper pull-left">
			<div>
				<a class="user-avatar" href="/{{activity.user.username}}/">
					<img class="pull-left" src="{{ activity.user.thumb_image }}" alt="{{ activity.user.name }}">
				</a>
			</div>
			<div class="user-info">
				<a class="user-name" href="/{{activity.user.username}}/">Recommended by</a>
				<a class="collection-title" href="/{{activity.user.username}}/">{{activity.user.name}}</a>
			</div>
		</div>
		<div class="item-added pull-right timeago" title="{{activity.created|date:"c"}}"></div>
		<div class="clearfix"></div>
	</div>

	{% if activity.collection.get_cover_thumb  %}
	<a class="c-thumb-link" href="{{ activity.collection.url }}">
		<div class="collection-thumb" style="background-image: url('{{activity.collection.get_cover_thumb}}');">
		</div>
	</a>
	{% endif %}

	<div class="title">
		<a href="{{ activity.collection.url }}">{{ activity.collection.title }}</a>
	</div>

	<div class="description">
		{% autoescape off %}
			{{ activity.collection.description|force_escape|urlize|truncatechars:150}}
		{% endautoescape %}
	</div>
</div>