{% extends 'base.html' %}


{% block content %}
    <div class="c-items section narrow feed">
        <div class="container">
            <div class="items-wrapper">
                {% for activity in activity_list %}
                    {% if activity.activity == "newpost" %} 
                        {% include 'feed_item_layout.html' %} 
                    {% else %} 
                        {% include 'feed_collection_layout.html' with collection=activity.collection %} 
                    {% endif %} 
                
                    {% if forloop.counter == 10 %}
                        </div></div></div>
                        <div class="section gray c-list feed">
                            <div class="container">
                                <div class="row">
                                    <h5>FEATURED COLLECTIONS</h5>
                                    <div class="short-line green"></div>
                                    {% include "collection_list.html" with collections=featured_collections %}
                                </div>
                            </div>
                        </div>
                        <div class="c-items section narrow feed">
                            <div class="container">
                                <div class="items-wrapper">
                    {% endif %}
                {%empty%}
                    <p class="empty-feed-message">I'm sorry to see your feed empty. Looks like you are not following anyone or subscribed to any collection. Follow some featured members to get their updates.</p>
                {% endfor %}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {% if not activity_list %} hidden {% endif %}" id="loadMoreWrapper">
                <button class="btn default load-more" data-since-id="{{last_id}}">Load More</button>
                <p class="eof-message">End of the Feed</p>
            </div>






<div class="right-panel">
    <div class="title"><h6 class="text-uppercase">Featured members</h6></div>
    <div class="p-list">
        {% for p in user.random_featured %}
                    <div class="p-list-row">
                        <a class="user-avatar pull-left" href="/{{p.username}}/" title="{{ p.name }}">
                            <img src="{{ p.thumb_image }}" alt="{{ p.name }}" width="128">
                        </a>
                        <div class="fields pull-left">
                            <a class="p-name" href="/{{p.username}}/" title="{{ p.name }}">{{p.name}}</a>
                            <a class="p-username" href="/{{p.username}}/" title="{{ p.name }}">@{{p.username}}</a>
                        </div>
                        {% if user.pk != p.pk %}
                            <div class="user-select pull-right">
                                <input id="@{{ p.username }}" type="checkbox" data-id="{{ p.pk }}" name="first" {% comment %}checked{% endcomment %} hidden data-state="True"  />
                                <label for="@{{ p.username }}">
                                    <i class="ion-ios-checkmark-empty"></i>
                                    <i class="ion-person-add"></i>
                                </label>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
            {% empty %}
            <div>
                <p>Congratulations, you are following all the featured members. Stay tuned for the new selection.</p>
            </div>
            {% endfor %}
    </ul>
</div>

<script src="/static/js/feed.js" type="text/javascript"></script>
{% endblock %}