<div class="c-card">
	<div class="item-top">
		<div class="user-wrapper pull-left">
			<div>
				<a class="user-avatar" href="/{{activity.user.username}}/">
					<img class="pull-left" src="{{ activity.user.thumb_image }}" alt="{{ activity.user.name }}">
				</a>
			</div>
			<div class="user-info">
				<a class="user-name" href="/{{activity.user.username}}/">{{ activity.user.name }}</a>
				<a class="collection-title" href="/c/{{activity.collection.slug}}/"><span>Recommended </span> {{activity.collection.title}}</a>
			</div>
		</div>
		<div class="item-added pull-right timeago" title="{{activity.created|date:"c"}}"></div>
		<div class="clearfix"></div>
	</div>
	<div class="c-box" data-id="{{ collection.pk }}">
		<a class="link c-thumb-link" href="{% url 'collection' collection.slug %}" title="{{ collection.title }}">
			<div class="title">{{ collection.title }}</div>
			<div class="collection-thumb" style="background-image: url('{% if collection.get_cover_thumb %}{{ collection.get_cover_thumb }}{% else %}/static/img/content/no-thumb.png{% endif %}');"></div>
			<div class="overlay"></div>
		</a>
		<div class="user-wrapper">
			<a class="user-name" href="/{{collection.owner.username}}/">{{ collection.owner.name }}</a>
		</div>
	</div>
</div>
<div class="hair-line"></div>