{% if item.get_image_medium %}
<div class="magazine-thumb">
	{% if item.url %}
		<a href="{{ item.url }}" class="track-item-link-click" data-event-label="list-item-image-link" rel="external nofollow" target="_blank">
	{% endif %}
		<div class="item-thumb-div" style="background-image: url('https:{{ item.get_image_medium.filename }}')">
		</div>
	{% if item.url %}
		</a>
	{% endif %}
</div>
{% endif %}