<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-US"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]> <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--> 
<html dir="ltr" lang="en-US" class="no-js" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>Page Not Found</title>

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<link rel="apple-touch-icon" href="/static/img/icons/iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/icons/ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/img/icons/iphone.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/img/icons/ipad-retina.png">
	<link rel="shortcut icon" href="/static/img/icons/favicon.ico">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
<div class="error-page-content">
	<div class="container">
		<div class="logo">
			<a href="{% url 'main' %}">Collex.io</a>
		</div>
		<div class="error-title">That page doesn't exist!</div>
		<div class="error-number">404</div>
		<div class="error-button">
			<a class="btn default" href="/">Click here to go to homepage</a>
		</div>
	</div>
</div>
</body>
</html>