{% load paragraphs %}
<div class="row">
	<div class="c-item article-item">
		{% if item.title %}
		<div class="title">
			{% if item.url %}
				<a href="{{ item.url }}" rel="external nofollow">{{ item.title }}</a></h3>
			{% else %}
				{{ item.title }}
			{% endif %}
		</div>
		{% endif%}

		<div class="">
			<div class="thumb pull-left">
				{% if item.url %}
					<a href="{{ item.url }}" rel="external nofollow">
				{% endif %}
					{% if item.get_thumb %}
						<img src="https:{{ item.get_thumb.filename }}" alt="{{ item.title }}" width="{{item.get_thumb.w}}" height="{{item.get_thumb.h}}">
					{% else %}
						<img src="{{ STATIC_URL }}img/content/no-thumb-small.png" alt="{{ item.title }}">
					{% endif %}
				{% if item.url %}
					</a>
				{% endif %}
			</div>

			{% if item.description and item.description != ' '%}
			<div class="description pull-left {% if item.title %} no-padding {%endif%}">
				{% autoescape off %}
					{{ item.description|force_escape|urlize|paragraphs}}
				{% endautoescape %}
			</div>
			{% endif %}
			<div class="clearfix"></div>
		</div>

		<div class="footer">
		
			{% if item.source %}
			<div class="source pull-left">
					<a href="{{ item.url }}" rel="external nofollow">{{ item.source }}</a>
			</div>
			{% endif %}	
			
			<div class="action-buttons">
				{% if collection.owner == user or user.is_superuser %}
				<div class="action-button pull-right">
					<a href="#" class="btn-icon" data-item-id="{{ item.pk }}" data-toggle="dropdown"><i class="fa fa-ellipsis-h" ></i></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="shareActionsDropdown{{item.pk}}">
						<li>
							<a href="#" class="edit-item" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal">Edit</a>
						</li>
						<li>
							<a href="#" class="delete-item" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#deleteItemModal">Delete</a>
						</li>
					</ul>
				</div>
				{% endif %}

				<div class="action-button pull-right">
					<a href="#" class="btn-icon add-tooltip" data-item-id="{{ item.pk }}" data-toggle="dropdown">
						<i class="fa fa-share"></i>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="shareItemDropdown{{item.pk}}">
						<li>
							<a href="http://twitter.com/share?text={{ item.title }} via @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Twitter</a>
						</li>
						<li>
							<a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Facebook</a>
						</li>
						<li>
							<a href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Google+</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

