<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-US"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]> <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html dir="ltr" lang="en-US" class="no-js" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="We have created Collex.io for you to collect beautiful pieces of web </br> However you can collect ugly things too if you really want. Options are limitless, choice is yours.">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{% block title %}collexio{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/collexio.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/new.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="/static/img/icons/iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/icons/ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/icons/iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/icons/ipad-retina.png">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico?v=1">

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/image-loader.js"></script>
    <script src="/static/js/tags.js"></script>
    <script src="/static/js/jquery.fitvids.js"></script>
    <script src="/static/js/jquery.timeago.js"></script>
    <script src="/static/js/jquery.tmpl.js"></script>

    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/ng/angular.min.js"></script>
    <script src="/static/js/ng/angular-resource.min.js"></script>
    <script src="/static/js/ng/ui-bootstrap-0.12.0.js"></script>
    <script src="/static/js/ng-collexio/app.js"></script>
    <script src="/static/js/ng-collexio/collaborators/module.js"></script>


    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-48172758-2', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
    <script src="//cdn.optimizely.com/js/2220960909.js"></script>
    {% block meta %}{% endblock %}

    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function (f, b) {
            if (!b.__SV) {
                var a, e, i, g;
                window.mixpanel = b;
                b._i = [];
                b.init = function (a, e, d) {
                    function f(b, h) {
                        var a = h.split(".");
                        2 == a.length && (b = b[a[0]], h = a[1]);
                        b[h] = function () {
                            b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                        }
                    }
                    var c = b;
                    "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                    c.people = c.people || [];
                    c.toString = function (b) {
                        var a = "mixpanel";
                        "mixpanel" !== d && (a += "." + d);
                        b || (a += " (stub)");
                        return a
                    };
                    c.people.toString = function () {
                        return c.toString(1) + ".people (stub)"
                    };
                    i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
                    for (g = 0; g < i.length; g++) f(c, i[g]);
                    b._i.push([a, e, d])
                };
                b.__SV = 1.2;
                a = f.createElement("script");
                a.type = "text/javascript";
                a.async = !0;
                a.src = "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
                e = f.getElementsByTagName("script")[0];
                e.parentNode.insertBefore(a, e)
            }
        })(document, window.mixpanel || []);
    </script>


    {% if BRUNCH == "Live" %}
        <script type="text/javascript">
            mixpanel.init("e75990a307c9975824954eac1b520129"); 
        </script>
    {% else %}
        <script type="text/javascript">
            mixpanel.init("54199ba9ee754b1e54b3b046ad220cc5"); 
        </script>
    {% endif %}

    <!-- end Mixpanel -->

    <script type="text/javascript">
        function getQueryParam(param) {
            param = param.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + param + "=([^&#]*)",
                regex = new RegExp(regexS),
                results = regex.exec(document.URL);
            if (results === null || (results && typeof (results[1]) !== 'string' && results[1].length)) {
                return '';
            } else {
                return decodeURIComponent(results[1]).replace(/\+/g, ' ');
            }
        };

        var action = getQueryParam("action");
        var move = getQueryParam("move");
        var signup = getQueryParam("signup");

        if (action != "") {
            mixpanel.register({
                "action": action,
                "move": move
            });
            mixpanel.people.set_once({
                "action": action,
                "move": move
            });
        }

        mixpanel.people.set_once({
            "referrer": document.referrer,
            "destination_page": document.URL
        });

        if (signup == "true") {
            mixpanel.track("signup");
        } else if (signup == "false") {
            mixpanel.track("signin");
        }

        mixpanel.track("pageview", {
            "url": document.URL,
            'signup': signup
        });
    </script>


    {% if user.is_authenticated %}
        <script>
            mixpanel.alias('{{user.pk}}');
            mixpanel.people.set({
                "username": "{{user.username}}",
                "$email": "{{user.email}}",
                "$first_name": "{{user.f_name}}",
                "$last_name": "{{user.l_name}}",
                "user_id": "{{user.id}}",
                "$created": "{{user.date_joined}}"
            }); 
        </script>
    {% endif %}

    {% if user.is_superuser %}
        <script type="text/javascript">
            mixpanel.register_once({
                "is_admin": true
            }); 
        </script>
    {% else %}
        <script type="text/javascript">
            mixpanel.register({
                "is_admin": false
            }); 
        </script>
    {% endif %}

</head>

<body>
    <img id="preloader" src="/static/img/main/preloader.gif" style="display:none;" />
    <div class="modal fade modal-fs new-item-modal" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="item-form-close" type="button" data-dismiss="modal" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                    </button>
                    <div class="modal-title" id="item-form-title" disable>Add New Item</div>
                </div>

                <div class="add-item-selection">
                    <ul class="nav nav-pills">
                        <li class="active link-item-btn"><a href="#"><i class="icon ion-link"></i>Link</a>
                        </li>
                        <li class="image-item-btn">
                            <a href="#"> <i class="icon ion-image"></i>Image</a>
                        </li>
                        <li class="note-item-btn"><a href="#"><i class="icon note-icon">T</i> Note</a>
                        </li>
                    </ul>
                </div>

                <div class="modal-body">
                    <div class="section narrow">
                        <div class="container">
                            <form method="post" class="link" id="add-item-form" autocomplete="off" action="/r/c/{{ collection.pk }}/add/" enctype="multipart/form-data">{% csrf_token %}


                                <div class="alert alert-danger modal-messages">
                                    <strong>Oh snap!</strong> <span id="message"></span>
                                </div>

                                <input name="card_data" id="card-data" type="hidden">
                                <input name="image_url" id="add-item-image-url" type="hidden">
                                <input name="source" id="add-item-source" type="hidden">
                                <input name="item_id" id="add-item-id" type="hidden">
                                <input name="media_removed" id="media-removed" type="hidden">
                                <input name="suggested" id="suggested" value="False" type="hidden">

                                <div class="form-group page-url">
                                    <label for="add-item-form-url">Page URL:</label>
                                    <input class="form-control" id="add-item-form-url" name="url" type="url" placeholder="Paste a URL and press Enter">
                                </div>

                                <div class="spinner" id="item-form-loading" style="display:none">
                                    <div><img id="preloader" src="/static/img/main/preloader.gif" />
                                    </div>
                                    <span>Loading...</span>
                                </div>

                                <div id="item-form">
                                    <div class="form-group">
                                        <label for="add-item-title">Title:</label>
                                        <input class="form-control" name="title" id="add-item-title" type="text" autofocus>
                                    </div>

                                    <div class="form-group item-image">
                                        <label for="item-image">Media:</label>
                                        <div class="item-preview">
                                            <div class="image-frame">
                                                <input name="image" data-url="/r/i/item_image_auto_upload/" id="item-image" type="file">
                                                <span class="glyphicon glyphicon-picture item-image-icon"></span>
                                                <div class="item-image-preview"></div>
                                                <div id="item-image-progress">
                                                    <div class="bar" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            <div class="card-preview"></div>
                                        </div>
                                        <button type="button" class="btn btn-sm default btn-remove-media pull-right" id="remove-img-btn" style="display:none;">Remove Media</button>
                                    </div>

                                    <div class="form-group">
                                        <label for="add-item-description">Notes:</label>
                                        <textarea class="form-control" name="description" id="add-item-description"></textarea>
                                    </div>
                                    <div class="form-group form-buttons">
                                        <button class="btn default" id="add-item-form-reset-btn" type="reset" data-dismiss="modal">Nevermind</button>
                                        <button class="btn primary" id="add-item-form-save-btn" type="button">Save</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                    </button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body text-center">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <a class="btn danger" id="deleteItemBtn" href="#">Delete</a>
                    <button class="btn gray" type="button" data-dismiss="modal">Nevermind</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="accountDeleteModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                    </button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body text-center">
                    It's not the goodbye that hurts, but the flashbacks that follow.
                    <br>We'll burn everything you left here anyway...
                </div>
                <div class="modal-footer">
                    <a class="btn danger" href="/account/{{ user.username }}/delete/">Delete</a>
                    <button class="btn gray" type="button" data-dismiss="modal">Nevermind</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="collectionDeleteModal" tabindex="-1" role="dialog" aria-labelledby="collectionDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                    </button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body text-center">
                    Deleted collections can not be recovered. They're gone. Dead. History. Finito.
                </div>
                <div class="modal-footer">
                    <a href="/c/{{ collection.pk }}/delete/" type="button" class="btn danger">Yes, I hate this collection!</a>
                    <button class="btn gray" type="button" data-dismiss="modal">No! Can't... do... this.</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" style="padding-bottom: 50px;">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                    </button>
                    <h3 class="" style="padding-bottom: 25px;">Sign in to start creating your collections!</h3>
                    <a class="btn primary track-signin" data-event-label="modal-twitter-signin" href="{% url 'signin' %}">
                        <i class="fa fa-twitter"></i>
                        <span>Sign in with Twitter</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="messageModal" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    Ups! There's a problem. I can't complete your request.
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fs" id="notificationsModal" role="dialog" aria-labelledby="notificationsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                    </button>
                    <h1 class="modal-title">Notifications</h1>
                </div>
                <div class="modal-body text-center">
                    <div class="section narrow">
                        <div class="container">
                            <div class="preloader">
                                <img src="/static/img/main/preloader.gif" />
                            </div>

                            <div class="nt-item js-template" id="" data-collection-name="">
                                <div class="nt-indicator"><i class="fa fa-circle"></i>
                                </div>
                                <div class="nt-user-image user-avatar pull-left">
                                    <a href=""><img src="" />
                                    </a>
                                </div>
                                <div class="nt-right pull-left">
                                    <div class="nt-user-name pull-left">
                                        <a href=""></a>
                                    </div>
                                    <div class="nt-time pull-right timeago"></div>
                                    <div class="nt-message"></div>
                                </div>
                            </div>

                            <div class="notifications-list clearfix">

                            </div>
                            <div class="loadMoreWrapper">
                                <button class="btn primary btn-load-more btn-nt-loadMore">Load More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fs" id="ntItemModal" role="dialog" aria-labelledby="ntItemModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true"><i class="ion-ios-close-empty"></i>
                </button>
                <h1 class="modal-title">Suggested Item</h1>
            </div>

            <div class="modal-body">
                <div class="notification section narrow">
                    <div class="container">
                        <div class="question"></div>
                        <div class="message"></div>
                        <div class="c-items"></div>
                        <div class="preloader">
                            <img src="/static/img/main/preloader.gif" />
                        </div>
                        <div class="sg-buttons pull-right">
                            <button class="btn default sg-nevermind-btn">Decline</button>
                            <button class="btn primary sg-accept-btn">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
       <nav class="container top-nav hidden">
        <div class="pull-right">
            <i class="icon fa fa-thumb-tack unpin"></i>
        </div>
        <div class="top-menu">
            {% if user.is_authenticated %}
            <div class="search-sidebar pull-left">
                <input type="text" class="search-input" placeholder="Type to search">
            </div>
            {% endif %}
        </div>
       </nav>
         <nav class="container top-nav transparent">
          <div class="top-menu">
                {% if user.is_authenticated %}

                <div class="dropdown pull-left">
                    <a class="pull-left selected" href="/" data-toggle="dropdown">
                        <span class="text-uppercase">Public Collections</span>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="shareLabel">
                        <li><a href="#" rel="external" id='public_link'>Public Collections</a></li>
                        <li><a href="#" rel="external" id='private_link'>Private Collections</a></li>
                        <li><a href="#" rel="external" id='collaborations_link'>Collaborations</a></li>
                    </ul>
                </div>
                <a class="btn   pull-right" href="{% url 'create-collection' %}">
                    <i class="icon fa fa-file-text-o"></i>New <span class="hidden-xs"> Collection</span>
                </a>
                {% endif %}
            </div>
        </nav>
        <ul class="nav nav-pills nav-stacked left-menu" role="menu" aria-labelledby="dLabel">
            

        </ul>

        <!--
       <div class="btn-menu">
            <a class="btn outline primary pull-left" href="/c/create/"  data-placement="bottom" title="" data-original-title="Create a Collection">New <span class="hidden-xs"> Section</span></a>
       </div>
       -->
               
        {% if not user.is_authenticated %}
        <div class="text-center">
            <a class="btn primary outline small btn-twitter-signin track-signin" data-event-label="sidebar-twitter-signin" href="/account/signin/?next={{request.build_absolute_uri|urlencode}}">
                <i class="icon ion-social-twitter-outline"></i>
                <span>Sign in with Twitter</span>
            </a>
        </div>
        {% endif %}

        <!--
        <div class="announce hidden-xs">
            <h2><a href="https://chrome.google.com/webstore/detail/collexio/jdgjfikhchiojiljljnlaemcbjepammk" target="_blank">Get the extension!</a></h2>
            <div class=""><i class="ion-social-chrome-outline"></i>
            </div>
            <p>Collex.io has nice Chrome extension for adding links easily</p>
            <a href="https://chrome.google.com/webstore/detail/collexio/jdgjfikhchiojiljljnlaemcbjepammk" target="_blank" class="btn white">Download</a>
        </div>
-->


    </div>
    <div class="content">
        <div class="wrapper">
            {% block header %}
            <nav class="container-fluid top-nav">
                {% include 'header.html' %}
            </nav>
            {% endblock header %}


            <div class="messages">
                {% for message in messages %}
                <div class="message {% if message.tags == ' error ' %}danger{% else %}success{%endif%}">
                    <span class="message-text">{{ message }}</span>
                </div>
                {% endfor %}
            </div>

            {% block content %} {% endblock content %}
            <a href="#" id="go-to-top"></a>
        </div>
    </div>
    {% if user.is_authenticated %}
    
    <div class="search-result-header">
        <div class="container">
            <div class="pull-right">
                <span>Searching on your collections</span>
                <input type="checkbox" name="toggle" id="toggle" checked="">
                <label for="toggle" class="pull-right"></label>
            </div>
            <ul class='nav sub-header nav-pills search-menu'>
                <li class="active"><a href=''>Posts</a>
                </li>
                <li><a href=''>Collection</a>
                </li>
                <li><a href=''>People</a>
                </li>
            </ul>

        </div>
    </div>

    {% endif %}
    <!--
<script src="/static/js/jquery.wookmark.min.js"></script>
-->

    <script src="/static/js/imagesloaded.pkgd.min.js"></script>

    <script src="//cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
    <script src="/static/js/application.js"></script>
    <script src="/static/js/mp_actions.js"></script>
    <script src="/static/js/ga_events.js"></script>
    <script src="/static/js/notifications.js"></script>
    <script>
    </script>
    <script>
        // Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice = window.UserVoice || [];
        (function () {
            var uv = document.createElement('script');
            uv.type = 'text/javascript';
            uv.async = true;
            uv.src = '//widget.uservoice.com/wvsxe9hMC8yHdYFGYSCjg.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv, s)
        })();

        //
        // UserVoice Javascript SDK developer documentation:
        // https://www.uservoice.com/o/javascript-sdk
        //

        // Set colors
        UserVoice.push(['set', {
            accent_color: '#448dd6',
            trigger_color: 'white',
            trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

        // Identify the user and pass traits
        // To enable, replace sample data with actual user traits and uncomment the line
        UserVoice.push(['identify', {
            //email:      'john.doe@example.com', // User’s email address
            //name:       'John Doe', // User’s real name
            //created_at: 1364406966, // Unix timestamp for the date the user signed up
            //id:         123, // Optional: Unique id of the user (if set, this should not change)
            //type:       'Owner', // Optional: segment your users by type
            //account: {
            //  id:           123, // Optional: associate multiple users with a single account
            //  name:         'Acme, Co.', // Account name
            //  created_at:   1364406966, // Unix timestamp for the date the account was created
            //  monthly_rate: 9.99, // Decimal; monthly rate of the account
            //  ltv:          1495.00, // Decimal; lifetime value of the account
            //  plan:         'Enhanced' // Plan name for the account
            //}
}]);

        // Add default trigger to the bottom-right corner of the window:
        UserVoice.push(['addTrigger', {
            mode: 'satisfaction',
            trigger_position: 'bottom-right'
        }]);

        // Or, use your own custom trigger:
        UserVoice.push(['addTrigger', '#uv-contact', {
            mode: 'contact'
        }]);

        // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
        UserVoice.push(['autoprompt', {}]);
    </script>
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>
        (function () {
            var uv = document.createElement('script');
            uv.type = 'text/javascript';
            uv.async = true;
            uv.src = '//widget.uservoice.com/wvsxe9hMC8yHdYFGYSCjg.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv, s)
        })()
    </script>

    {% if user.is_authenticated%}
    <script>
        {% autoescape off %}

        try {
            my_collections = {{ my_collections }}
        } catch (err) {
            my_collections = undefined;
        }

        {% endautoescape %}
            my_collections = JSON.parse(my_collections);
      
    </script>
    
    {% verbatim %}
    <script id="collectionTmpl" type="text/x-jquery-tmpl">
     <li class="s-item">
        <a class="item-wrapper pull-left" href="${collexio_url}">
            <div class="item-info">
                <h4 class="item-name">${title}</h4>
                <span class="date">${item_count} items from ${created} </span>
            </div>
            <div class="item-avatar">
                {{if get_small_cover_thumb!=""}}
                    <img class="pull-left" src="${get_small_cover_thumb}" alt="${owner}">
                {{/if}}
            </div>
        </a>
        <div class="clearfix"></div>
    </li>
    </script>
    {% endverbatim %}

<script>
    for (var item in my_collections["my_public"]) {
        $('#collectionTmpl').tmpl(my_collections["my_public"][item]).appendTo('.left-menu');

    }
    $("#private_link").on("click", function () {
        $(".left-menu").empty()
        for (var item in my_collections["my_private"]) {
            $('#collectionTmpl').tmpl(my_collections["my_private"][item]).appendTo('.left-menu');
        };
    });
    $("#public_link").on("click", function () {
        $(".left-menu").empty()
        for (var item in my_collections["my_public"]) {
            $('#collectionTmpl').tmpl(my_collections["my_public"][item]).appendTo('.left-menu');
        }
    });
    $("#collaborations_link").on("click", function () {
        $(".left-menu").empty()
        for (var item in my_collections["my_collaborations"]) {
            $('#collectionTmpl').tmpl(my_collections["my_collaborations"][item]).appendTo('.left-menu');
        }
    });
</script>

    {% endif %}

</body>

</html>