{% extends 'base.html' %}

{% block title %} {{ collection.title }} | Collex.io {% endblock %}

{% block meta %}
	<meta name="description" content="{{ collection.description }}">
	<meta property="og:site_name" content="Collex.io">
	<meta property="og:title" content="{{ collection.title }}">
	<meta property="og:description" content="{{ collection.description }}">
	<meta property="og:image" content="{{ collection.get_cover }}">
	<meta property="og:url" content="http://collex.io{% url 'collection' collection.slug %}">
	<meta property="og:type" content="article">
{% endblock %}


{% block header %}
{% endblock header %}


{% block content %}

{% if not user.is_authenticated %}
<div class="action-bar">
	Collexio, content sharing platform for Geeks <a href="/p/learn_more/" class="track-learnmore" data-event-label="actionbar-learn-more">Learn More</a>
</div>
{% endif %}


<nav class="container-fluid top-nav">
	{% include 'header.html' %}
</nav>

<nav class="nav-bar container-fluid collection-nav-fixed navbar-fixed-top">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="sidebar-btn pull-left">
				<i class="ion-navicon"></i>
			</div>
			<div class="title pull-left hidden-xs">
				<h1>
					<span class="ellipsis-text">{{ collection.title }}</span>
					<span class="text-muted normal-text">by <a href="/{{collection.owner.username}}/">{{ collection.owner.name }}</a></span>
				</h1>
			</div>
			<!-- Collection Buttons -->

			<div class="c-buttons pull-right" >
		
				<!--
				{% if collection.owner != user %}
					<a class="btn primary" id="btn-suggest-item" href="#" data-state="{% if user.username %}True{% endif %}">Suggest an Item</a>
				{% endif %}
				-->

				
				<!-- Setting Button -->
				{% if can_edit %}
					<div class="btn-settings-wrapper pull-right">
						<button class="btn default circle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
						<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="settingsLabel">
							<li><a class="" href="{% url 'collection-edit' collection.pk %}">Collection Settings</a></li>
							<li><a class="" href="{% url 'collection-collaboration-settings' collection.pk %}">Contribution Settings</a></li>
						</ul>
					</div>
				{% endif %}


				<!-- Private Button -->
				{% if can_edit %}
					{% if collection.is_private %}
						<a class="btn default circle btn-private pull-right" href="/c/{{collection.pk}}/edit/#privacy" data-toggle="tooltip" data-placement="bottom"  title="Private Collection"><i class="fa fa-lock"></i></a>
					{% else %}
						<a class="btn default circle btn-private btn-unprivate pull-right" data-toggle="tooltip" data-placement="bottom"  title="Public Collection" href="/c/{{collection.pk}}/edit/#privacy"><i class="fa fa-unlock-alt"></i></a>
					{% endif %}
				{% endif %}


				<!-- Share Buton -->
				{% if not collection.is_private %}		
				<div class="dropdown pull-right">
					<button class="btn default circle" data-toggle="dropdown"><i class="fa fa-share"></i></button>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="shareLabel">
						<li>
							<a href="http://twitter.com/share?text={{ collection.title|urlencode }} by @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Twitter</a>
						</li>
						<li>
							<a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Facebook</a>
						</li>
						<li>
							<a href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Google+</a>
						</li>
						<li>
							<a href="mailto:?subject={{collection.title}}&amp;body=%0D%0ACheck out this http://collex.io{% url 'collection' collection.slug %} %0D%0A%0D%0A%0D%0A-Share the things you love with http://collex.io" rel="external">Email</a>
						</li>
					</ul>
				</div>
				{% endif %}

				<!-- Subscribe Button -->
				{% if user.is_superuser or not can_edit or not can_add_item %}
					<div class="c-subscribe-button pull-right">
						<button class="btn subscribe-btn {%if is_subscribed%}primary subscribed{%else%}primary outline{%endif%}" data-c-id="{{collection.id}}" data-is-subscribed="{%if is_subscribed%}true{%else%}false{%endif%}">
						{%if is_subscribed%}SUBSCRIBED{%else%}SUBSCRIBE{%endif%}
						</button>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>

<div class="collection-hero {% if not collection.get_cover %}no-cover{% endif %}" {% if collection.get_cover %} style="background-image: url('{{ collection.get_cover}}'); "{% endif %}>
	<div class="overlay"></div>
	<div class="info-wrapper section mid">
		<div class="container">
			<h1 class="title">{{ collection.title }}</h1>
			<div class="meta">
				<a href="/{{collection.owner.username}}/">{{ collection.owner.name }}</a> on {{ collection.created|date:"M d" }}
			</div>
		</div>
	</div>
</div>

<div class="c-bottom-bar section narrow" style="height:64px;">
	<div class="container-fluid dropdown-toggle dropdown">
		<ul class="stats" id="dropdown_mobile_posts" data-toggle="dropdown" aria-expanded="true">
			<li class="stat hidden-sm hidden-md hidden-lg">
				<a href="/posts/">
					<h6 class="title">POSTS</h6>
					<span class="count">{{ collection.item_count }}</span>
				</a>
				<i class="fa fa-chevron-down"></i>
			</li>
			<li class="stat hidden-xs">
				<a href="/posts/">
					<h6 class="title">POSTS</h6>
					<span class="count">{{ collection.item_count }}</span>
				</a>
			</li>
			<li class="stat hidden-xs">
				<a href="/subscribers/">
					<h6 class="title">SUBSCRIBERS</h6>
					<span class="count">{{ collection.get_subscriptions_count }}</span>
				</a>
			</li>
			<li class="stat hidden-xs">
				<a href="/recommended/">
					<h6 class="title">RECOMMENDED</h6>
					<span class="count">{{ collection.get_recommendations_count }}</span>
				</a>
			</li>
		</ul>

		<ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dropdown_mobile_posts">
			<li><a href="">Posts ({{ collection.item_count }})</a></li>
			<li><a href="">Subscribers ({{ collection.get_subscriptions_count }})</a></li>
			<li><a href="">Recommended ({{ collection.get_recommendations_count }})</a></li>
		</ul>
		<!-- Collection Buttons -->

		<div class="c-buttons pull-right" >
	
			<!--
			{% if collection.owner != user %}
				<a class="btn primary" id="btn-suggest-item" href="#" data-state="{% if user.username %}True{% endif %}">Suggest an Item</a>
			{% endif %}
			-->

			
			<!-- Setting Button -->
			{% if can_edit %}
				<div class="btn-settings-wrapper pull-right">
					<button class="btn default circle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="settingsLabel">
						<li><a class="" href="{% url 'collection-edit' collection.pk %}">Collection Settings</a></li>
						<li><a class="" href="{% url 'collection-collaboration-settings' collection.pk %}">Contribution Settings</a></li>
					</ul>
				</div>
			{% endif %}


			<!-- Private Button -->
			{% if can_edit %}
				{% if collection.is_private %}
					<a class="btn default circle btn-private pull-right" href="/c/{{collection.pk}}/edit/#privacy" data-toggle="tooltip" data-placement="bottom"  title="Private Collection"><i class="fa fa-lock"></i></a>
				{% else %}
					<a class="btn default circle btn-private btn-unprivate pull-right" data-toggle="tooltip" data-placement="bottom"  title="Public Collection" href="/c/{{collection.pk}}/edit/#privacy"><i class="fa fa-unlock-alt"></i></a>
				{% endif %}
			{% endif %}


			<!-- Share Buton -->
			{% if not collection.is_private %}		
			<div class="dropdown pull-right">
				<button class="btn default circle" data-toggle="dropdown"><i class="fa fa-share"></i></button>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="shareLabel">
					<li>
						<a href="http://twitter.com/share?text={{ collection.title|urlencode }} by @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Twitter</a>
					</li>
					<li>
						<a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Facebook</a>
					</li>
					<li>
						<a href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Google+</a>
					</li>
					<li>
						<a href="mailto:?subject={{collection.title}}&amp;body=%0D%0ACheck out this http://collex.io{% url 'collection' collection.slug %} %0D%0A%0D%0A%0D%0A-Share the things you love with http://collex.io" rel="external">Email</a>
					</li>
				</ul>
			</div>
			{% endif %}

			<!-- Subscribe Button -->
			{% if user.is_superuser or not can_edit or not can_add_item %}
				<div class="c-subscribe-button pull-right">
					<button class="btn subscribe-btn {%if is_subscribed%}primary subscribed{%else%}primary outline{%endif%}" data-c-id="{{collection.id}}" data-is-subscribed="{%if is_subscribed%}true{%else%}false{%endif%}">
					{%if is_subscribed%}SUBSCRIBED{%else%}SUBSCRIBE{%endif%}
					</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>


{% if collection.description %}
	<div class="c-desc section narrow {%if collection.style == "pinboard" %}gray{%endif%}">
		<div class="container">
			<p class="collection-description">
				{% autoescape off %}
					{{ collection.description|urlize|linebreaksbr }}
				{% endautoescape %}
			</p>
			<div class="short-line"></div>
		</div>
	</div>
{% endif %}


{% if can_add_item %}
	<div class="section narrow new-item-btn">
		<div class="container">
			<button class="btn primary circle" id="btn-add-item" href="#"><i class="fa fa-pencil"></i></button>
		</div>
	</div>
{% endif %}

{% if not item_list %}
<div class="c-desc section narrow">
	<div class="container">
		<p class="collection-description">There are no items in this collection.</p>		
	</div>
</div>
{% else %}
	<div class="c-items section {{collection.style}}">
		<div class="container" id="itemsContainer">
			<div class="items-wrapper">
			{% for item in item_list %}
				{% if collection.style == "list" %}
					{% include 'list_item_layout.html' %}
				{% elif collection.style == "pinboard" %}
					{% include 'pinboard_item_layout.html' %}
				{% elif collection.style == "gallery" %}
					{% include 'gallery_item_layout.html' %}
				{% else %}
					{% include 'magazine_item_layout.html' %}
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class="container">
			{% if item_list.has_next %}
			<span style="display:none" id="pagingData" data-layout="magazine" data-next="{{item_list.next_page_number}}" data-has-next="{{item_list.has_next}}" data-collection="{{collection.pk}}"></span>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadMoreWrapper">
				<button class="btn default btn-load-more">Load More</button>
			</div>
			{% endif %}
		</div>
	</div>
{% endif %}

<div class="section white narrow c-bottom-buttons">
	<div class="container-fluid">
		<div class="container">
		<button class="btn primary {%if not is_recommended%}outline{%endif%} pull-left" id="recommend-btn" data-c-id="{{collection.id}}" data-is-recommended="{%if is_recommended%}true{%else%}false{%endif%}">
			<i class="icon fa fa-heart"></i>
			<span class="button-text">{%if is_recommended%}RECOMMENDED{%else%}RECOMMEND{%endif%}</span>
		</button>
		<div class="share-buttons">
			<a class="btn circle default" href="http://twitter.com/share?text={{ collection.title|urlencode }} by @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external" ><i class=" fa fa-twitter"></i></a>

			<a class="btn circle default" href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external"><i class="fa fa-facebook"></i></a>

			<a class="btn circle default" href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external"><i class="fa fa-google-plus"></i></a>

			<a class="btn circle default" href="mailto:?subject={{collection.title}}&amp;body=%0D%0ACheck out this http://collex.io{% url 'collection' collection.slug %} %0D%0A%0D%0A%0D%0A-Share the things you love with http://collex.io" rel="external"><i class="fa fa-envelope-o"></i></a>
			<!--
			<button class="btn default outline" data-toggle="dropdown">SHARE <span class="hidden-xs hidden-sm">THIS COLLECTION</span></button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="shareLabel">
				<li>
					<a href="http://twitter.com/share?text={{ collection.title|urlencode }} by @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Twitter</a>
				</li>
				<li>
					<a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Facebook</a>
				</li>
				<li>
					<a href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}" target="_blank" rel="external">Google+</a>
				</li>
				<li>
					<a href="mailto:?subject={{collection.title}}&amp;body=%0D%0ACheck out this http://collex.io{% url 'collection' collection.slug %} %0D%0A%0D%0A%0D%0A-Share the things you love with http://collex.io" rel="external">Email</a>
				</li>
			</ul>
			-->
		</div>
		</div>
	</div>
</div>

<!--
<div class="section white narrow">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-list-row">
				<div>
					<a class="user-avatar pull-left" href="/{{collection.owner.username}}/" title="{{ collection.owner.name }}">
						<img src="{{ collection.owner.thumb_image }}" alt="{{ collection.owner.name }}" width="128">
					</a>
					<div class="fields pull-left">
						<a class="p-name" href="/{{collection.owner.username}}/" title="{{ collection.owner.name }}">{{collection.owner.name}}</a>
						<a class="p-username" href="/{{collection.owner.username}}/" title="{{ collection.owner.name }}">@{{collection.owner.username}}</a>
					</div>
					{% if user.pk != profile.pk %}
						<button class="btn small btn-follow pull-right" data-id="{{collection.owner.pk}}" data-state="{{collection.owner.is_following_by_current_user}}" data-event-label="followers-follow">Follow</button>
					{% endif %}
					<div class="description">{{collection.owner.description}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->

{% if not user.is_authenticated %}
<div class="section callout narrow create-collection-callout">
	<div class="container">
		<h3 class="text-center">Start making your own collections today!</h3>
		<a class="btn primary track-pre-signin" href="#" data-toggle="modal" data-event-label="endofcoll-create-signin" data-target="#signInModal">Create a Collection</a>
	</div>
</div>
{%endif%}

<div class="section gray c-list f-collections-list">
	<div class="container">
		<div class="section-title">
			<h6>FEATURED COLLECTIONS</h6>
		</div>
		<div class="row">
			{% include "collection_list.html" %}
			<div class="clearfix"></div>
		</div>	
	</div>
</div>

{% include "footer.html" %}

<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/item-form.js"></script>
<script src="/static/js/collection.js"></script>
<script src="/static/js/follow-btn.js"></script>

<script>
	mixpanel.track("Collection View",{
		"url":document.URL
	});
</script>

{% endblock %}