{% for collection in collections %}
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="c-box" data-id="{{ collection.pk }}">
			<!--<div class="counts likes">
				<i class="fa fa-heart-o"></i>
				<span class="like-count">1.2K</span>
			</div>
			<div class="counts likes">
				<i class="fa fa-circle-thin"></i>
				<span class="item-count">17</span>
			</div>-->
			<a class="link" href="{% url 'collection' collection.slug %}" title="{{ collection.title }}">
				<div class="title">{{ collection.title }}</div>
				<img class="thumb" src="{% if collection.get_cover_thumb %}{{ collection.get_cover_thumb }}{% else %}/static/img/content/no-thumb.png{% endif %}" alt="{{ collection.title }}">
				<div class="overlay"></div>
			</a>
			
			<div class="user-wrapper">
				<a class="user-name" href="/{{collection.owner.username}}/">{{ collection.owner.name }}</a>
			</div>

			<!--
			<div class="user-wrapper">
				<div>
					<a class="user-avatar" href="/{{collection.owner.username}}/">
						<img class="pull-left" src="{{ collection.owner.thumb_image }}" alt="{{ collection.owner.name }}">
					</a>
					<a class="user-name" href="/{{collection.owner.username}}/"><span class="pull-left" >{{ collection.owner.name }}</span></a>
				</div>
			</div>
			-->
			
		</div>
	</div>
{% endfor %}
{% if collections.has_next %}
<span style="display:none" id="pagingData" data-list="{{tab}}" data-next="{{collections.next_page_number}}" data-has-next="{{collections.has_next}}" data-profile="{{collections.0.owner.pk}}"></span>
{% endif %}