{% extends 'base.html' %}

{% block content %}
<div class="section narrow" ng-app="Collexio">
<div class="container">
	<div class="title">
		<h1>Contribution Settings</h1>
	</div>
	<collaboratorlist cid="{{collection.pk}}" csrf="{% csrf_token %}"></collaboratorlist>
</div>
<script id="template/typeahead/typeahead-popup.html" type="text/ng-template">
	<ul class="autocomplete dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
	    <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
	        <typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></typeahead-match>
	    </li>
	</ul>
</script>
{% endblock %}
