{% extends 'base.html' %}

{% block content%}
<form class="contact-form" method="post" autocomplete="off" action="/" enctype="multipart/form-data">
	<div class="form-group">
		<label for="name">Email Address</label>
		<input class="form-control" id="name" name="name" type="text" value="{{ user.name }}" required>
		{{ form.name.errors }}
	</div>
</form>
{% endblock %}