{% extends 'base.html' %}

{% block header %}
<nav class="container-fluid top-nav collection-top-nav with-cover">
	{% include 'header.html' %}
</nav>
{% endblock header %}

{% block content %}

<form id="c-settings-form" method="post" autocomplete="off" action="" enctype="multipart/form-data" data-coll-id="{{colleciton.pk}}">{% csrf_token %}	

	<div class="collection-hero" {% if collection.get_cover %} style="background-image: url('{{ collection.get_cover }}');" {% else %} style="background-image: none;" {% endif %}>
		<div class="overlay"></div>	
		<div class="collection-preview">
			<p>Click here or drag an image to upload a cover photo for your collection</p>
			<span class="glyphicon glyphicon-picture"></span>
			<input id="c-cover" type="file" name="image">
			{{ form.image.errors }}
		</div>
	</div>

	<div class="section narrow">
		<div class="container">
			<div class="form-group">
				<label for="collection-name">Collection Name</label>
				<input class="form-control" id="collection-name" type="text" name="title" value="{{ form.title.value|default_if_none:"" }}" placeholder="">
					{{ form.title.errors}}
			</div>
			<div class="form-group">
				<label for="collection-description">Description <span class="text-muted">(Optional)</span></label>
				<textarea class="form-control" id="collection-description" name="description">{{ form.description.value|default_if_none:"" }}</textarea>
					{{ form.description.errors }}
			</div>
			<div class="form-group">
				<label for="tags_tag">Tags <span class="text-muted">(Optional)</span></label>
				<input class="form-control" id="tags" type="text" name="tags" value="{{ form.tags.value|default_if_none:"" }}">
					{{ form.tags.errors }}
			</div>
			<div class="form-group">
				<label for="order">Item Order</label>
				<div class="select">
					<select class="form-control" id="order" name="sort">
						<option value="firsttolast" {% if form.sort.value == 'firsttolast' %} selected {% endif %}>First to Last</option>
						<option value="lasttofirst" {% if form.sort.value == 'lasttofirst' %} selected {% endif %}>Last to first</option>
					</select>
					<i class="fa fa-chevron-down"></i>
				</div>
				{{ form.order.errors }}
			</div>
			<div class="form-group">
				<label for="style">Style</label>
				<div class="select">
					<select class="form-control" id="style" name="style">
						<option value="list" {% if form.style.value == 'list' %} selected {% endif %} >List</option>
						<option value="magazine" {% if form.style.value == 'magazine' %} selected {% endif %} >Magazine</option>
						<option value="pinboard" {% if form.style.value == 'pinboard' %} selected {% endif %}>Pinboard</option>
					</select>
					<i class="fa fa-chevron-down"></i>
				</div>
				{{ form.order.errors }}
			</div>
            <div class="form-group">
				<label for="visibility">Visibility</label>
				<div class="select" >
					<select class="form-control" id="visibility" name="visibility" >
						<option value="public" {% if form.visibility.value == 'public' %} selected {% endif %}  data-description="Public: Everyone can see this collection. It appears ears on your profile page and on your followers' home page.
">Public</option>
						<option value="private" {% if form.visibility.value == 'private' %} selected {% endif %} data-description="Private: Only you can see this collection.">Private</option>
						<option value="unlisted" {% if form.visibility.value == 'unlisted' %} selected {% endif %} data-description="Unlisted: Others may access this collection if you provide them the link. This collection won't be listed under your public collections and won't appear on your followers' home page.
">Unlisted</option>
					</select>

					<i class="fa fa-chevron-down"></i>
				</div>
				<p class="form-description" id='description'>Public: Everyone can see this collection. It appear ears on your profile page and on your followers' home page.</p>
				{{ form.order.errors }}
			</div>
{#			<div class="form-group">#}
{#				<a id="privacy"></a>#}
{#				<label>#}
{#					<input type="checkbox" name="private" value="1" {% if collection.is_private %}checked{% endif %}> Private Collection#}
{#				</label>#}
{#			</div>#}
			{% if user.is_superuser %}
			<div class="form-group">
				<label>
					<input type="checkbox" name="featured" value="1" {% if collection.is_featured %}checked{% endif %}> Featured
				</label>
			</div>
			{% endif %}

			<div class="form-group">
				<button class="btn primary pull-right collection-save-btn" type="submit">Save</button>
				{% if collection %}
					<button class="btn danger pull-left" type="button" data-toggle="modal" data-target="#collectionDeleteModal">Delete</button>
					<a href="/c/{{collection.slug}}/" class="btn default pull-right" type="button">
						<i class="icon ion-ios-arrow-left"></i> 
						<span>Back to collection</span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</form>

<script>
{% if collection_edit %}
	$('#c-settings-form').addClass('track-edit-collection');
{% else %}
	$('#c-settings-form').addClass('track-new-collection');
{% endif %}
</script>

{% include "footer.html" %}

{% endblock %}