<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Collexio Extension</title>

	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/ext.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<img class="text-center" src="{{ STATIC_URL }}img/logo.svg" width="100">
				</h5>
			</div>
			<div class="modal-body text-muted">
				Sign in to Collex.io to add this item...
			</div>
			<div class="modal-footer">
				<!--
				<button type="button" class="btn btn-primary">
					<i class="fa fa-twitter"></i>
					<span>Sign in with Twitter</span>
				</button>
				-->
				<a href="{% url 'signin' %}" target="_blank" class="btn btn-primary">
					<i class="fa fa-twitter"></i>
					<span>Sign in with Twitter</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="collectModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<h1>DONE :) </h1>
			<a href="/c/{{collection.slug}}/" target="_blank">Show me the collection</a>
			<a href="#" data-dismiss="modal">Just close this.</a>
		</div> <!-- // .modal-content -->
	</div> <!-- // .modal-dialog -->
</div> <!-- // .modal -->

<!--
<div class="container">
	<br>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#collectModal">Add to collection</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">Sign In</button>
</div>
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>

<script type="text/javascript">
	$('#collectModal').modal('show');
</script>
</body>
</html>