<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Collexio Extension</title>

	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/ext.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<img class="text-center" src="{{STATIC_URL}}img/logo.svg" width="100">
				</h5>
			</div>
			<div class="modal-body text-muted">
				Sign in to Collex.io to add this item...
			</div>
			<div class="modal-footer">
				<!--
				<button type="button" class="btn btn-primary">
					<i class="fa fa-twitter"></i>
					<span>Sign in with Twitter</span>
				</button>
				-->
				<a href="{% url 'signin' %}" target="_blank" class="btn btn-primary">
					<i class="fa fa-twitter"></i>
					<span>Sign in with Twitter</span>
				</a>
			</div>
		</div>
	</div>
</div>

{% include "collection_list_modal.html" %}


<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="item-form-title">Add New Item</h4>
			</div>
			<form method="post" id="add-item-form" autocomplete="off" action="/r/c/{{ collection.pk }}/add/" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					<div class="alert alert-danger modal-messages">
						<strong>Oh snap!</strong> <span id="message"></span>
					</div>
					<div id="url-form">
						<div class="modal-items">
							<label class="text-muted" for="add-item-form-url">Page URL:</label>
							<input class="form-control" id="add-item-form-url" name="url" type="url">
							<input name="card_data" id="card-data" type="hidden">
							<input name="image_url" id="add-item-image-url" type="hidden">
							<input name="source" id="add-item-source" type="hidden">
						</div>
					</div>
					<div class="spinner" id="item-form-loading" style="display: none;">
						<div class="spinner-icon"></div>
						<span>Loading...</span>
					</div>
					<div id="item-form">
						<div class="modal-items">
							<label class="text-muted" for="add-item-title">Title:</label>
							<input class="form-control" name="title" id="add-item-title" type="text" autofocus>
						</div>
						<div class="modal-items">
							<label class="text-muted" for="item-image">Item Preview:</label>
							<div class="item-preview">
								<div class="image-frame" >
									<input name="image" data-url="/r/i/item_image_auto_upload/" id="item-image" type="file">
									<span class="glyphicon glyphicon-picture item-image-icon"></span>
									<div class="item-image-preview"></div>
									<div id="item-image-progress">
									    <div class="bar" style="width: 0%;"></div>
									</div>
								</div>
							</div>

							<!-- <input class="form-control" name="image_url" id="add-item-image-url" type="hidden">
							<input class="form-control" name="image" id="item-image" type="file"> -->
						</div>
						<div class="modal-items">
							<label class="text-muted" for="add-item-description">Description:</label>
							<textarea class="form-control" name="description" id="add-item-description"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" id="add-item-form-reset-btn" type="reset" data-dismiss="modal">Nevermind</button>
					<button class="btn btn-success" id="add-item-form-save-btn" type="button">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!--
<div class="container">
	<br>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#collectModal">Add to collection</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">Sign In</button>
</div>
-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/image-loader.js"></script>
<script src="/static/js/tags.js"></script>
<script src="/static/js/jquery.fitvids.js"></script>
<script src="//cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/application.js"></script>

{% if user.is_authenticated %}
	<script type="text/javascript">
		var siteContent = "{% autoescape off %}{{site_content|escapejs}}{% endautoescape %}";
		siteContent = unescape(siteContent)
		siteContent = JSON.parse(siteContent);
		var isExtension = true;
		$('#collectModal').modal('show');
		

		$('.close').on('click',function(){
			parent.postMessage('cx_close',"*");
		});

		$('.collection-link').on('click',function(){
			$('#add-item-form').attr('action','/r/c/'+$(this).data('collection-id')+'/add/');
			if (siteContent.preview.html){
				$('.item-preview').html(siteContent.preview.html)
				$(".item-preview").fitVids({ customSelector: "iframe[src^='//vine.co'], iframe[src^='http://myviiids.com']"});
				$('.embedly-url').embedly({key: '1457678e02504979b6c7eb1170968ddd'});
			}else if (siteContent.image!=undefined){
				$('.item-image-preview').html('<img src="'+siteContent.image+'" class="add-item-image"/>');
			}

			$('#add-item-form-url').val(siteContent.url);
			$('#add-item-source').val(siteContent.source);
			$('#add-item-image-url').val(siteContent.image); 
			$('#card-data').val(JSON.stringify(siteContent.card));
			$('#add-item-title').val(siteContent.title);
			$('#add-item-description').val(siteContent.description);
			$('#collectModal').modal('hide');
			$('#addItemModal').modal('show');

		});
	</script>
{% else %}
<script type="text/javascript">
		$('#signInModal').modal('show');
	</script>
{% endif %}
</body>
</html>