{% extends 'base.html' %}

{% block title %} Frequently Asked Questions | Collex.io {% endblock %}

{% block content %}

<header class="header clearfix">
	{% include 'header.html' %}
</header>

<div class="container">

	<h1 class="section-heading">Frequently Asked Questions</h1>
	<h2 class="section-description">We thought you might want to know these. If there's anything else, <a href="https://twitter.com/CollexioHQ" rel="external nofollow">tweet us</a>.</h2>

	<ul class="help-items list-unstyled">
		<li>
			<h3>Q: What is Collex.io?</h3>
			<p>A: Collex.io is the home of your collections. We know that you like to collect and list your favorite things. So we thought we could help you do that.</p>
		</li>
		<li>
			<h3>Q: What good is that gonna do?</h3>
			<p>
				A1- It'll keep your favorite things listed and you can reach them whenever you want.<br>
				A2- You can reflect your personal tastes, you can express yourself with your collections.<br>
				A3- You can post anything on collex.io and take a look at it later. Collections don't have to include things you like a lot.
			</p>
		</li>
		<li>
			<h3>Q: Got it! How do I sign up?</h3>
			<p>A: You're gonna need a Twitter account for that. We'd like to start a simple as possible. So we're only accepting Twitter signins right now. The "<strong>Sign in with Twitter</strong>" button is on the upper-right corner of every page on the website. It changes to something else when you sign in. Try it.</p>
		</li>
		<li>
			<h3>Q: I don't have a Twitter account :(</h3>
			<p>A: Don't worry. You can still use Collex.io as a reader. You can browse other users' collections and share them on Facebook, Twitter (ah sorry you don't have that) or Google+.</p>
		</li>
		<li>
			<h3>Q: How do I sign out of Collex.io?</h3>
			<p>A: Click your profile picture and go to Sign Out</p>
		</li>
		<li>
			<h3>Q: Is there a good way to find collections?</h3>
			<p>A: Right now we're choosing the nice collections manually. If you guys have any suggestions, send them to <code>jimmy[at]collex.io</code>. We might add a search button later. (We'll definitely add a search button later)</p>
		</li>
		<li>
			<h3>Q: How can I contact you?</h3>
			<p>A: You can tweet to us <a href="https://twitter.com/CollexioHQ" rel="external nofollow">@CollexioHQ</a>, email us at <code>team[at]collex.io</code></p>
		</li>
		<li>
			<h3>Q: Do you have a mobile app?</h3>
			<p>A: Soon...</p>
		</li>
		<li>
			<h3>Q: Why do you need these permissions about my Twitter account?</h3>
			<p>A: You probably have hundreds of account at hundreds of websites. We don't want you to waste your time creating another one. You see, everything we do is just for you.
			We’re honest people and we're not gonna post anything using your account. Promise! (the permission doesn't work like that anyway).</p>
		</li>
		<li>
			<h3>Q: Somebody’s using my works/photos/collections without my permission!</h3>
			<p>A: You can contact us at <code>copyright[at]collex.io</code>, we'll do the rest.</p>
		</li>
		<li>
			<h3>Q: I'm boring enough to be interested in your Privacy Policy and Terms of Service?</h3>
			<p>A: Go <a href="{% url 'main' %}p/privacy/">here</a> and <a href="{% url 'main' %}p/terms/">here</a>. And don't come back until you are fun enough. <em>sighs</em></p>
		</li>
	</ul>

	{% include "footer.html" %}

</div> <!-- // .container -->

{% endblock %}