<footer class="section footer">
	<a href="/c/collexio-frequently-asked-questions-1407854125/">FAQ</a> ·
	<a href="/p/terms/">Terms</a> ·
	<a href="/p/privacy/">Privacy</a> ·
	<a href="#" id="uv-contact">Contact</a>
</footer>