{% extends 'base.html' %}

{% block content %}

<header class="header clearfix">
	{% include 'header.html' %}
</header>

<div class="container">
	<table class="table table-striped table-responsive">
		{% for collection in collections %}
			<tr>
				<td><a href="{% url 'collection' collection.slug %}"> {{ collection.title }}</a></td>
				<td>{{ collection.created }}</td>
				<td>{{ collection.owner.name }}</td>
				<td><a href="{% url 'collection-edit' collection.pk %}">Edit</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}