{% extends 'base.html' %}

{% block content %}

<div class="section narrow">
	<div class="container">
		<form method="post" autocomplete="off" action="">{% csrf_token %}
			<div class="form-group">
				<h1>Almost Done!</h1>
				<label for="email-address">I need your email address to complete registration (Not displayed publicly)</label></h3>
				<input class="form-control" id="email-address" name="email" type="email" required>
				<p class="form-description">We need your e-mail address in order to validate your account and inform you about any changes or updates on Collexio and your account. You will also receive automated e-mails for your notifications on Collexio from which you can unsubscribe if you wish. We respect our users' privacy and will never share your e-mail address with anyone.</p>
			</div>
			<div class="form-group pull-right">
				<button class="btn primary" type="submit">Save</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}