<div class="sidebar-btn pull-left">
	<i class="ion-navicon"></i>
</div>

<div class="logo  hidden-xs">
	<a href="{% url 'main' %}">Collex.io</a>
</div>

<!--
{%if tab == "feed" or tab == "featured" %}
<div class="index-nav">
	<div class="container">
		<ul class="nav nav-pills">
			{% if user.is_authenticated %}<li {%if tab == "feed"%} class="active" {%endif%}><a href="/">From Friends</a></li>{%endif%}
			<li {%if tab == "featured"%} class="active" {%endif%}><a href="/c/featured/">Featured</a></li>
		</ul>
	</div>
</div>
{% endif %}
-->


	
<div class="top-menu pull-right">
	
	{% if user.is_authenticated %}
		
		<a class="user-avatar pull-right dropdown gray" href="/" data-toggle="dropdown">
			<img src="{{ user.thumb_image }}" alt="{{ user.name }}">
			<i class="fa fa-chevron-down"></i>
		</a>
		<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
			
		<li><a href="/">Home</a></li>
			<li><a href="{% url 'profile' user.username %}">My Profile</a></li>
			<li><a href="{% url 'create-collection' %}">New Collection</a></li>
			<!--<li><a href="{% url 'profile' user.username %}/private/">Private Collections</a></li>-->
			<li><a href="{% url 'settings' user.username %}">Profile Settings</a></li>
        	<li><a href="/p/learn_more/">About</a></li>
			<li><a href="/c/collexio-frequently-asked-questions-1407854125/">FAQ</a></li>
			<li><a href="{% url 'signout' %}">Sign Out</a></li>
		</ul>

		<button class="btn circle default btn-notifications  pull-right " data-toggle="tooltip" data-placement="bottom"  title="Notifications"><i class="fa fa-bell"></i></button>
		
		<button class="btn circle default pull-right" data-toggle="tooltip" data-placement="bottom" title="Search" id='searchTrigger'><i class="fa fa-search"></i></button>
		
		<!--<a class="btn circle primary pull-right" href="{% url 'create-collection' %}" data-toggle="tooltip" data-placement="bottom" title="Create a Collection"><i class="fa fa-pencil"></i></a>-->
		
		{% if user.nt_count > 0 %}
			<div class="nt-indicator"><i class="fa fa-circle"></i></div>
		{% endif %}


	{% else %}
		<a class="btn {% if collection.get_cover %} white {%else %}primary{%endif%} outline small" data-event-label="collection-twitter-signin" href="/account/signin/?next={{request.build_absolute_uri|urlencode}}">
			<i class="icon ion-social-twitter-outline"></i>
			<span>Sign in <span class="hidden-xs">with Twitter</span></span>
		</a>
		
		<a class="btn btn-primary pull-right btn-create" href="#" id="create-collection-btn">
			<span>Create Collection</span>
		</a>
		
	{% endif %}
</div>

<div class="search-nav">
<div class="icon-search-container pull-right">
        <div class='container'>
            <button class="btn btn-icon btn-search">
                <i class="fa fa-search"></i>
            </button>
            <input type="text" class="search-input " id='searchInput' placeholder="Write a text of username to search" />
        </div>
        <button class="btn btn-icon btn-close pull-right" id='searchClear'>
            <i class="ion-close-round"></i>
        </button>
    </div>
 <div class="auto-complete-results">
        <center class="preloader" style="display:none;"><img src="/static/img/main/preloader.gif"/></center>
        <ul class="container"></ul>
        <div class="clearfix"></div>
        <a href="#" class="more-result">Press enter or click here to advanced search</a>
    </div>
</div>

