{% extends 'base.html' %}


{% block header%}
	{% if not user.is_authenticated %}
	<div class="masthead">
		<div class="color-layer">
			<div class="container">
				<div class="masthead-body">
					<div class="logo">
						<a class="align-center" href="{% url 'main' %}">Collex.io</a>
					</div>
					<div class="hero-text">
						<h1>New way of getting and sharing content you like</h1>
						<p>Collexio is a great way of collecting and sharing ideas, stories, knowledge or your passions with your friends, family and all the world.</p>
					</div>
					<div>
						<a class="btn white btn-lg outline track-signin" data-event="signin" data-event-label="masthead-twitter-signin" href="{% url 'signin' %}">
							<i class="icon fa fa-twitter"></i>
							<span>Sign in with Twitter</span>
						</a>
					</div>
					<div>
						<a href="/p/learn_more/" class="btn btn-link track-learnmore" data-event="learn-more" data-event-label="masthead-learn-more">
							<span>Learn More</span>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div> <!-- // .container -->
			<div class="clearfix"></div>
			{% include "footer.html" %}
		</div>
	</div> <!-- // .welcome -->
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}



{% block content %}

{% if user.is_authenticated %}
	<a id="featured" class=""></a>
	{% if user.is_authenticated and user.following_count <= 0 %}
		<div class="section callout">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						Looks like you're not following anyone. You can try inviting your friends or discovering "Featured Collections" below to find new people to follow.
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="section gray c-list">
		<div class="container">

			<div class="row" id="collectionList">
				{% include "collection_list.html" %}
			</div>


			{% if collections.has_next %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadMoreWrapper">
					<button class="btn primary btn-load-more">Load More</button>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% include "footer.html" %}



	<script src="/static/js/collection.js"></script>
{% endif %}
{% endblock %}


