<div class="footer" style="">
		{% if item.source %}
			<div class="source pull-left">
				<a href="{{ item.url }}" class="track-item-link-click" data-event-label="item-footer-link" rel="external nofollow" target="_blank">{{ item.source }}</a>
			</div>
		{% endif %}
		<div class="action-buttons">
			{% if item.collection.owner == user or user.is_superuser %}
			<div class="action-button pull-right">
				<a href="#" class="btn-icon" data-item-id="{{ item.pk }}" data-toggle="dropdown"><i class="ion-ios-more" ></i></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="shareActionsDropdown{{item.pk}}">
					<li>
						<a href="#" class="edit-item" data-item-id="{{ item.pk }}">Edit</a>
					</li>
					<li>
						<a href="#" class="delete-item" data-item-id="{{ item.pk }}">Delete</a>
					</li>
				</ul>
			</div>
			{% endif %}

			<div class="action-button pull-right">
				<a href="#" class="btn-icon add-tooltip" data-item-id="{{ item.pk }}" data-toggle="dropdown">
					<i class="ion-ios-upload-outline"></i>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="shareItemDropdown{{item.pk}}">
					<li>
						<a href="http://twitter.com/share?text={{ item.title }} via @{{ item.collection.owner.username }}&url=http://collex.io/c/{{item.collection.slug}}/%23{{item.id}}" target="_blank" rel="external">Twitter</a>
					</li>
					<li>
						<a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io/c/{{item.collection.slug}}/%23{{item.id}}" target="_blank" rel="external">Facebook</a>
					</li>
					<li>
						<a href="https://plus.google.com/share?url=http://collex.io/c/{{item.collection.slug}}/%23{{item.id}}" target="_blank" rel="external">Google+</a>
					</li>
					<li>
						<a href="mailto:?subject={{collection.title}}&amp;body=%0D%0ACheck out this http://collex.io/c/{{item.collection.slug}}/%23{{item.id}} %0D%0A%0D%0A%0D%0A-Share the things you love with http://collex.io" rel="external">Email</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>