{% extends 'base.html' %}
{% block header%}
{% endblock %}

{% block content%}
<div class="section subpage-masthead">
	<div class="color-layer">
		<div class="container container-fluid">
			<div class="masthead-body">
				<div class="logo">
					<a class="align-center" href="{% url 'main' %}">Collex.io</a>
				</div>
				<div class="hero-text">
					<h1>ABOUT</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section learnmore">
	<div class="container">
		<div class="desc">
			<p>An early stage platform for creating and sharing collections of online resources, images and texts in a clear, interactive and uncluttered interface.</p>
			<div class="short-line"></div>
		</div>
		
		<h3>Collections</h3>
		<p>Collexio is built around a simple idea: Collections. It’s not just a bucket for your content. Collexio allows you to keep, collect and curate in a contextual, searchable and shareable manner.</p>
	
		<h3>Your own way</h3>
		<p>Don't limit yourself to bookmarking or micro updates. It’s so simple and flexible that it can be used for countless of different purposes. In addition to embedding web content, you can add your own images and notes.</p>
	
		<h3>Super Simple</h3>
		<p>We are working hard to keep things extremely simple both in usage and display. No extra buttons, texts, visuals or even colors. Present your content in a simple, beautiful, clean and uncluttered interface.</p>
	
		<h3>Interactive</h3>
		<p>Your content not just presented visually, they are interactive too. Retweetable Tweet cards, embedded videos, Amazon product cards with up to date prices and more.</p>
	
		<div class="last">
			<p>Join Collexio today. It’s free & will always be free</p>
			<div class="text-center">
				<a class="btn primary btn-lg outline track-signin" data-event="signin" data-event-label="learnmore-twitter-signin" href="{% url 'signin' %}">
					<i class="icon ion-social-twitter"></i>
					<span>Sign in with Twitter</span>
				</a>
			</div>
		</div>
		<div class="ps">
			<p>More questions? We’ll be happy to keep in touch with you. <a href="#" id="uv-contact">Contact</a></p>
		</div>
	</div>
</div>
{% endblock %}