<ol class="collection-items list-unstyled">

	{% for item in item_list %}

		<li class="collection-item clearfix">
			<div class="container">
				<div class="row">
					<div class="collection-thumb col-md-2 col-sm-2 col-xs-3">

						{% if item.url %}
							<a href="{{ item.url }}" rel="external nofollow">
						{% endif %}
								
						{% if item.get_thumb %}
							<img class="img-circle" src="{{ item.get_thumb }}" alt="{{ item.title }}">
						{% else %}
							<img class="img-circle" src="{{ STATIC_URL }}img/content/no-thumb-small.png" alt="{{ item.title }}">
						{% endif %}
		
						{% if item.url %}
							</a>
						{% endif %}
		
					</div>
					<div class="collection-info col-md-10 col-sm-10 col-xs-9">
						<div class="row">

							<h3>
								{% if item.url %}
									<a href="{{ item.url }}" rel="external nofollow">{{ item.title }}</a></h3>
								{% else %}
									{{ item.title }}
								{% endif %}
							</h3>
							<div class="collection-footer text-muted">
						
								{% if item.source %}
									<a href="{{ item.url }}" rel="external nofollow" class="pull-left item-source"><i class="fa fa-link"></i> {{ item.source }}</a>
								{% endif %}
								<!--{{ item.added }}-->
								
								<!--<a href="#" class="pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal"><i class="fa fa-retweet"></i> <span class="hidden-xs">Re Collect</span></a>-->
								<a href="#" class="pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="dropdown"><i class="fa fa-share"></i> <span class="">Share</span></a>
								<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="shareItemLabel">
									<li><a href="http://twitter.com/share?text={{ item.title }} via @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Twitter</a></li>
									<li><a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Facebook</a></li>
									<li><a href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Google+</a></li>
								</ul>
								<!--<a href="#" class="pull-right" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal"><i class="fa fa-heart"></i> <span class="hidden-xs">Like</span></a>-->
								
								{% if collection.owner == user or user.is_superuser %}
									<a href="#" class="delete-item pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#deleteItemModal"><i class="fa fa-trash"></i> <span class="hidden-xs">Delete</span></a>
									<a href="#" class="edit-item pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal"><i class="fa fa-pencil-square-o"></i> <span class="hidden-xs">Edit</span></a>
								{% endif %}
								<div class="clearfix"></div>
							</div>
							<!--
							<div class="collection-footer text-muted">
								{% if item.source %}
									<a href="{{ item.url }}" rel="external nofollow">{{ item.source }}</a> ·
								{% endif %}
								{{ item.added }}
								{% if collection.owner == user or user.is_superuser %}
									· <a href="#" class="edit-item" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal">Edit</a>
									· <a href="#" class="delete-item" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#deleteItemModal">Delete</a>
								{% endif %}
							</div>
							-->

						</div>
					</div>
				</div>
			</div>
		</li>

	{% endfor %}

</ol>