{% load paragraphs %}

<div class="c-item list-item">
	<a id="{{ item.id }}" class="item-point"></a>

	<div>
	<div class="thumb pull-right">
		{% if item.url %}
			<a href="{{ item.url }}" class="track-item-link-click" data-event-label="list-item-image-link" rel="external nofollow" target="_blank">
		{% endif %}
			{% if item.get_thumb %}
				<img src="https:{{ item.get_thumb.filename }}" alt="{{ item.title }}" width="{{item.get_thumb.w}}" height="{{item.get_thumb.h}}">
			{% else %}
				<img src="/static/img/content/no-thumb-small.png" alt="{{ item.title }}">
			{% endif %}
		{% if item.url %}
			</a>
		{% endif %}
	</div>

	<div class="item-body pull-left">
		{% if item.title %}
		<div class="title">
			{% if item.url %}
				<a href="{{ item.url }}" class="track-item-link-click" data-event-label="list-item-title-link" rel="external nofollow" target="_blank">{{ item.title }}</a></h3>
			{% else %}
				{{ item.title }}
			{% endif %}
		</div>
		{% endif%}

		{% if item.description and item.description != ' '%}
		<div class="description">
			{% autoescape off %}
				{{ item.description|truncatechars:125|force_escape|urlize}}
			{% endautoescape %}
		</div>
		{% endif %}
		{% include 'item_footer.html' %}
	</div>
	<div class="clearfix"></div>
	</div>
	
</div>