<!-- Collection Items-->
<li class="collection-item clearfix">
	<a id="{{ item.id }}" class="item-point"></a>
	<div class="container">
		<div class="collection-info">

			{% if item.title %}
			<h3 class="magazine-item-heading">
				{% if item.url %}
					<a href="{{ item.url }}" rel="external nofollow">{{ item.title }}</a></h3>
				{% else %}
					{{ item.title }}
				{% endif %}
			</h3>
			{% endif%}

			<div class="item-card">
				{% if item.card.type == "video" %}
					{% include 'cards/video_card.html' %}
				{% elif item.card.type == "rich" %}
					{% autoescape off %}
						{{item.card.html}}
					{% endautoescape %}
				{%else %}
					{% include 'cards/default_card.html' %}
				{% endif %}
			</div>


			{% if item.description and item.description != ' '%}
				<div class="collection-item-description">
					{{ item.description|urlize }}
				</div>
			{% endif %}

			<div class="collection-footer text-muted">
				
				{% if item.source %}
					<a href="{{ item.url }}" rel="external nofollow" class="pull-left item-source"><i class="fa fa-link"></i> {{ item.source }}</a>
				{% endif %}
				<!--{{ item.added }}-->
				
				<!--<a href="#" class="pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal"><i class="fa fa-retweet"></i> <span class="hidden-xs">Re Collect</span></a>-->
				<a href="#" class="pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="dropdown"><i class="fa fa-share"></i> <span class="">Share</span></a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="shareItemLabel">
					<li><a href="http://twitter.com/share?text={{ item.title }} via @{{ collection.owner.username }}&url=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Twitter</a></li>
					<li><a href="http://www.facebook.com/sharer/sharer.php?u=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Facebook</a></li>
					<li><a href="https://plus.google.com/share?url=http://collex.io{% url 'collection' collection.slug %}%23{{item.id}}">Google+</a></li>
				</ul>
				<!--<a href="#" class="pull-right" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal"><i class="fa fa-heart"></i> <span class="hidden-xs">Like</span></a>-->
				
				{% if collection.owner == user or user.is_superuser %}
					<a href="#" class="delete-item pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#deleteItemModal"><i class="fa fa-trash"></i> <span class="hidden-xs">Delete</span></a>
					<a href="#" class="edit-item pull-right item-action" data-item-id="{{ item.pk }}" data-toggle="modal" data-target="#addItemModal"><i class="fa fa-pencil-square-o"></i> <span class="hidden-xs">Edit</span></a>
				{% endif %}
				<div class="clearfix"></div>
			</div>

		</div>
	</div>
</li>
