{% load paragraphs %}

<!-- Collection Items-->

<div class="c-item">
	<a id="{{ item.id }}" class="item-point"></a>

	{% if item.title %}
	<div class="title">
		{% if item.url %}
			<a href="{{ item.url }}" class="track-item-link-click" data-event-label="magazine-item-title-link" rel="external nofollow" target="_blank">{{ item.title }}</a></h3>
		{% else %}
			{{ item.title }}
		{% endif %}
	</div>
	{% endif%}

	
	<div class="card">
		{% if collection.style == "pinboard" %}
			{% include 'cards/pinboard_card.html' %}
		{% elif item.card.type == "video" %}
			{% include 'cards/video_card.html' %}
		{% elif item.card.type == "rich" %}
			{% autoescape off %}
				{{item.card.html}}
			{% endautoescape %}
		{%else %}
			{% include 'cards/default_card.html' %}
		{% endif %}
	</div>


	{% if item.description and item.description != ' '%}
		<div class="description">
			{% autoescape off %}
				{{ item.description|force_escape|urlize|paragraphs}}
			{% endautoescape %}
		</div>
	{% endif %}

	<!--
	{% if item.added_by and item.added_by != collection.owner %}
		<div class="user-wrapper">
			<div>
				<a class="user-avatar" href="/{{item.added_by.username}}/">
					<img class="pull-left" src="{{ item.added_by.thumb_image }}" alt="{{ item.added_by.name }}">
				</a>
			</div>
			<div class="user-info">
				<span class="small text-muted pull-left">added by</span><br>
				<a class="user-name" href="/{{item.added_by.username}}/"><span class="pull-left" >{{ item.added_by.name }}</span></a>
			</div>
		</div>
	{% endif %}
	-->
	{% include 'item_footer.html' %}
	<div class="clearfix"></div>
</div>

