{% extends 'base.html' %}

{% block title %} Privacy | Collex.io {% endblock %}

{% block content %}

<div class="section mid">
<div class="container">

	<h1 class="section-heading">Privacy</h1>
	<h4 class="section-description">Updated on April 10, 2014</h4>

	<ul class="help-items list-unstyled">
		<li>
			<p>Your privacy is critically important to us. At Collex.io we have a few fundamental principles:</p>
			<p>We don't ask you for personal information unless we truly need it. (We can't stand services that ask you for things like your gender or income level for no apparent reason.)</p>
			<p>We don't share your personal information with anyone except to comply with the law, develop our products, or protect our rights.</p>
			<p>We don't store personal information on our servers unless required for the on-going operation of one of our services.</p>
		</li>
		<li>
			<p>Below is our privacy policy which incorporates these goals:</p>
			<p>Collex.io LLC (Collex.io) operates Collex.io. It is Collex.io’s policy to respect your privacy regarding any information we may collect while operating our websites.</p>
		</li>
		<li>
			<h3>Website Visitors</h3>
			<p>Like most website operators, Collex.io collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Collex.io’s purpose in collecting non-personally identifying information is to better understand how Collex.io’s visitors use its website. From time to time, Collex.io may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
			<p>Collex.io also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Collex.io does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>
		</li>
		<li>
			<h3>Gathering of Personally-Identifying Information</h3>
			<p>Certain visitors to Collex.ios websites choose to interact with Collex.io in ways that require Collex.io to gather personally-identifying information. The amount and type of information that Collex.io gathers depends on the nature of the interaction. For example, we ask visitors who sign up account at Collex.io to provide a username and email address. Collex.io collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitors interaction with Collex.io. Collex.io does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
		</li>
		<li>
			<h3>Aggregated Statistics</h3>
			<p>Collex.io may collect statistics about the behavior of visitors to its websites. Collex.io may display this information publicly or provide it to others. However, Collex.io does not disclose personally-identifying information other than as described below.</p>
		</li>
		<li>
			<h3>Protection of Certain Personally-Identifying Information</h3>
			<p>Collex.io discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Collex.ios behalf or to provide services available at Collex.ios websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Collex.ios websites, you consent to the transfer of such information to them. Collex.io will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Collex.io discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when Collex.io believes in good faith that disclosure is reasonably necessary to protect the property or rights of Collex.io, third parties or the public at large. If you are a registered user of an Collex.io website and have supplied your email address, Collex.io may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with whats going on with Collex.io and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Collex.io takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>
		</li>
		<li>
			<h3>Cookies</h3>
			<p>A cookie is a string of information that a website stores on a visitors computer, and that the visitors browser provides to the website each time the visitor returns. Collex.io uses cookies to help Collex.io identify and track visitors, their usage of Collex.io website, and their website access preferences. Collex.io visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Collex.ios websites, with the drawback that certain features of Collex.ios websites may not function properly without the aid of cookies.</p>
		</li>
		<li>
			<h3>Privacy Policy Changes</h3>
			<p>Although most changes are likely to be minor, Collex.io may change its Privacy Policy from time to time, and in Collex.ios sole discretion. Collex.io encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
		</li>
	</ul>

	{% include "footer.html" %}

</div> <!-- // .container -->
</div>

{% endblock %}