<div class="user-profile">
	<a class="user-avatar" href="{% url 'profile' profile.username %}" title="{{ profile.name }}">
		<img src="{{ profile.thumb_image }}" alt="{{ profile.name }}" width="128">
	</a>
	<h1>{{ profile.name }}</h1>
	<div class="bio">{{ profile.description }}</div>
	<div class="numbers">
		<a class="box" href="/{{profile.username}}/">
			<div class="number">
				{% if request.user.username ==  profile.username %}{{ profile.my_collection_count }}{% else %}{{ profile.collection_count }}{% endif %}
			</div>
			<div class="number-label">Collections</div>
		</a>
		<a class="box" href="/{{profile.username}}/followers/">
			<div class="number follower-count">
				{{profile.followers_count}}
			</div>
			<div class="number-label">Followers</div>
		</a>
		<a class="box" href="/{{profile.username}}/following/">
			<div class="number follower-count">
				{{profile.following_count}}
			</div>
			<div class="number-label">Following</div>
		</a>
	</div>
	{% if user.pk != profile.pk %}
	<div>
		<button class="btn default btn-follow" data-id="{{profile.pk}}" data-state="{{is_following}}" data-event-label="profile-follow">Follow</button>
	</div>
	{% endif %}
</div>