{% extends 'base.html' %}

{% block title %} {{ profile.name }}'s Collections | Collex.io {% endblock %}

{% block content %}
<div class="profile-page">
	<div class="section white mid profile-head">
		<div class="container">
			{% include 'profile_head.html' %}
		</div>
	</div>


	{% if profile_list %}
		<div class="section white narrow p-list">
			<div class="container">
				<div class="section-title">
					<h2>{{title}}</h2>
				</div>
				{% include 'profile_list.html' %}		
			</div>
		</div>
	{% else %}
		<div class="section white c-list">
			<div class="container">
				<ul class="nav nav-pills">
					<li {%if tab == "public"%} class="active" {%endif%}><a href="/{{profile.username}}/">Collections</a></li>

					{% if profile == user %}
					<li {%if tab == "private"%} class="active" {%endif%}><a href="/{{profile.username}}/private/">Private <span class="hidden-xs">Collecitons</span></a></li>
                    <li {%if tab == "unlisted"%} class="active" {%endif%}><a href="/{{profile.username}}/unlisted/">Unlisted <span class="hidden-xs">Collecitons</span></a></li>
					{% endif %}

                    {% if user.is_authenticated %}
					<li {%if tab == "collaborations"%} class="active" {%endif%}><a href="/{{profile.username}}/contributions/">Contributions</a></li>
					{% endif %}
				</ul>
				{% if not collections %}
					<div class="c-message text-center">
						{% if profile != user %}
							There are no <strong>public</strong> collections here.
						{% else %}
							{%if tab == "public"%}
								You don't have any <strong>public</strong> collections yet.<br><a href="/c/create/">Click here to create your first collection.</a>
							{%elif tab == "collaborations" %}
								There is nothing here.
                            {%elif tab == "unlisted" %}
                                You don't have any <strong>unlisted</strong> collections yet.<br><a href="/c/create/">Click here to create your first collection.</a>
							{% else %}
								You don't have any <strong>private</strong> collections yet.<br><a href="/c/create/">Click here to create your first collection.</a>
							{% endif %}
						{% endif %}
					</div>
				{% else %}

					<!--
					<div class="section-title">
						<h2>COLLECTIONS</h2>
					</div>
					-->

					<div class="row" id="collectionList">
						{% include "collection_list.html" %}
					</div>

					{% if collections.has_next %}
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadMoreWrapper">
							<button class="btn primary outline btn-load-more">Load More</button>
						</div>
					</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% include "footer.html" %}
	<script src="/static/js/collection.js"></script>
	<script src="/static/js/follow-btn.js"></script>
</div>
{% endblock %}
