<div class="search-result-header">
    <div class="container">
        <div class="pull-right">
            <span>Searching on your collections</span>
            <input type="checkbox" name="toggle" id="toggle" checked="">
            <label for="toggle" class="pull-right"></label>
        </div>
        <ul class='nav sub-header nav-pills search-menu'>
            <li class="active"><a href=''>Posts</a></li>
            <li><a href=''>Collection</a></li>
            <li><a href=''>People</a></li>
        </ul>

    </div>
</div>