{% extends 'base.html' %}

{% block content %}
<div class="section narrow">
<div class="container">

	<div class="title">
		<h1>Settings</h1>
	</div>

	<form class="profile-settings-form" method="post" autocomplete="off" action="{% url 'settings' user.username %}" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="image">Profile Image</label>
			<div class="">
				<img class="img-circle user-avatar" src="{{ user.thumb_image }}" alt="{{ user.name }}" width="64" style="display: inline-block; margin-right: 10px;">
				<input id="photo" name="image" type="file" style="display: inline-block; max-width:200px;">
				{{ form.image.errors }}
			</div>
		</div>
		<div class="form-group">
			<label for="name">Full Name</label>
			<input class="form-control" id="name" name="name" type="text" value="{{ user.name }}" required>
			{{ form.name.errors }}
		</div>
		<div class="form-group">
			<label for="profile-description">Bio</label>
			<textarea class="form-control" id="profile-description" name="description">{{ user.description|default_if_none:"" }}</textarea>
			{{ form.description.errors }}
		</div>
		<div class="form-group">
			<label for="email-address">Email Address</label>
			<input class="form-control" id="email-address" name="email" type="email" {% if user.email %}value="{{ user.email }}"{% endif %} required>
				{{ form.email.errors }}				
		</div>
		<div class="form-group">
			<button class="btn danger pull-left" type="button" data-toggle="modal" data-target="#accountDeleteModal">Delete Account</button>
			<button class="btn primary pull-right" type="submit">Save Changes</button>
		</div>
	</form>
</div>
</form>

{% endblock %}