<div class="sidebar sidebar-static">
        <nav class="container top-nav">

            <!--
		<div class="pull-right">
			<i class="icon ion-pin"></i>
		</div>
-->

        </nav>
        <ul class="nav nav-pills nav-stacked f-list ">
            <li class="s-item">
                <h6 class="text-uppercase">Featured members</h6>
            </li>
            {% for user in featured_members %}
            <li class="s-item">
                <div class="item-wrapper pull-left">
                    <div>
                        <a class="item-avatar circle" href="/{{ user.username }}/">
                            <img class="pull-left" src="/static/img/main/result-img_01.png" alt="{{ user.username }}">
                        </a>
                    </div>
                    <div class="item-info">

                        <span class="user-name" href="/{{ user.username }}/">{{ user.username }}</span>
                        <a class="collection-title" href="/{{ user.username }}/">@mikaelpittam</a>
                    </div>
                    <div class="user-select pull-right">
                        <input id="c02" type="checkbox" name="first" checked hidden />
                        <label for="c02">
                            <i class="ion-ios-checkmark-empty"></i>
                            <i class="ion-person-add"></i>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
            {% endfor %}
        </ul>
    </div>