{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}
	<div class="modal-body text-center" style="padding-bottom: 50px;">
		<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="magazine-item-heading light-text" style="padding-bottom: 25px;">{{signin_message}}</h3>
		<a class="btn-create btn btn-twitter" data-event-label="modal-twitter-signin" href="{% url 'signin' %}">
			<i class="fa fa-twitter"></i>
			<span>Sign in with Twitter</span>
		</a>
	</div>
{% endblock %}
