{% extends 'base.html' %}

{% block title %} Terms of Service | Collex.io {% endblock %}

{% block content %}

<div class="section mid">
<div class="container">

	<h1 class="section-heading">Terms of Service</h1>
	<h4 class="section-description">Updated on July 1, 2014</h4>

	<ul class="help-items list-unstyled">

		<li>
			<p>The following terms and conditions govern all use of the Collex.io website and all content, services and products available at or through the website.</p>
			<p>The Website is owned and operated by Collex.io Inc. (Collex.io). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Collex.io's Privacy Policy) and procedures that may be published from time to time on this Site by Collex.io (collectively, the Agreement).</p>
			<p>Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services.</p>
			<p>If these terms and conditions are considered an offer by Collex.io, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.</p>
			<p>Collex.io has the right to change the Agreement at any time. If the changes are material, Collex.io will let users know by email or posting a notice on the site before the changes go into effect. The notice will designate a reasonable amount of time (the “Notice Period”) after which the new terms will go into effect for all users. If you don’t agree to the new terms, please delete your account within the Notice Period. If you do not delete your account within the Notice Period, your content and use of the site will be subject to the new terms going forward.</p>
		</li>

		<li>
			<h3>Your Collex.io Account and Site</h3>
			<p>If you create an account on the website, you are responsible for maintaining the security of your account and its content, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the Website.</p>
			<p>You must not describe or assign content to your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Collex.io may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause Collex.io liability.</p>
			<p>You must immediately notify Collex.io of any unauthorized uses of your account or any other breaches of security. Collex.io will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</p>
		</li>

		<li>
			<h3>Responsibility of Contributors</h3>
			<p>If you operate an account, comment on a collection, post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, Content), You are entirely responsible for the content of, and any harm resulting from, that Content.</p>
			<p>That is the case regardless of whether the Content in question constitutes text or graphics. By making Content available, you represent and warrant that.</p>
		</li>

		<li>
			<h3>Changes to the website</h3>
			<p>Collex.io may change, terminate, or restrict access to any aspect of the service, at any time, without notice.</p>
		</li>

		<li>
			<h3>Content</h3>
			<p>By posting or transferring content to Collex.io, the user gives Collex.io permission to use the content solely to do the things the website needs to do to provide Collex.io services, including, without limitation, storing, displaying, reproducing, and distributing the content. This may include promoting the content with partner companies or services for broader broadcast, distribution, or publication.</p>
			<p>Collex.io will never sell the content to third parties without the user’s explicit permission.</p>
			<p>By publishing on Collex.io, the user agrees to allow others to view their content.</p>
			<p>Collex.io doesn't pre-screen user content, but has the right (though no obligation) to refuse or remove any content the users post or transfer to Collex.io services for any reason.</p>
			<p>Collex.io users may choose to delete the content they previously provided or delete their account. If the user deletes their account or content, it may be permanently unrecoverable.</p>
			<p>Collex.io users are responsible for the content they submit to Collex.io and assume all risks associated with it, including anyone else’s reliance on its accuracy, or claims relating to intellectual property or other legal rights. By posting, the user represents that they own or have the necessary rights to post the content on Collex.io, and that doing so doesn't conflict with any other licenses the user has granted.</p>
		</li>

		<li>
			<h3>DMCA Copyright Policy</h3>
			<p>Collex.io deals with copyright infringement on Collex.io services in accordance with the Digital Millennium Copyright Act. We have a policy of terminating repeat copyright infringers in appropriate circumstances.</p>
			<p>The contact information for receipt of notices of claimed infringement is here: Copyright Agent Email: <code>copyright[at]collex.io</code></p>
		</li>

	</ul>

	{% include "footer.html" %}

</div> <!-- // .container -->
</div>

{% endblock %}