{% extends 'cm_base.html' %}
{% block content%}
<div class="section narrow">
	<div class="container">
		<form action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
			    <label for="{{ form.name.id_for_label }}">Name:</label>
			    {{ form.name }}
			    {{ form.name.errors }}
			</div>
			<div class="form-group">
			    <label for="{{ form.collection.id_for_label }}">Collection:</label>
			    {{ form.collection }}
			    {{ form.collection.errors }}
			</div>
		    <input class="btn primary" type="submit" value="Submit" />
		</form>
	</div>
</div>
{% endblock %}