<html dir="ltr" lang="en-US" class="no-js" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="We have created Collex.io for you to collect beautiful pieces of web </br> However you can collect ugly things too if you really want. Options are limitless, choice is yours.">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Curation Machine</title>
	<link href="/static/css/collexio.min.css" rel="stylesheet">
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<style>
		body { padding-top: 102px; }
		.article-title a{color:#333;}
		.article-title a:hover{text-decoration: underline;}
		.article-meta{font-size: 12px;color: #999;}
		.section .container{padding-top: 0;}
		.btn-default{border:1px solid #ddd; border-radius: 4px; color:#1abc9c; font-weight: bold;}
		.btn-default:hover{color:#fff; background-color:#1abc9c; border-color:#1abc9c;}
		.btn.btn-link{font-size: 11px}
		.article-table.table-bordered>tbody>tr>td{vertical-align:middle; border:none; border-top: 1px solid #ddd;}
		.article-title-td.in-buffer-indicator{box-shadow: inset 4px 0px 0px 0px #ec7063;}
		.navbar-default .navbar-brand{font-weight: bold; color: #333;}
		.navbar-right{margin-right: 0;}
		.messages{display: block;position: initial;padding: 0;margin-top: -51;}
		.modal-body .messages{margin-top: -15px;}
		.alert{border-radius: 0;}
		.alert.error{background-color: #ec7063;}
		.alert.success{background-color: #1ABC9C;}
		.modal-body .messages{display: none;}
		.article-buffer-list{display: none;}
	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Curation Machine</a>
		<ul class="nav navbar-nav">
	        <li {%if tab == 'articles' %}class="active"{% endif %}><a href="/cm/">Articles <span class="sr-only">(current)</span></a></li>
	        <li {%if tab == 'buffers' %}class="active"{% endif %}><a href="/cm/buffers/">Buffers</a></li>
	    </ul>
	    
	    <div class="nav navbar-nav navbar-right">
	        <a class="btn navbar-btn btn-default" href="/cm/buffers/create/">New Buffer</a>
	    </div>
 	</div>
</nav>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert {{ message.tags }}  alert-dismissible"{% endif %} role="alert">
    	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% block content%}
{% endblock %}
</body>
</html>