{% extends 'cm_base.html' %}
{% block content%}
<div class="section">
	<div class="container">
		<h1>{{buffer.collection.title}}</h1>
		<p><a href="/c/{{buffer.collection.slug}}/" target="_blank">Go to collection</a></p>
		<table class="table table-bordered article-table">
		{% for a in articles %}
		<tr id="row{{a.article.id}}">
			<td class="col-sm-12">
				<h4 class="article-title"><a href="{{a.article.url}}" target="_blank">{{a.article.title}}</a></h4>
				<div class="article-meta">
					<span class="article-url"><a href="{{a.article.url}}" target="_blank">{{a.article.url|cut:"http://"|cut:"https://"|cut:"www."|truncatechars:20}}</a></span> <span>published on {{a.article.date}}</span>
				</div>
			</td>
			<td class="btn-group col-sm-1">
				<button class="btn btn-link delete-buffer-article" data-article-id="{{a.article.id}}" data-buffer-id="{{buffer.id}}">Delete</button>
			</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
<script>
$('.delete-buffer-article').on('click',function(){
		console.log(this);
		var bufferId = $(this).attr('data-buffer-id');
		var articleId = $(this).attr('data-article-id');
		$.ajax({
			type: "GET",
			url: "/cm/buffers/"+bufferId+"/remove/"+articleId+"/",
			dataType: "html",
			success: function(data) {
				$('#row'+articleId).remove();
			},
			error: function(jqXHR,textStatus,errorThrown) {
			}
		});
	});
</script>
{% endblock %}