{% extends 'cm_base.html' %}
{% block content%}
	<div class="section">
		<div class="container">
			<table class="table table-bordered article-table">
			{% for b in buffer_list %}
			<tr>
				<td class="col-sm-11">
					<h4 class="article-title"><a href="/cm/buffers/{{b.id}}/">{{b.name}}</a></h4>
					<div class="article-meta"><a href="/c/{{buffer.collection.url}}">Go to collection</a></div>
				</td>
				<td class="btn-group col-sm-1">
					<button class="btn btn-link">Edit</button>
				</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
{% endblock%}