{% extends 'cm_base.html' %}
{% block content%}
<div class="modal fade" id="addToBufferModal" tabindex="-1" role="dialog" aria-labelledby="addToBufferModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="addToBufferModalLabel">Add Article to Buffer</h4>
	      	</div>
	      	<div class="modal-body">
	      		<ul class="messages">
	      			<li class="alert"></li>
	      		</ul>
	        	<h5 id="addBufferArticleTitle"></h5>
	        	<select id="addBufferBufferSelect" class="form-group">
	        		{% for b in buffer_list %}
	        			<option value="{{b.id}}">{{b.collection.title}}</option>
	        		{% endfor %}
	        	</select>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	<button type="button" class="btn btn-primary" id="addBufferSave">Save Changes</button>
	      	</div>
	    </div>
  	</div>
</div>
<div class="section">
	<div class="container">
	<div class="form-group">
		<label>Category</label>
		<select id="categorySelect" classs="form-control">
			{% for key, value in category_list.items %}
				<option {% if key == category%}selected{%endif%} value="{{key}}">{{value}}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="section">
	<div class="container">
		<table class="table table-bordered article-table">
		{% for a in articles %}
		<tr>
			<td class="col-sm-10 article-title-td {% if a.buffers %} in-buffer-indicator{% endif %}">
				<h4 class="article-title"><a href="{{a.url}}" target="_blank">{{a.title}}</a></h4>
				<div class="article-meta">
					<span class="article-url"><a href="{{a.url}}" target="_blank">{{a.url|cut:"http://"|cut:"https://"|cut:"www."|truncatechars:20}}</a></span> <span>published on {{a.date}}</span>
				</div>
				
			</td>
			<td class="btn-group col-sm-2">
				<button class="btn btn-link btn-add-to-buffer" data-article-id="{{a.id}}" data-article-title="{{a.title}}">Buffer</button>
				<button class="btn btn-link">Collection</button>
			</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
<script>
	$('.btn-add-to-buffer').on('click',function(){
		var articleId = $(this).attr('data-article-id');
		var articleTitle = $(this).attr('data-article-title');
		$('#addBufferArticleTitle').html(articleTitle);
		$('#addToBufferModal').modal('show');
		$('#addBufferSave').attr('data-id',articleId);
	});

	$('#addBufferSave').on('click',function(){
		console.log(this);
		var bufferId = $('#addBufferBufferSelect').val();
		var articleId = $(this).attr('data-id');
		$.ajax({
			type: "GET",
			url: "/cm/buffers/"+bufferId+"/add/"+articleId+"/",
			dataType: "html",
			success: function(data) {
				$('.messages .alert').removeClass("error");
				$('.messages .alert').addClass("success");
				$('.messages .alert').html("Article has been added to buffer");
				$('.messages').show();
				$('#addToBufferModal').modal('hide');
				$('.messages').hide();
			},
			error: function(jqXHR,textStatus,errorThrown) {
				$('.messages .alert').removeClass("success");
				$('.messages .alert').addClass("error");
				$('.messages .alert').html("Something goes wrong");	
				$('.messages').hide();
			}
		});
	});

	$('#categorySelect').on('change',function(){
		window.location ="/cm/cat/"+$(this).val()+"/";
	});
</script>
{% endblock %}