<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Email Base</title>
</head>
<style>
	body{
		background-color: #F2F2F2;
		height: 100% !important;
		margin: 0;
		padding: 0;
		width: 100% !important;
		color: #606060;
		font-family: Helvetica, Arial;
		font-size: 15px;
		line-height: 150%;
		font-weight: lighter;
	}

	a{
		color:#7eb1b2;
		text-decoration: none;
	}

	img{
		padding:0;
		margin:0;
		max-width: 100%;
		height: auto;
	}

	h1,h2,h3 {
		color: #606060 !important;
		display: block;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		line-height: 125%;
		letter-spacing: -1px;
		margin: 0;
		text-align: left;
	}

	h3 {
		font-size: 24px;
	}

	tr,td{
		padding:0;
		margin:0;
	}

	p{
		color: #909090;
	}

	.text-center{
		text-align: center;
	}

	.margin-auto{
		margin:auto;
	}

	.small-text{
		font-size: 11px;
	}
	.main{
		width:100%;
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.container{
		width: 100%;
		max-width:600px;
		background-color: #fff;
		padding: 16px;
	}

	.header{
		padding-top: 32px;
		padding-bottom: 64px;
		text-align: center;
	}

	.title{
		font-size: 14px;
		color: #909090;
	}

	.logo{
		width: 128px;
	}


	.user-avatar img{
		border-radius: 50%;
		width: 84px;
		border: 2px solid rgba(0, 0, 0, .05);
		margin-bottom: 12px;
	}

	.sg-content .user-avatar img{
		width: 32px;
		margin-left: 22px;
	}

	p em{
		font-weight: bold;
	}

	p.sub{
		font-size: 12px;
	}

	.username{
		color: #303030;
		font-size: 18px;
		font-weight: normal;
	}
	.title .profile-name{
		max-width: 200px;
		color: #7eb1b2;
		font-weight: normal;
	}

	.user-card .profile-name{
		max-width: 200px;
		color: #7eb1b2;
		font-weight: normal;
		font-size: 24px;
	}

	.user-card .profile-username{
		font-size: 14px;
		color: #999;
	}

	.profile-description{
		color: #606060;
		margin-top: 12px;
		margin-bottom: 0px;
		font-size: 14px;
	}
	.user-card{
		text-align: center;
		padding: 48px 0;
	}
	.footer{
		margin-top: 64px;
	}

	.line-wrapper{
		max-width: 520px;
		margin: auto;
		margin-top:48px;
		margin-bottom: 48px;
	}

	.line{
		height: 1px;
		background-color: #eee;
		width: 100%;
		margin: auto;
		margin-top:24px;
		margin-bottom: 24px;
	}

	.item-card{
		max-width: 520px;
		margin: auto;
		margin-bottom: 64px;
	}

	.item-title h3{
		margin-bottom: 24px;
	}

	.item-title a{
		color: #444648;
	}

	.item-description{
		margin-bottom: 48px;
	}

	.collection-magazine-thumb{
		max-width: 548px;
		margin-bottom: 32px;
	}

	.btn{
		display: inline-block;
		margin-bottom: 0;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.7;
		border-radius: 4px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.btn{
		border-radius: 4px;
		border: none;
		padding: 10px 16px 8px;
		outline: 0!important;
		font-weight: 700;
		font-size: 12px;
		margin-right: 8px;
	}

	.btn.primary {
		color: #fff;
		background-color: #1abc9c;
	}

	.btn.default {
		color: #666;
		background-color: #eee;
	}

	

	


</style>
<body>
	<table class="main" >
		<tr>
			<td align="center">
				<table class="container">
					<!--
					<tr>
						<td class="header">
							<img class="logo" src="http://collex.io/static/img/main/logo_green.png"/>
						</td>
					</tr>
					-->
					<tr>
						<td class="username">{{user.name}},</td>
					</tr>
					<tr>
						<td class="content">
							{% block content %}
							{% endblock %}
						</td>
					</tr>
					<tr>
						<td class="footer text-center">
							<p class="small-text">Copyright © 2014 Collexio inc.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>