{% extends 'emails/basic.html' %}
{% block content %}
	<!--<h1>Welcome to Collex.io</h1>-->
	<p>{{from.name}} invited you to contribute <a href="http://collex.io/c/{{collection.slug}}">{{collection.title}}</a></p>

	<p>Best,<br/>Collex.io Team</p>
{% endblock %}