{% extends 'emails/basic.html' %}
{% block content %}
	<div class="title">
		<a class="profile-name" href="http://collex.io/{{ follower.username }}" title="{{ follower.name }}">{{follower.name}}</a> started following you on Collex.io
	</div>
	<div class="line"></div>
	<div class="user-card">
		<div class="avatar">
			<a class="user-avatar" href="http://collex.io/{{ follower.username }}" title="{{ follower.name }}">
				<img src="https:{{follower.thumb_image}}" alt="{{ follower.name }}">
			</a>
		</div>
		<div><a class="profile-name" href="http://collex.io/{{ follower.username }}" title="{{ follower.name }}">{{ follower.name }}</a></div>
		<div><a class="profile-username" href="http://collex.io/{{ follower.username }}" title="{{ follower.name }}">@{{ follower.username }}</a></div>
		<p class="profile-description">{{ follower.description }}</p>
	</div>
	<div class="line"></div>
	<p class="sub">Every time you create a collection, your followers see them on their home page. Click on their username and check their collections. Follow back if you like what you see.</p>
{% endblock %}