{% extends 'emails/basic.html' %}
{% block content %}
	<!--<h1>Welcome to Collex.io</h1>-->
	<p>Your collections imported from {{import_source}} and ready now.</p>

	<p>Best,<br/>Collex.io Team</p>
{% endblock %}