{% extends 'emails/basic.html' %}
{% block content %}
	<div class="sg-content">
		<table>
			<tr>
				<td>
					<p>{{item.recommended_by.name}} has suggested you an item for your <em>{{collection.title}}</em> collection.</p>
					<p>Just click "Accept" button to instantly add this suggestion to your collection or simply click "Nevermind" to decline.</p>
				</td>
			</tr>
		</table>
		<div class="line-wrapper">
			<div class="line"></div>
		</div>
		<table class="user-card">
			<tr>
				<td class="user-avatar-col">
					<a class="user-avatar" href="http://collex.io/{{ item.recommended_by.username }}" title="{{ item.recommended_by.name }}">
						<img src="https:{{item.recommended_by.thumb_image}}" alt="{{ item.recommended_by.name }}">
					</a>
				</td>
				<td>
					<div class="profile-list-fields">
						<a class="profile-name" href="http://collex.io/{{ item.recommended_by.username }}" title="{{ item.recommended_by.name }}">{{ item.recommended_by.name }}</a>
						<a class="profile-username" href="http://collex.io/{{ item.recommended_by.username }}" title="{{ item.recommended_by.name }}">@{{ item.recommended_by.username }}</a>
					</div>
				</td>
			</tr>
		</table>
		<table class="item-card">
			<tr>
				<td class="item-title">
					<h3>
						{% if item.url %}
							<a href="{{ item.url }}" rel="external nofollow">{{ item.title }}</a></h3>
						{% else %}
							{{ item.title }}
						{% endif %}
					</h3>
				</td>
			</tr>
			<tr>
				<td>
					{% if item.card.type == "video" %}
						{% include 'cards/video_card.html' %}
					{%else %}
						{% include 'cards/default_card.html' %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td >
					{% if item.description and item.description != ' '%}
						<div class="item-description">
							{{ item.description|urlize }}
						</div>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td class="sg-buttons">
					<a class="btn primary" href="http://collex.io/c/i/{{item.id}}/accept/">Accept</button>
					<a class="btn default" href="http://collex.io/c/i/{{item.id}}/decline/">Nevermind</button>
				</td>
			</a>
		</table>
	</div>
{% endblock %}


