{% extends 'emails/basic.html' %}
{% block content %}
	<!--<h1>Welcome to Collex.io</h1>-->
	<p>It's great to see you join our new and growing community.</p>
	<p>We know that you might have some questions about Collex.io, so we have created a collection named <a href="http://collex.io/c/collexio-frequently-asked-questions-1407854125/">F.A.Q.</a></p>

	<p>Please follow our account CollexioHQ on  <a href="http://twitter.com/collexiohq">Twitter</a> and <a href="http://collex.io/collexiohq">Collex.io</a> and you will be notified when we have updates and other cool news. Also, please take 2 minutes to read through our <a href="http://collex.io/p/terms/">Terms of Service.</a></p>

	<p>We also like you to know that the <a href="http://collex.io/c/featured/">Featured Collections</a> are selected manually. We would be more than happy to add your collections to the Featured section. If the collection can be helpful for other users, it is almost certain that it will be added to Featured. </p>

	<p>Lastly, if you have any questions, feel free to reply this e-mail or mention us on <a href="http://twitter.com/collexiohq">Twitter</a>.</p>

	<p>Best,<br/>Collex.io Team</p>
{% endblock %}