{% extends 'base.html' %}
{% block header%}
	{% if not user.is_authenticated %}
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block content %}
<script src="/static/js/follow-btn.js"></script>
<script src="/static/js/search.js"></script>
<script type="text/javascript">
    $(function(){
        $('#searchInput').val('{{ q }}');
        $('.search-result-header input[name=only_my]').prop("checked",('{{ only_my }}'!='False'?true:false));

        var has_next = (String($('#pagingData').data("has-next")).toLowerCase()=='true'?true:false);
        if(!has_next)$('#loadMoreWrapper').remove();
    });
</script>

<div class="search-result-header active">
    <div class="container">
        {% if type != "user"  %}
        <div class="pull-right">
            <span>Searching on your collections</span>
            <input type="checkbox" name="only_my" id="toggle" checked="">
            <label for="toggle" class="pull-right"></label>
        </div>
        {% endif %}
        <ul class='nav sub-header nav-pills search-menu'>
            <li{% if type == "collection" %} class="active"{% endif %}><a href='/search/collection/'>Collections</a></li>
            <li{% if type == "item" %} class="active"{% endif %}><a href='/search/item/'>Posts</a></li>
            <li{% if type == "user" %} class="active"{% endif %}><a href='/search/user/'>People</a></li>
        </ul>
    </div>
</div>
<div class="c-items section narrow p-list">
    <div class="container{% if type == "collection" %} collections{% endif %}">
        <div class="items-wrapper">
            {% for activity in result.data %}
                {% if type == "item" %}
                    {% include 'types/posts.html' %}
                {% elif type == "collection" %}
                    {% include 'types/collections.html' %}
                {% elif type == "user" %}
                     {% include 'types/people.html' with p=activity %}
                {% endif %}
            {% empty %}
                <center><b>No result! :(</b></center>
            {% endfor %}
            <span style="display:none" id="pagingData" data-next="{{result.next_page_number}}" data-has-next="{{result.has_next}}"></span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadMoreWrapper">
            <button class="btn primary outline btn-load-more">Load More</button>
        </div>
    </div>
</div>
{% endblock %}