.masthead {
  background-color: #fff;
  color: #fff;
  margin-bottom: 64px;
  padding: 64px 0;
  position: relative;
  text-align: center;
  background-image: url("../img/main/landing.jpg");
  background-position: 15% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.masthead .container {
  max-width: 1070px;
  padding: 0;
  margin: 0;
}
.masthead .masthead-body {
  position: absolute;
  bottom: 20%;
  width: 100%;
  padding: 16px;
}
.masthead .masthead .hero-text {
  margin-top: 16px;
  color: #3F3000;
  margin-bottom: 16px;
  font-weight: bold;
}
.masthead .masthead .hero-text h1 {
  font-size: 26px;
  margin-bottom: 20px;
  font-family: "Alright Bold";
}
.masthead .masthead .hero-text p {
  font-size: 16px;
  line-height: 1.2;
  color: rgba(63, 48, 0, 0.6);
}
.masthead .btn-twitter {
  margin-top: 32px;
  font-size: 18px;
  margin-bottom: 16px;
}
.masthead .btn-featured-collections {
  display: inline-block;
}
.masthead .logo {
  width: 164px;
  height: 64px;
  margin: auto;
  text-align: center;
}
.masthead .logo a {
  width: 164px;
  height: 64px;
  background-image: url("../img/main/logo_green.svg");
}
.masthead .heading {
  text-align: center;
  padding-bottom: 64px;
}
.home-nav {
  margin-top: 16px;
  margin-bottom: 16px;
}
.home-message {
  margin-bottom: 32px;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}
