{% extends 'manage_index.html' %}
{% block list %}
<div class="container">
	<div class="row">
		<table class="table table-hover">
			<tr>
				<th>Title</th>
				<th>Creator</th>
				<th>Created</th>
				<th>Updated</th>
			</tr>
			{% for collection in collections %}
				<tr>
					<td><a href="{% url 'collection' collection.slug %}">{{ collection.title }}</a></td>
					<td><a href="/{{collection.owner.username}}/">{{ collection.owner.name }}</a></td>
					<td>{{ collection.created }}</td>
					<td>{{ collection.updated }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock list %}