{% extends 'base.html' %}

{% block meta %}
	<link href="/static/css/manage.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container">
	<div class="row home-nav">
		<ul class="nav nav-pills">
			<li {%if tab == "users"%} class="active" {%endif%}><a href="/manage/users/">USERS</a></li>
			<li {%if tab == "collections"%} class="active" {%endif%}><a href="/manage/collections/">COLLECTIONS</a></li>
		</ul>
	</div>
</div>

{% block list %}
{% endblock %}

{% endblock %}
