{% extends 'manage_index.html' %}
{% block meta %}
{{ block.super }}
    <script>
    $(function() {
        $('.featured_status').change(function(){
            var _checkbox = $(this);
            var _user = _checkbox.data('user');

            $.get('/manage/update_featured/', {'user': _user}, function(data){
                console.log(data);
            })
        });
    });
    </script>
{% endblock meta %}
{% block list %}
<div class="container">
	<div class="row">
		<table class="table table-hover">
			<tr>
				<th>User Name</th>
				<th>Email</th>
				<th>Date Joined</th>
				<th>Date Last Login</th>
                <th>Is Featured</th>
			</tr>
			{% for profile in profiles %}
				<tr>
					<td><a href="/{{profile.username}}/">{{ profile.name }}</a></td>
					<td><a href="mailto:{{profile.email}}" target="_top">{{ profile.email }}</a></td>
					<td>{{ profile.date_joined }}</td>
					<td>{{ profile.last_login }}</td>
                    <td><input type="checkbox" class="featured_status" data-user="{{profile.pk}}" {% if profile.is_featured %}checked="true"{% endif %}/></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock list %}