.btn-mixin(@color,@bg-color){
    color:@color;
    background-color: @bg-color;

    &:hover{
        background-color: darken(@bg-color, 15%);
    }

    &.outline{
        color:@bg-color;
        border-color: @bg-color;
        background-color: transparent;
        border:1px solid;
        padding: 8px 15px;
        &:hover{
            color:@color;
            border-color: @bg-color;
            background-color: @bg-color;
        }
        &.small{
            padding: 6px 14px;
        }
        &.btn-lg{
            font-size:14px;
            padding: 12px 20px;
        }
    }

    &.circle{
        width: 36px;
        height: 36px;
        font-size: 16px;
        line-height: 36px;
        padding:0;
        color:@bg-color;
        border-color: @bg-color;
        background-color: transparent;
        border:1px solid;
        &:hover{
            color: darken(@bg-color, 25%);
            border-color: darken(@bg-color, 25%);
        }
        i{
            position: relative;
            top: -1px;
        }
    }
}

.btn{
    border: none;
    padding: 9px 16px;
    outline: none !important;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 100px;

    &.primary{
        .btn-mixin(@white,@collexio-green);
    }
    &.danger{
        .btn-mixin(@white,@collexio-red);   
    }
    &.white{
        .btn-mixin(@collexio-green,@white);
    }
    &.red{
        .btn-mixin(@collexio-red,@white);
    }
    &.gray{
        .btn-mixin(@white,@gray);
    }
    &.default{
        .btn-mixin(@white,@gray);
    }
    &.small{
        padding: 6px 16px;
    }
    &.btn-follow{
        .btn-mixin(@gray-dark,@gray-lighter);
        &.btn-following{
            .btn-mixin(@white,@collexio-green);
            &:hover{
                color:@white;
                background-color: @collexio-red;
            }
        }
        &:disabled{
            background: #fff;
            border: 1px solid @gray-light;
        }
    }
    &.btn-link{
        font-size: 14px;
    }
}

.btn-private{
    color: @collexio-red;
    &:hover{
        color: darken(@collexio-red, 5%);
    }
    &.btn-unprivate{
        color:@collexio-green;
        &:hover{
            color: darken(@collexio-green, 5%);
        }
    }
}

/* icons in buttons */
.btn .icon{
    font-size: 14px;
    line-height: 12px;
    margin-right: 4px;
    vertical-align: middle;
    &:before{
        height: 0px;
    }
}

.btn-lg .icon{
    font-size: 20px;
}


/* individual icons */
.btn-icon{
    font-size: 24px;
    padding: 0;
    color:#666;
    background-color: transparent;
    width: 36px;
    height: 36px;
    line-height: 1;
    i{
        margin-right: 0;
    }
}

i.ion-close-round{
    font-size: 16px !important;
}

.ion-ios-gear-outline{
    top: 1px;
    position: relative;
}

.ion-ios-plus-outline{
    top: -1;
    position: relative;
}

.ion-ios-paperplane-outline, .ion-ios-more{
    top: 3px;
    position: relative;
}

.ion-ios-bell{
    top: 1px;
    position: relative;
}

