.c-list{
	.container{
		padding-top: 64px;
		padding-bottom: 48px;
	}
	.nav-pills{
		margin-bottom: 32px;
	}
	.btn-load-more{
		min-width: 128px;
	}
	#loadMoreWrapper{
		text-align: center;
	}
}

.c-box {
	background: @gray-darker;
	margin-bottom: 12%;
	max-height: 390px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;

	@media (min-width: @screen-sm) {
		max-height: 296px;
	}

	@media (min-width: @screen-md) {
		max-height: 327px;
	}

	.link{
		color: #fff;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;

		&:hover{
			.overlay{
				zoom: 1;
				filter: alpha(opacity=50);
				opacity: .5;
			}
		}
	}

	.overlay {
		background: rgba(0,0,0,0.1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.6)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
		background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		z-index: 2;
		opacity: 1;
		border-radius: 4px;
		transition: all .1s linear;
		-moz-transition: all .1s linear;
		-webkit-transition: all .1s linear;
	}

	.title {
		color: @white;
		font-size: @font-size-h3;
		margin: 0;
		padding: 0 24px;
		position: absolute;
		left: 0;
		bottom: 64px;
		width: 100%;
		z-index: 3;
		line-height: 1.2;
		letter-spacing: -0.5px;
		font-weight: bold;

		@media (min-width: @screen-sm) {
			font-size: 18px;
			bottom:64px;
		}
	}

	.thumb {
		max-width: 100%;
		width: 100%;
		display: block;
	}


	.user-wrapper{
		z-index: 3;
		position: absolute;
		bottom: 42px;
		left: 24px;
		width: 100%;
		font-size: 14px;
		font-style: italic;

		> div{
			display: inline-block;
			margin: auto;
			width: auto;
			line-height: 40px;
		}

		a{
			color:@gray-lighter;
			img{
				margin-right: 10px;
				width: 40px;
			}
			span{
				color: #fff;
				font-weight: bold;
			}
		}
		.user-avatar{
			width: 40px;
		}
	}
}