

.collection-top-nav{
    background-color: transparent;
    .title{
        display: none;
    }
    .btn-icon{
        border-radius: 4px;
        line-height: 36px;
        &:hover{
            background-color: #e5e5e5;
        }
    }
    .c-buttons{
        margin-top: 13px;
    }


    /*
    .c-subscribe-button{
        margin: 13px 12px 0;

        .btn{
            min-width: 120px;
            border-color: @collexio-green;
            color:@collexio-green;
            background-color: transparent;
            border: 1px solid;
            &:hover{
                background-color:@collexio-green;
                color: #fff;
            }
            &.subscribed{
                background-color:@collexio-green;
                color: #fff;
                &:hover{
                    background-color:@collexio-red;
                    color: #fff;
                }
            }
        }
    }
    */

    .subscriptions-count{
        color:#aaa;
        margin-top: 18px;
        font-style: italic;
        display: none;
        span{
            display: none;
            @media (min-width: @screen-xs) {
                display: inline-block;
            }
        }
    }

    .c-share-icon{
        margin-top: 13px;
    }

    .btn-settings-wrapper{
        position: relative;
        .tooltip{
            width: 140px;
        }
    }
    .btn-twiter-signin{
        &:extend(.btn.white.outline);
    }
    &.with-cover{
        border:none;
        .btn-icon{
            color:#fff;
            &:hover{
                background-color: #333;
            }
        }
        .c-subscribe-button .btn{
            border-color: #fff;
            color:#fff;
            &:hover{
                background-color: #fff;
                color:@collexio-green;
            }
            &.subscribed{
                border: none;
                background-color:@collexio-green;
                color: #fff;
                &:hover{
                    background-color:@collexio-red;
                    color: #fff;
                }
            }
        }
        .subscriptions-count{
            color:#fff;
        }
    }
}

.collection-nav-fixed{
    height: 72px;
    opacity: 0.95;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    top:-120px;
    transition: top .2s linear;
    &.active{
        top:0px;
    }
    .title{
        margin-left: 15px;
        display: block;
        margin-top: 14px;
        width: 55%;
        @media (min-width: @screen-xs) {
            width: 58%;

        }
        h1 {
            font-size: 16px;
            margin-top: 3px;
            letter-spacing: -0.5px;
            font-weight: bold;
            span {
                display: block;
                padding-bottom: 4px;
                &:last-child {
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            @media (min-width: @screen-xs) {
                font-size: 18px;
            }
        }
    }
    .sidebar-btn{
        margin-top: 4px;
    }
    .ellipsis-text {
        white-space: nowrap; 
        max-width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .c-buttons{
        margin-top: 18px;
        .btn{
            margin-left: 6px;
        }
    }
}

.content-sidebar-open{
    .collection-nav-fixed{
        left:460px;
        @media (min-width: @screen-xs) {
            padding-right: 15px;
        }
        .title{
            display: none;
            @media (min-width: @screen-xs) {
                display: block;
            }
        }
        .c-share-button{
            display: none; 
            @media (min-width: @screen-xs) {
                display: block;
            }
        }
        .c-buttons{
            display: none;  
            @media (min-width: @screen-xs) {
                display: block;
            }
        }
    }
}

.action-bar{
    background-color: #333;
    text-align: center;
    padding: 20px 0 19px;
    font-size: 15px;
    font-family: @font-family-serif;
    color: @white;
    a{
        margin-left: 8px;
        color: @collexio-green;
        text-decoration: underline;
    }
    &.white-bg{
        background-color: #fff;
        color: #333;
    }
}

.collection-hero {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 480px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    color: #fff;
    height: auto;
    position: relative;
    margin: auto;
    
    .overlay {
        /*
        background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, .7)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
        background-color: rgba(87, 102, 66, 0.49);
        
        background-color: #d38312;
        background-image: -webkit-linear-gradient(135deg,#d38312,#002f4b);
        background-image: -moz-linear-gradient(135deg,#d38312,#002f4b);
        background-image: -o-linear-gradient(135deg,#d38312,#002f4b);
        background-image: linear-gradient(135deg,#d38312,#002f4b);
        
        background-image: linear-gradient(135deg, #3D5A46, #000000);
        */
        background: rgba(0,0,0,0.1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.7)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
        //opacity: .6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .container{
        z-index: 10;
        padding: 0;
        margin: 0;
    }

    .meta{
        color: rgba(255, 255, 255, .5);
        font-size: 16px;
        text-align: center;
        font-style: italic;
        margin-top: 18px;
        a{
            color: #F5F5F5;
        }
    }
    .title{
        font-size: 32px;
        margin-bottom: 0;
        text-align: center;
        @media (min-width: @screen-xs) {
            font-size: 48px;
        }
    }
    .info-wrapper{
        position: absolute;
        bottom: 0;
        width: 100%;
        .user-avatar{
            display: block;
            width: 36px;
            height: 36px;
            margin-right: 6px;
            img{
                width: 36px;
            }
        }
        .container{
            padding-bottom: 88px;
        }
        .short-line{
            margin:24px 0;
            display: none;
        }
    }
}


.collection-hero.no-cover {
    min-height: 0px;
    background-color: #F5F5F5;
    color: #333;
    padding: 32px 0;
    .overlay{
        display: none;
    }
    .info-wrapper{
        position: inherit;
        .container{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .meta{
        color: #999;
        a{
            color: @collexio-green;
        }
    }
    .short-line{
        display: block;
    }

}

.c-bottom-bar{
    border-bottom: 1px solid #ececec;
    padding-bottom: 36px;
    background-color: #fff;
    .container{
        padding:0;
        width: 100%;
    }
    .c-buttons{
        padding: 14px 0 12px;
        max-width: 320px;
        .btn{
            margin-left: 4px;
        }
    }
    .btn-settings-wrapper{
        position: relative;
    }
    ul.stats{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li.stat{
            display: inline;
            float: left;
            margin-right: 16px;
            text-align: center;
            .title{
                color: @gray;
                margin-top: 16px;
                font-size: 11px;
                margin-bottom:2px;
            }
            .count{
                font-family: "montserrat";
                text-align: center;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    div.dropdown{
        ul.dropdown-menu[aria-labelledby="dropdown_mobile_posts"]{
            margin-left: 10px;
        }
        ul.dropdown-menu[aria-labelledby="dropdown_mobile_posts"]:before{
            right: auto;
            left: 13px;
        }
        ul.dropdown-menu[aria-labelledby="dropdown_mobile_posts"]:after{
            right: auto;
            left: 14px;
        }
        .stat .fa-chevron-down{
            position: absolute;
            top: 32px;
            margin-left: 4px;
            opacity: 0.4;
        }
    }
}



.c-desc{
    font-style: italic;
    font-size: 18px;
    word-wrap:break-word;
    font-style: italic;
    font-weight: lighter;
    .container{
        padding-bottom: 16px;
    }
    .short-line{
        margin: 24px 0;
    }
}


.new-item-btn{
    .container{
        padding-top: 64px;
        padding-bottom: 0px;
        .btn{
            margin-left: 0;
            @media (min-width: @screen-xs) {
                margin-left: -52px;
            }
        }
    }
}

.c-items{
    .container{
        padding-top: 0;
        padding-bottom: 64px;
        &#itemsContainer{
            padding-bottom: 0;

        }
        #loadMoreWrapper{
            text-align: center;
            .btn{
                min-width: 128px;
            }
        }
        
        .items-wrapper{
            position: relative;
            width: 100%;
            margin:auto;
        }
        .sort-line{
            margin:24px 0;
        }
    }
}

.c-items.magazine{
    background-color: #fff;
    .container{
        max-width: 670px;
    }
}

.c-items.list{
    .container{
        max-width: 670px;
        &#itemsContainer{
            padding-bottom: 64px;
        }
    }
}

.c-items.pinboard{
    padding: 24px;
    background-color: #f5f5f5;
    .container{
        padding:0;
        &#itemsContainer{
            padding-top: 0;
            padding-bottom: 0;
        }
        #loadMoreWrapper{
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }
}

#c-settings-form{
    .btn{
        min-width: 128px;
        .ion-ios-arrow-left{
            font-size: 24px;
        }
    }
}



.collection-preview {
    text-align: center;
    padding-top: 116px;
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
        cursor: pointer;
    }
    .glyphicon {
        font-size: 120px;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.tag {
    color: @white;
    background-color: @collexio-green;
    display: inline-block;
    padding: 6px 16px 5px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:hover {
        background-color: darken(@collexio-green, 5%);
    }

    a {
        color: @white;
    }
    .remove-tag {
        font-size: 0;
        &:before {
            content: "\f00d";
            display: inline-block;
            font-family: "FontAwesome";
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.create-collection-callout{
    .container{
        padding-top: 192px;
        padding-bottom: 192px;
        h3{
            margin-bottom: 32px;
        }
    }
}

#add-collaborator-from{
    width: 100%;
    .select{
        width: 150px;
        margin-top: -74px;
        position: relative;
    }
    .typeahead-wrapper{
        width: 100%;
        padding-right: 170px;
    }
}


.c-bottom-buttons .container-fluid{
    border-top:1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 0;

    
    .share-buttons{
        text-align: center;
        @media (min-width: @screen-xs) {
            float:right;
        }
        .btn.circle{
            font-size: 16px;
        }
    }

    #recommend-btn{
        width: 100%;
        margin-bottom: 24px;
        @media (min-width: @screen-xs) {
            width: inherit;
        }
    }
}

.c-subscribe-button{
    .btn{
        min-width: 120px;
        &.subscribed{
            &:hover{
                background-color: @collexio-red;
            }
        }
    }
    
}

.f-collections-list{
    .section-title{
        text-align: center;
    }
}


