#collaborators-form{
	padding-top: 64px;
}

.autocomplete{
	width: 260px;
	li {
		cursor: pointer;
		width: 100%;
		display: inline-block;
		&:hover{
			background-color: #f5f5f5;
		}
		a{
			display: block;
			float: left;
		}
		.user-wrapper{
		}
		.user-avatar{
			padding: 8px 4px;
			img{
				width: 48px;
				height: 48px;
			}
		}
		.user-name{
			padding-left: 8px;
			padding-top: 20px;
		}
	}
}

.collaborators-list{
	.permission{
		margin-right: 32px;
	}
	.btn-icon{
		font-size: 24px;
		padding: 0;
		color: inherit;
		background-color: transparent;
		line-height: 0px;
		border: none;
		font-weight: normal;
		vertical-align: baseline;
		margin-top: 3px;
	}
	li{
		padding: 0px 16px;
		line-height: 44px;
		&:hover{
			background-color: #f5f5f5;
		}
	}
}