.c-items.feed .c-item, .c-items.feed .c-card{
	margin: 32px 0;
	.item-top{
		.user-wrapper{
			margin: 12px 0;
			.user-avatar{
				img{
					width: 36px;
				}
			}
			.user-info{
				margin-left: 42px;
				.user-name span{
					line-height: 0;
				}
				padding-top: 1px;
			}
			.user-name{
				display: block;
				font-weight: bold;
				color:#606060;
				line-height: 1;
				margin: 3px 0 -5px;
			}
			.collection-title{
				font-size: 12px;
				font-style: italic;
				span{
					color:#606060;
				}
			}
		}
	}


	.timeago{
		color:#606060;
		margin-top:12px;
	}
	.more-items-button {
		margin: 12px 0 8px;
	}
}

.c-items.feed .c-item{
	.magazine-thumb{
		width: 100%;
		max-width: 640px;
		max-height: 360px;
		/* whatever width you want */
		display: inline-block;
		position: relative;
		&:after{
			padding-top: 56.25%;
			/* 16:9 ratio */
			display: block;
			content: '';			
		}
	}
	.item-thumb-div{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		color: white;
		background-size: cover;
		background-position: 50% 50%;
	}
}

.c-items.feed .c-card{

	.c-box{
		max-height: 240px;
	}
	.collection-thumb{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		color: white;
		background-size: cover;
		background-position: 50% 50%;
	}
	.c-thumb-link{
		width: 100%;
		max-width: 640px;
		max-height: 240px;		
		/* whatever width you want */
		display: inline-block;
		position: relative;
		&:after{
			padding-top: 56.25%;
			/* 16:9 ratio */
			display: block;
			content: '';			
		}
	}
}

.c-list h5{
	text-align: center;
}

.c-items.feed{
padding-right: 320px;
}
.section.c-list.feed{
padding-right: 340px;
}

.content-sidebar-open{
.c-items.feed{
padding-right: 0px;
}
.section.c-list.feed{
padding-right: 0px;
}

}

.feed #loadMoreWrapper{
	margin-bottom: 120px;
	margin-top: 32px;
}

.content-sidebar-open .right-panel{
        display: none;
    }

.right-panel{
    background: #fcfcfc;
    position: absolute;
    right: 0;
    top:64px;
    overflow-y: hidden;
    z-index: 15;
    width: 320px;
    padding-bottom: 0px;
    color: #3C3C3E;
    height: 100%;

    &.fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
    }
    .title{
    	margin: 24px 16px;
    	h6{font-size: 12px;}
    }
    .p-list{
    	margin-left: 24px;
    	.p-list-row{
	    	margin-bottom: 16px;
	    	.user-select{
	    		margin-right: 15px;
	    	}
	    }	
    }
    
}

.empty-feed-message{
	text-align: center;
	margin-top: 48px;
}
.eof-message{
	display: none;
}
