//@layer-color: rgba(79, 121, 118, 0.5);
@layer-color: rgba(125,177,177,0.2);

.masthead{
	background-color: #fff;
	color: #fff;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	background-image: url("/static/img/main/landing_bg2.jpg");
	background-position: 15% 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	@media (min-width: @screen-xs) {
		background-position: 50% 95%;
	}

	.color-layer{
		background-color: @layer-color;
		height: 100vh;
		position: relative;
	}

	.container{
		position: absolute;
		width: 100%;
		top: 10%;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		@media (min-width: @screen-xs) {
			top: 20%;
		}
	}

	.masthead-body{
		width: 100%;
		max-width: 640px;
		text-align: center;
		margin: auto;

		.btn{
			margin-top:24px;
			&.btn-link{
				color: #eee;
			}
		}
	}
	.btn-twitter{
		margin-top: 32px;
		font-size: 18px;
		margin-bottom: 16px;
	}
	.btn-featured-collections{
		display: inline-block;
	}
	.logo{
		width: 72px;
		height: 72px;
		margin: auto;
		text-align: center;

		@media (min-width: @screen-sm) {
			width: 72px;
			height: 72px;
			margin: auto;
			margin-bottom: 48px;
		}
		a{
			width: 72px;
			height: 72px;
			background-image: url("/static/img/main/c_for_landing.svg");

			@media (min-width: @screen-sm) {
				width: 72px;
				height: 72px;
			}
		}
	}
	
	.heading{
		text-align: center;
		padding-bottom: 64px;
	}

	.footer{
		padding: 0;
		margin: 24px auto 12px;
		position: absolute;
		bottom:0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		width: 100%;
		a{
			color: #fff;
			font-family: @font-family-serif;
			font-size: 15px;
		}
	}

}

.hero-text{
		margin-top: 16px;
		color: #fff;
		margin-bottom: 16px;
		

		@media (min-width: @screen-sm) {
			margin-bottom: 64px;
		}

		h1{
			font-size: 32px;
			margin-bottom: 24px;
			font-family: @font-family-serif;
			font-weight: bold;
			letter-spacing: -0.5px;


			@media (min-width: @screen-xs) {
				font-size: 32px;
				letter-spacing: 0px;
				margin-bottom: 14px;
			}

		}
		p{
			font-size: 16px;
			line-height: 1.2;
			color: rgba(255,255,255, 0.8);
			//font-weight: lighter;
			@media (min-width: @screen-xs) {
				font-size: 18px;
				line-height: 1.4;
			}
		}
	}

.home-nav{
	margin-top:16px;
	margin-bottom: 16px;
}

.home-message{
	margin-bottom:32px;
	background-color: #f5f5f5;
	border-radius: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
}



.subpage-masthead{
	background-image: url("/static/img/main/landing_bg.jpg");
	background-position: 15% 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	.container{
		padding-top: 48px;
		padding-bottom: 0px;
	}
	.color-layer{
		background-color: @layer-color;
		height: 100%;
	}
	.logo{
		width: 72px;
		height: 72px;
		margin: auto;
		text-align: center;

		@media (min-width: @screen-sm) {
			width: 72px;
			height: 72px;
			margin: auto;
			margin-bottom: 48px;
		}
		a{
			width: 72px;
			height: 72px;
			background-image: url("/static/img/main/c_for_landing.svg");

			@media (min-width: @screen-sm) {
				width: 72px;
				height: 72px;
			}
		}
	}
	.masthead-body{
		max-width: 640px;
		text-align: center;
		margin: auto;
	}
}

.content-sidebar-open{
	.index-nav{
		.nav-pills{
			margin-left: 120px;
		}
	}	
}

.index-nav{
	.container{
		padding-top: 0;
		padding-bottom: 0;
		height: 0;
		top: -64px;
		z-index: 20;
		margin-left: 16px;
		@media (min-width: @screen-xs) {
			margin-left: auto;
		}
	}
	.nav-pills{
		border:none;
		bottom:-1px;
		li{
			line-height: 61px;
		}
	}
}

