.c-item{
    margin: 48px 0;
    background-color: @white;
    border-radius: 4px;
    @media (min-width: @screen-sm) {
		margin: 96px 0;
	}
    .title{
	    padding: 0;
	    font-size: 18px;
	    font-weight: bold;
	    color:#333;
	    line-height: 1.4;
	    margin-bottom: 12px;
	    letter-spacing: -0.5px;
	    a{
	    	color:#333;
	    }
	    @media (min-width: @screen-xs) {
			font-size: 20px;
			letter-spacing: -1px;
		}
	}
	
	.description{
	    margin: 0;
	    font-size: 13px;
	    font-family: @font-family-serif;
	    color: #333;
	    @media (min-width: @screen-xs) {
			font-size: 15px;

		}
	    &.no-padding{
		    padding-top: 0px;
		}
		p{
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			word-wrap: break-word;
		}
	}
	.footer{
	    margin: 0;
	    //border-top: 1px solid #f5f5f5;
	    width: 100%;
	    .action-buttons{
		    padding: 0;
		    .action-button{
		    	position: relative;
		    }
		}
		.btn-icon{
		    font-size: 32px;
		    padding: 0px 16px;
		    color:#aaa;
		    line-height: 0;
		   	&:focus{
		   		outline:none;
		   	}
		   	.ion-ios-upload-outline{
		   		font-size: 24px;
		   		&:before{
		   			position: relative;
					top: 5px;
		   		}	
		   	}
		}
		.source{
		    padding-top: 4px;
		    a{
		    	display: inline-block;
				width: 140px;
		    	overflow: hidden;
	    		text-overflow: ellipsis;	
	    		@media (min-width: @screen-sm) {
			    	width: inherit;
			    	text-overflow: inherit;
			    }
			}
		}
	}
	.item-point{
		position: relative;
		top:128px;
		width: 100%;
	}
	.card{
		margin-bottom: 24px;
	}
	.magazine-thumb {
		position: relative;
		a{
			display: block;
		}
	}
	.item-video {
		cursor: pointer;
		.play {
			color: #fff;
			font-size: 40px;
			width: 82px;
			height: 82px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 5;
			transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			border: 5px solid #fff;
			border-radius: 50%;
			background-color: rgba(0,0,0,0.6);
			text-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
		}
		i{
			line-height: 75px;
			padding: 0 26px;
		}
		.iframe{
			display: none;
		}
	}

	&.article-item{
		.thumb{
			position: absolute;
			width: 96px;
			height: 96px;
			margin-left: 16px;
			border-radius: 4px;
		}
		.description{
			padding: 0px 16px 32px 128px;
			width: 100%;
			min-height: 112px;
		}
	}
	.user-wrapper{
		margin: 32px 0;
		.user-avatar{
			img{
				width: 36px;
			}
		}
		.user-info{
			margin-left: 42px;
			.user-name span{
				line-height: 0;
			}
			padding-top: 1px;
		}
	}
}

.new-item-modal{
	.image-frame {
		background: @gray-lighter;
		color: #fff;
		font-size: 100px;
		text-align: center;
		line-height: 100px;
		min-height: 150px;
		border-radius: 3px;
		position: relative;
		&:hover {
			background: @gray-light;
			color: #fff;
		}
		input {
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 51;
			top: 0;
			left: 0;
			cursor: pointer;
		}
		img {
			display: block;
		}
		p {
			font-size: 16px;
		}
	}
	.item-image-icon {
		z-index: 50;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	.form-buttons{
		float:right;
		.btn{
			min-width: 128px;
		}
	}
	.btn-remove-media{
		margin-top: 8px;
	}
	#add-item-form{
		.fetch-url{
			display: none;
		}
		&.link{
			#item-form{
				display: none;
			}
			.fetch-url{
				display: block;
			}
		}
		&.image{
			.page-url{
				display: none;
			}
		}
		&.note{
			.item-image{
				display: none;
			}
			.page-url{
				display: none;
			}
			#add-item-description{
				height: 240px;
			}
		}
	}
}

.list .c-item{
	margin: 64px 0;
	border-radius: 0;

	.item-body{
		width: 100%;
		max-width: 670px;
		padding-right: 64px;
		@media (min-width: @screen-xs) {
			padding-right: 112px;	
		}
	}
	.thumb{
		position: absolute;
		right: 15px;
		width: 48px;
		height: 48px;
		@media (min-width: @screen-xs) {
			width: 86px;
			height: 86px;
			
		}
		img{
			border-radius: 2px;
		}
	}
	.title{
		font-size: 18px;
		padding: 0;
	}
	.footer{
	}
}

.pinboard .c-item{
	margin: 16px 0;
	padding: 0;
	width: 100%;
	@media (min-width: @screen-sm) {
		width: 340px;
	}
	background-color: #fff;
	.title{
		font-size: 16px;
		margin: 0 16px 12px;
		font-weight: normal;
		letter-spacing: -0.5px;
	}
	.card{
		margin-bottom: 12px;
	}
	.footer{
		margin:0 0 0 16px;
		width: initial;
		.btn-icon{
			font-size:24px;
		}
	}
	.user-wrapper{
		margin:32px 16px;
	}
}

.gallery .c-item{
	width: 269px;
	float: left;
	margin: 8px;
	padding: 8px;
	/*
	.title{
		font-size: 12px;
		padding-left: 0;
		padding: 18px 0px 8px;
		a{
			color: #666;
			width: 253px;
			font-weight: normal;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			white-space: nowrap;
		}
	}
	*/
	.card{
		.thumb{
			width: 253px;
			height: 253px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
		}
	}	
	.footer{
		//display: none;
		margin-left: 0;
		margin-right: 0;

	}
}

.twitter-tweet-rendered {
	width: 100% !important;
	//border: none !important;
	box-shadow: none !important;
}
