body {
    -webkit-font-smoothing: antialiased;
}

a {
    &:hover {
        text-decoration: none;
    }
}

h1 {
    letter-spacing: -2px;
    font-weight: bold;
    @media (min-width: @screen-xs) {
        letter-spacing: -1px;
    }
}

h3 {
    letter-spacing: -1px;
    @media (min-width: @screen-xs) {
        letter-spacing: 0;
    }
}

h5 {
    letter-spacing: -2px;
    font-weight: bold;
    @media (min-width: @screen-xs) {
        letter-spacing: -1px;
    }
}

h6 {
    letter-spacing: -1px;
    font-family: "montserrat";
    font-size: 14px;
    @media (min-width: @screen-xs) {
        letter-spacing: 0px;
    }
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}

.wrapper {
    //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
//    z-index: 20;
    position: relative;
    background-color: #fff;
    min-height: 100vh;
}

.content {
    padding-left: 0px;
    //transition: padding-left .05s linear;
    position: relative;
    @media (min-width: @screen-xs) {
        position: inherit;
    }
}

.section {
    &.narrow {
        .container{
            max-width: 670px;
            margin: auto;
        }
        .container.collections{
            max-width: 1170px;
        }
    }
    &.mid {
        .container {
            max-width: 820px;
            margin: auto;
        }
    }
    &.gray {
        background-color: #f5f5f5;
    }
    &.white {
        background-color: @white;
    }
    &.footer {
        color: #ccc;
        font-size: 14px;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 48px;
        a {
            color: #999;
            font-family: @font-family-serif;
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }
    .container {
        max-width: 1170px;
        width: auto;
        padding-top: 64px;
        padding-bottom: 64px;
        form {
            padding-top: 64px;
        }
    }
    .section-title {
        text-align: left;
        border-bottom: 1px solid @gray-light;
        margin-bottom: 32px;
        color: #666;
        h2 {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 4px;
        }
        h6 {
            margin-bottom: 24px;   
        }
    }
}

.c-items.section.feed .container{
    max-width: 610px;
}

.callout {
    padding: 0;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

.js-template {
    display: none;
}

#go-to-top {
    background: rgba(46, 49, 51, 0.6);
    display: none;
    height: 37px;
    width: 37px;
    z-index: 999;
    text-align: center;
    position: fixed;
    bottom: 54px;
    right: 13px;
    line-height: 36px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background: #4892e5;
        text-decoration: none;
    }
    &:before {
        color: #fff;
        font-size: 18px;
        content: "\f077";
        font-family: 'FontAwesome';
    }
}

.tooltip-inner {
    padding: 8px 16px 6px;
}

.messages {
    display: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
    div {
        padding: 48px 0;
        background-color: @gray-light;
    }
    .success {
        background-color: #2ecc71;
    }
    .danger {
        background-color: @collexio-red;
    }
}

.error-page-content {
    .container {
        text-align: center;
        margin-top: 48px;
        .logo {
            width: 128px;
            height: 32px;
            margin: auto;
            >a {
                background: url("@{img-path}main/logo_green.svg") no-repeat;
                width: 128px;
                height: 32px;
                display: block;
                text-indent: -9999px;
                background-size: 100% auto;
                -webkit-user-drag: none;
            }
        }
        .error-title {
            color: #606060;
            font-size: 28px;
            font-weight: bold;
            line-height: 1.2;
            margin-top: 48px;
            letter-spacing: -2px;
            @media (min-width: @screen-sm) {
                font-size: 48px;
            }
        }
        .error-number {
            color: #606060;
            font-size: 120px;
            text-align: center;
            margin-bottom: 32px;
            line-height: 1;
            letter-spacing: -5px;
            @media (min-width: @screen-sm) {
                font-size: 180px;
            }
        }
        .error-button {
            text-align: center;
        }
    }
}

.spinner {
    color: @collexio-green;
    margin-bottom: 20px;
    text-align: center;
    p {
        margin-top: 5px;
    }
}

.short-line {
    height: 1px;
    background-color: #e5e5e5;
    width: 72px;
    margin: 32px auto;
    &.green {
        background-color: #90BBA0;
        width: 72px;
        margin: 12px auto 32px;
    }
}

.hair-line{
    height: 1px;
    background-color: #f5f5f5;
    width: 100%;
}

.ion-ios-heart-outline {
    position: relative;
    top: -0.6px;
}