.section.learnmore{
	.container{
		max-width: 720px;

		
		h3{
			font-weight: bold;
			text-align: center;
		}
		p{
			font-family: @font-family-serif;
			font-size: 15px;
			margin-bottom: 48px;
			text-align: justify;
		}
		.short-line{
			//margin: 32px 0;
		}

		.desc{
			padding:24px 0 24px;
			
			p{
				font-family: @font-family-sans-serif;
				font-style: italic;
				font-size: 24px;
				line-height: 1.5;
				font-weight: lighter;
				margin-bottom: 0;
				text-align: center;

			}
		}

		.last{
			padding: 64px 0;
			p{
				margin: 24px 0;
				text-align: center;

			}
		}
		.ps{
			margin: 64px auto 0;
			p{
				font-size: 15px;
				color: #666;
				margin-bottom: 0px;
				text-align: center;
			}
		}
	}
	
}