.nav-pills {
    border-bottom: 1px solid @gray-lighter;
    color: @gray-dark;
    > li {
        float: left;
        line-height: 32px;
        // Links rendered as pills
        > a {
            position: relative;
            border-radius: 0;
            padding: 0;
            margin: 0 16px 0 0;
            color: @gray-dark;
            background-color: transparent;
            @media (min-width: @screen-xs) {
                margin: 0 32px 0 0;
            }
            &:hover,
            &:focus {
                color: @gray-darker;
                background-color: transparent;
            }
        }
        + li {
            margin-left: 2px;
        }
        // Active state
        &.active > a {
            border-bottom: 2px solid @collexio-green;
            color: @collexio-green;
            &, &:hover, &:focus {
                color: @collexio-green;
                background-color: transparent;
            }
        }
    }
}



.top-nav {
    position: relative;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 64px;
    background-color: @white;
    border-bottom: 1px solid @gray-lighter;
    .logo {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 0;
        right: 0;
    }
}

.logo {
    width: 89px;
    height: 26px;
    > a {
        background: url("@{img-path}main/logo2.svg") no-repeat;
        width: 89px;
        height: 26px;
        display: block;
        text-indent: -9999px;
        font-family: @font-family-main;
        background-size: 100% auto;
        -webkit-user-drag: none;
    }
}

.top-menu {
    margin: 14px 15px;
    position: absolute;
    right: 0;
    top: 0;
    .user-avatar {
        width: 56px;
        height: 36px;
        margin-left: 5px;
        img {
            width: 36px;
            height: 36px;
            //            margin: 6px;
            border: none;
        }
        i {
            color: @gray;
            margin-top: 5px;
        }
    }
    .btn.small {
        //        margin-top: 8px;
        //        margin-top: 8px;
    }
    /*
    .btn-icon {
        color: @collexio-green;
        padding: 0;
        width: 36px;
        height: 36px;
        font-size: 16px;
        border-radius: 0;
        margin-top: 1px;
        line-height: 34px;
        margin: 0px 5px;
        &:hover {
            background-color: #f5f5f5;
        }
        &.circle {
            border-radius: 50%;
        }
        &.disabled {
            color: @gray-dark;
            border-color: @gray-dark;
        }
    }
    */
    
    .btn.circle {
        margin-right: 8px;
    }
    .btn-notifications {
        //        margin-right: 8px;
    }
    .nt-indicator {
        position: absolute;
        right: 65px;
        top: 4px;
        padding: 0 14px 1px;
        font-size: 6px;
        color: @collexio-red;
    }
}

.sidebar-btn {
    cursor: pointer;
    i {
        font-size: 32px;
        line-height: 64px;
        color: #333;
    }
    position: relative;
    z-index: 1;
}



.sidebar {
    background-color: #ffffff;
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 0;
    min-height: 700px;
    overflow-y: scroll;
    display: none;

    @media (min-width: @screen-xs) {
        width: 460px;
    }
   
    .search-sidebar {
        width: 100%;
        padding-right: 35px;
        .search-input {
            border-radius: 4px;
            border: 1px solid @white;
            height: 36px;
            width: 100%;
            line-height: 36px;
            padding: 0px 10px;
            font-style: italic;
            color: @gray-dark;
            outline: none;
        }
    }


    /*
    .dropdown {
        font-family: @font-family-main-serif;
        line-height: 36px;
        a {
            color: #3C3C3E ;
        }
    }
    .dropdown-menu {
        li {
            a {
                color: #3C3C3E ;
                line-height: 36px;
            }
        }
    }
    
   
    .item-info {
        max-width: none !important;
        h4 {
            margin: 5px 0 0 0;
            font-size: 16px;
        }
    }
    */

    


    &.sidebar-open {
        display: block;
    }
   
    .top-nav {
        background: #f5f5f5;
        padding: 0px 20px;
        .ion-pin {
            font-size: 25px;
            line-height: 64px;
            color: #999;
        }
        .fa-thumb-tack {
            font-size: 18px;
            line-height: 64px;
            color: #999;
            position: relative;
            z-index: 100;
            &.unpin {
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            }
        }
        .top-menu {
            left: 0;
            margin: 14px 20px!important;
            .dropdown{
                margin-top: 6px;
                .selected{
                    color: @gray-dark;
                    font-family: 'Montserrat',sans-serif;
                }
            }
        }
    }
    .nav-stacked {

        > li {
            width: 100%;
            border-bottom: 1px solid #f3f3f3;
            display: inline-block;
            margin-top: 0;
            &:hover{
                background-color: #f5f5f5;
            }

            a {
                font-size: 14px;
                color: @gray-dark;
                line-height: 36px;
                position: initial;
                &.collection-title{
                  color:  #6cb4b3; 
                }
                .icon {
                    font-size: 23px;
                    position: relative;
                    top: 4px;
                    text-align: center;
                    width: 31px;
                    display: inline-block;
                    margin-right: 6px;
                }
            }

            .item-wrapper {
                width:100%;
                padding: 15px;
                margin: 0;

                .date {
                    line-height: 22px;
                    display: block;
                    font-size: 12px;
                }

                .item-info {
                    padding: 4px 0 0;
                    .item-name{
                        font-size: 16px;
                        color: #404040;
                        width: 300px;
                        margin: 0px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .item-avatar {
                    right: 15px;
                    top: 15px;
                    position: absolute;
                    width: 42px;
                    height: 42px;
                    background-color: #f5f5f5;
                    
                    .fa-inbox {
                        font-size: 32px;
                        right: 5px;
                        position: relative;
                    }
                    img {
                        width: 42px;
                        height: 42px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .user-wrapper {
        margin: 14px 0;
        .user-avatar {
            margin-right: 8px;
            img {
                width: 36px;
                height: 36px;
            }
        }
    }

    .btn-twitter-signin {
        margin-top: 24px;
    }

    .announce {
        position: absolute;
        bottom: 0;
        background-color: #98B3AA;
        padding: 0 15px 24px;
        text-align: center;
        color: #fff;
        h2 {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -1px;
            margin-bottom: 0;
            a {
                color: #fff;
            }
        }
        .ion-social-chrome-outline {
            font-size: 58px;
            opacity: 0.3;
            line-height: 1.4;
        }
    }
}

.content-sidebar-open {
    left: 280px;
    @media (min-width: @screen-xs) {
        overflow: inherit;
        left: 0;
        padding-left: 460px;
    }
    .wrapper{
        box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
        margin-bottom: 0;
        padding-bottom: 1px;
    }
}

html.sidebar-open,
body.sidebar-open {
    overflow: hidden;
    @media (min-width: @screen-xs) {
        overflow: inherit;
    }
}

.add-item-selection {
    border-bottom: 1px solid #e5e5e5;
    .nav-pills {
        width: 370px;
        margin: auto;
        padding: 0 15px;
        border: none;
        li {
            line-height: 20px;
            a {
                text-align: center;
                height: 64px;
                min-width: 80px;
                border: none;
                i.icon {
                    width: 100%;
                    display: inline-block;
                    margin: auto;
                    text-align: center;
                    font-size: 24px;
                    margin-top: 10px;
                }
            }
            .note-icon {
                font-family: @font-family-serif;
            }
        }
    }
}

input#toggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    & + label:before {
        content: "";
        position: absolute;
        display: block;
        height: 25px;
        width: 30px;
        top: 0;
        left: 0;
        border-radius: 15px;
        background: rgba(19, 191, 17, 0);
        -moz-transition: .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    & + label {
        display: block;
        position: relative;
        top: 12px;
        box-shadow: inset 0 0 0px 1px #d5d5d5;
        text-indent: -5000px;
        height: 24px;
        width: 40px;
        border-radius: 15px;
    }
    & + label:after {
        content: "";
        position: absolute;
        display: block;
        height: 24px;
        width: 24px;
        top: 0;
        left: 0px;
        border-radius: 15px;
        background: white;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
        -moz-transition: .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    &:checked + label:before {
        width: 40px;
        background: @collexio-green;
    }
    &:checked + label:after {
        left: 20px;
        box-shadow: inset 0 0 0 1px @collexio-green, 0 2px 4px rgba(0, 0, 0, .2);
    }
}

.user-select {
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] {
        & + label {
            font: 18px bold;
            color: #444;
            cursor: pointer;
            position: relative;
            &:before {
                content: "";
                display: inline-block;
                height: 32px;
                width: 32px;
                color: @gray-dark;
                background: @user-select-color;
                text-align: center;
                line-height: 32px;
                position: relative;
                border-radius: 3px;
            }
            i {
                position: absolute;
                top: 0px;
                left: 9px;
                font-size: 32px;
                color: @gray-dark;
                &.ion-person-add {
                    display: block;
                    font-size: 20px;
                    top: 7px;
                    left: 8px;
                    color: #aaaaaa;
                }
                &.ion-ios-checkmark-empty {
                    display: none;
                }
            }
        }
        &:checked {
            & + label {
                &:before {
                    background: @collexio-green;
                    color: @white;
                }
                i {
                    color: @white;
                    &.ion-person-add {
                        display: none;
                    }
                    &.ion-ios-checkmark-empty {
                        display: block;
                    }
                }
            }
        }
    }
}

/*
.f-list {
    &.nav-stacked {
        li {
            &:first-child {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    .s-item {
        padding: 12px 0px;
        h6 {
            font-weight: 700;
            margin: 15px 0px;
            color: #615f69 ;
        }
        .item-wrapper {
            width: 85%;
            .item-avatar {
                &.circle{
                    img{
                    border-radius: 100%;
                    }
                }
                img {
                    width: 42px;
                    height: 42px;
                }
            }
            .item-info {
                max-width: 150px;
                position: relative;
                margin-left: 8px;
                float: left;
                a {
                    display: block;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .user-name {
                display: block;
                line-height: 20px;
            }
            .user-select {
                position: absolute;
                right: 24px;
                top: 12px;
            }
        }
    }
}
*/
/* Fontawesome Icon Fixes */

.fa-search:before,
.fa-pencil:before {
    position: relative;
    top: -1px;
}

.fa-pencil:before {
    left: 0.5px;
}

.btn-menu{
      margin: 14px 20px;   
    }