.profile-head{
	.container{
		padding-top: 64px;
	}
}

.profile-page{
	.c-list{
		.container{
			padding-top: 64px;
		}
		.c-message{
			font-size: 16px;
		}
	}
}

.user-profile{
	text-align: center;
	h1{
		font-weight: bold;
	}
	.bio{
		font-size: 16px;
		color:#666;
		margin-top: 16px;
		margin-bottom: 32px;
	}
	.numbers{
		display: inline-block;
		width: inherit;
		align-content: center;
		padding: 0 0 24px;
	}
	.box{
		width: 96px;
		text-align: center;
		float: left;
		.number{
			font-size: 20px;
			line-height: 24px;
		}
		.number-label{
			color:#999;
		}
	}
	.btn-follow{
		min-width: 128px;
	}
}


.user-avatar{
	img{
	    border-radius: 50%;
	    width: 128px;
	    border: 2px solid rgba(0, 0, 0, .05);    
	}
}


.p-list{
	.container{
		padding-top: 128px;
	}
	.p-list-row{
		margin-bottom: 72px;
	}	
}

.p-list-row{
	.user-avatar{
		margin-right: 8px;
		width: 42px;
	}
	.fields{
		min-width: 120px;
		margin-right: 16px;
	}
	.btn-follow{
		min-width: 90px;
		margin-top: 6px;
		position: absolute;
		right: 15px;
	}
	a.p-name{
		font-size: 14px;
		color:#333;
		font-weight: bold;
		padding-top: 2px;
		display: block;
	}

	a.p-name:hover{	
		color:@gray-base;
	}

	.description{
		display: none;
		padding-left: 48px;	
		line-height: 1.4;
		width:100%;
		position: relative;
		top:-4px;
		@media (min-width: @screen-sm) {
			display: inline-block;
		}
	}
	.p-username{
		display: inline-block;
		font-size: 12px;
		line-height: 1.4;
		top: -6px;
		position: relative;
	}
}

.profile-settings-form{
	.btn{
		min-width: 128px;
	}
}