/*
	=================================================
	TYPEFACES
	=================================================
*/

@font-face {
    font-family: "Alright Thin";
    src: url("../fonts/alright_sans_thin-webfont.eot");
    src: url("../fonts/alright_sans_thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/alright_sans_thin-webfont.woff") format("woff"),
         url("../fonts/alright_sans_thin-webfont.ttf") format("truetype"),
         url("../fonts/alright_sans_thin-webfont.svg#Alright Thin") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alright Regular";
    src: url("../fonts/alright_sans_regular-webfont.eot");
    src: url("../fonts/alright_sans_regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/alright_sans_regular-webfont.woff") format("woff"),
         url("../fonts/alright_sans_regular-webfont.ttf") format("truetype"),
         url("../fonts/alright_sans_regular-webfont.svg#Alright Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alright Bold";
    src: url('../fonts/alright_sans_medium-webfont.eot');
    src: url('../fonts/alright_sans_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_medium-webfont.woff') format('woff'),
         url('../fonts/alright_sans_medium-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_medium-webfont.svg#Alright Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alright Thin Italic";
    src: url('../fonts/alright_sans_thin_italic-webfont.eot');
    src: url('../fonts/alright_sans_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_thin_italic-webfont.woff') format('woff'),
         url('../fonts/alright_sans_thin_italic-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_thin_italic-webfont.svg#Alright Thin Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alright Regular Italic";
    src: url('../fonts/alright_sans_regular_italic-webfont.eot');
    src: url('../fonts/alright_sans_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_regular_italic-webfont.woff') format('woff'),
         url('../fonts/alright_sans_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_regular_italic-webfont.svg#Alright Regular Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alright Bold Italic";
    src: url('../fonts/alright_sans_medium_italic-webfont.eot');
    src: url('../fonts/alright_sans_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alright_sans_medium_italic-webfont.woff') format('woff'),
         url('../fonts/alright_sans_medium_italic-webfont.ttf') format('truetype'),
         url('../fonts/alright_sans_medium_italic-webfont.svg#Alright Bold Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "Alright Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	
}

.container{
	padding-top: 48px;
}

.error-page-content{
	text-align: center;
	margin-top: 48px;
}

.error-logo {
	background-image: url("../img/main/logo.svg");
	background-size: cover;
	width: 140px;
	height: 36px;
	font-size: 0;
	line-height: 0;
	margin:auto;
}

.error-title {
	color: #606060;
	font-size: 28px;
	letter-spacing: -2px;
	line-height: 1.2;
	text-indent:-1px;
}

.error-number {
	color: #606060;
	font-size: 120px;
	line-height: 120px;
	letter-spacing: -10px;
	text-align: center;
	margin-bottom: 32px;
	text-indent:-20px;
}

.error-button{
	text-align: center;
}

