body {
	font-size: 13px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: none;
}

.collection-list-item {
	background: #fff;
	padding: 15px 25px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

.collection-list-item:nth-child(2n) {
	background: #f9f9f9;
}

.modal-collections li:hover {
	background: #3a96e2;
	color: #fff;
}

.collection-item-added {
	background: #7ac673;
	color: #fff;
}

.collection-item-added .text-muted,
.modal-collections li:hover .text-muted {
	color: rgba(255, 255, 255, .5);
}

.modal-title img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.modal-collections {
	overflow: hidden;
}

.media-heading {
	font-weight: 600;
}

.media-body p {
	margin: 0;
}