<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Pozitiftv Live</title>
	<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="../js/player.min.js"></script>
	<script type="text/javascript" src="../js/ipad-3.2.12.min.js"></script>
	<style type="text/css">
		html, body{margin: 0px; padding: 0px; font-family: "Helvetica", Arial, sans-serif; width:100%; height: 100%;}
		#container{background-color: #303030; width:100%; height:100%;}
		.player{width:100%; height:100%;}
		#lang-select-div{color: #fff; padding: 10px; margin-top: 7px; height:40px; display:none;}
		#lang-select-div span{color: #fff;}
		#lang-select{}
		select{font-size: 14px; -webkit-appearance: menulist-button;}

	</style>
</head>

<body>
		<div id="container">
			<div class="player"></div>
			<div id="lang-select-div">
				<span>Dil seçimi:</span>
				<select id="lang-select">
				</select>
			</div>
		</div>
	

		<script type="text/javascript">
		var querystring = location.search.replace( '?', '' ).split( '&' );
		var queryObj = {};
		if (querystring.length>=1) {
			for ( var i=0; i<querystring.length; i++ ) {
			      var name = querystring[i].split('=')[0];
			      var encodedvalue = querystring[i].split('=')[1];
			      value = encodedvalue.replace(/%20/g,' ');
			      //queryObj[name] = value;
			      if(i==0){
			      	$('#lang-select').append('<option value="'+name+'" selected="selected">'+decodeURI(value)+'</option>')
			      	var stream = name;
			      } else {
			      	$('#lang-select').append('<option value="'+name+'" >'+decodeURI(value)+'</option>')
			      }
			}
			if (querystring.length>=2) {
				
				var barHeight = 60; 
				var playerHeight = $('body').height() - barHeight;
				$('#lang-select-div').show();
			}
		}

		if (stream == "sandoz"){
			stream="egetv.stream";
			app = "test";
			var ios = "http://stream.pozitifhd.com:80/"+app+"/_definst_/"+stream+"/playlist.m3u8";
		} else {
			app = "conacle";
			var ios = "http://stream.pozitifhd.com:80/"+app+"/_definst_/"+stream+"/playlist.m3u8";
		}

		if(stream == "marmaris1") stream = "marmaris";
		if(stream == "marmaris1-en") stream = "marmaris-en";

		

		$('.player').height(playerHeight);

		var logo = {},
			tvlogo = {};

		if(stream=="istahed"){
			logo = {
				url:'../web/img/ptv_logo.png',
				fullscreenOnly: false,
				opacity: 0.9,
				bottom:10,
				right:10
			};
		}
		
		if(stream=="britishcouncil" || stream=="britishcouncil-en"){
			/*
			logo = {
				url:'../web/img/ptv_logo.png',
				fullscreenOnly: false,
				opacity: 0.9,
				bottom:10,
				right:10
			};
			*/

			tvlogo = {
				url: '../swf/player.content-3.2.8.swf',
				width:250,
				height:60,
				zIndex: 1,	
				opacity:1,
				border: 'none',
				//backgroundColor:'rgba(0, 0, 0, 0.8)',
				backgroundColor:'transparent',
				backgroundGradient: 'none',
				html: '<img src="../web/img/bc_logo.png" height="30" hspace="0"/>',
				style: {img: {padding: 0, margin:0,height:62}},
				opacity: 0.9,
				left:24,
				top:15,
			};
		} 

		if(navigator.userAgent.indexOf("Mobile") == -1) {
			flowplayer('.player','../swf/player.ptv-3.2.15.swf',{
				key: '#$051230693163df52a30',
				canvas: {
			          backgroundColor:'transparent',
			          backgroundColor:'#303030',
			          backgroundGradient:'none'
			          //backgroundImage: 'url(/{{event.image}})',
			          //backgroundRepeat: 'no-repeat'
			  	},

				clip: {
					url: stream,
					provider: "rtmp",
					ipadUrl:ios,
					autoPlay:true,
					live: true,
			    	scaling:'fit',
			    	// enable hardware acceleration
			    	//accelerated: true,
			    	zIndex:-1
				},
				
				logo: logo,
			  
			  	play: { 
			    	opacity: 0.6,
			    	backgroundGradient:'none',
			    	backgroundColor:'#303030',
			    	rotateSpeed: 500,
			    	fadeSpeed: 100
			  	},

			  	plugins: {

			        rtmp: {
			            url: '../swf/player.rtmp-3.2.11.swf',
			            failOverDelay:3000,
			 			netConnectionUrl: "rtmp://stream.pozitifhd.com:80/"+app
			        },

			       	/*
			        stream_mp4: {
			            url: "http://s.pozitifhd.com/static/player/swf/flowplayer.pseudostreaming-3.2.11.swf",
			        },
			        */
			       
			       
			       
			       
			       	tvlogo:tvlogo,
			        

			        controls: {
						url: '../swf/player.controls-3.2.14.swf',

			            autoHide: true,

			            all:false,
			            fullscreen:true,
			            time:true,
			            scrubber:true,
			            play:true,
			            mute:true,
			            height: 30,
			            //backgroundGradient:[0.3, 0.2, 0.2],
			            backgroundGradient:'none',
			            backgroundColor:'transparent',
			            backgroundColor:'#303030',
			            sliderBorder:'none',
			            buttonColor:'#f5f5f5',
						buttonOverColor: '#ffffff',
						scrubberBarHeightRatio:0,
						scrubberHeightRatio:0.001,
						timeColor:'#f5f5f5',
						opacity:0.8
			        }
				},
				onLoad: function(){
					//
				}
			});

			
			
			

		} else {
			$('.player').html('<video width="100%" height="100%" controls="controls" autoplay="autoplay" src="'+ios+'"></video>');
		}

		$("#lang-select").on("change",function(){
			//console.log($( "select option:selected" ).val());

			$( "select option:selected" ).each(function() {
		      stream = $(this).val();

			if(stream == "marmaris1") stream = "marmaris";
	                if(stream == "marmaris1-en") stream = "marmaris-en";

		      if ($f()){
		      	
		      	$f().getClip(0).update({"url":stream, "ipadUrl":"http://stream.pozitifhd.com:1935/"+app+"/"+stream+"/playlist.m3u8"});	

		      	$f().stop();
		      	$f().play();
		      }
		      if ($("video")){
		      	$("video").attr("src","http://stream.pozitifhd.com:1935/"+app+"/"+stream+"/playlist.m3u8")
		      	$("video").load();
		      }
		    });
			
		});

		</script>
	
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-354851-39']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>
</body>
