/*
.select{
	position: relative;
}
.select:after {
	color: #666;
	content: "\f0d7";
	display: inline-block;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	width: 28px;
	height: 47px;
	line-height: 47px;
}
*/




/*
	=================================================
	F O R M    E L E M E N T S
	=================================================
*/

.alert-container,
.disqus-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.alert-container .alert {
	margin-top: 50px;
}

.share-on-btn {
	margin-right: 10px;
	margin-bottom: 5px;
	min-width: 170px;
}

.share-on-twitter {
	background-color: #55acee;
}

.share-on-facebook {
	background-color: #3b5998;
}

.share-on-facebook:hover,
.share-on-facebook:active {
	background-color: #274b96;
}

.share-on-google-plus {
	background-color: #dd4b39;
}

.share-on-google-plus:hover,
.share-on-google-plus:active {
	background-color: #ce3d30;
}








/*
	=================================================
	HOME ELEMENTS
	=================================================
*/





.collection-preview input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
	cursor: pointer;
}

.collection-preview {
	text-align: center;
	padding-top: 116px;
}

.collection-preview .glyphicon {
	font-size: 120px;
	display: block;
	width: 100%;
	height: 100%;
}


.collection-item {
	margin-top: 48px;
	margin-bottom: 48px;
	position: relative;
    background-color: #fff;
}



.gallery-item {
	margin-bottom: 40px;
}

.collection-gallery-items {
	padding: 60px 0;
}

.collection-gallery-thumb {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 270px;
	overflow: hidden;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}

.collection-gallery-thumb a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.collection-gallery-thumb img {
	width: 100%;
	height: 100%;
}

.collection-info h3.gallery-item-heading {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0;
	white-space: nowrap;
	margin: 0;
	min-height: 20px;
	max-width: 350px;
	overflow: hidden;
	text-overflow:ellipsis;
}



.collection-item-description {
	color: #333;
}

.collection-footer {
	margin-top: 16px;
	font-size: 14px;
	width:100%;
	position: relative;

}

.item-actions .fa{
	font-size: 16px;
}

.collection-footer a.item-action{
	margin-left:16px;
}

.collection-footer .item-source{
	margin-right:16px;
	margin-left:0px;
}

.collection-footer .dropdown-menu li{
	background-color: #fff;

}

#bottom-popup{
	display: none;
	border: 1px solid #ececec;
	width: 294px;
	position: fixed;
	bottom: 16px;
	right: 13px;
	border-radius: 8px;
	padding: 16px;
	z-index: 20000;
	box-shadow: 0px 6px 10px rgba(0,0,0,.175);
	background-color: #fff;
}

.popup-header{
	display: inline-block;
	width: 100%;	
}

.popup-header .close{
	font-size: 32px;
	float: right;
}
.popup-body{
	margin-bottom:16px;
}


/*
	=================================================
	CREATE COLLECTION
	=================================================
*/










.bar {
    height: 18px;
    background: green;
}

.twitter-tweet-rendered {
	width: 100% !important;
}

.modal-messages{
	display:none;
	margin-bottom: 25px;
}

.preloader{
	display:none;
}

