{% extends 'base.html' %}
{% block content %}
<div class="section narrow">
	<div class="container">
		<div class="title">
			<h1>Urli.st Import</h1>
		</div>
		{% if request.method == "GET" %}
		<form class="import-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">{% csrf_token %}
			<p>
				Hello Friends of urlist, <br/>
				Keep your lists alive with Collexio. Simply export your data from urlist* and upload the .html file here. Then, review your lists and update them with cover images and new links.<br/>
				<br/>
				Questions or need help? Please email us or click on the star in the bottom right corner.
				<br/><br/>
				<em>*To download your data, please visit the Urlist website at <a href="http://urli.st/">http://urli.st/</a> and log in; you will find a button on the top of the page to download all your links.</em>
			</p>
			<br/><br/><br/>
			<div class="form-group">
				<label for="export_file">Urlist Export File</label>
				<input id="export_file" name="export_file" type="file">
				{{ form.image.errors }}
			</div>
			<div class="form-group">
				<button class="btn primary pull-right" type="submit">Import</button>
			</div>
		</form>
		{% else %}
		<p>I'm started to import your collections now. I'll inform you via email when completed.</p>
		{% endif %}
	</div>
</div>
{% endblock %}