.modal-fs.in .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}
.modal-fs.in .modal-header {
  padding: 16px 16px 14px;
}
.modal-fs.in .modal-header .modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.modal-fs.in .modal-header .close {
  font-size: 28px;
  margin-top: -3px;
  position: absolute;
  right: 16px;
}
.modal-fs.in .modal-body {
  padding: 0px 15px;
}
.modal-fs.in .modal-content {
  height: 100%;
  box-shadow: none;
  border: none;
  border-radius: 0;
  overflow-y: hidden;
}
.modal-fs.in .modal-body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
