.btn-mixin(@color,@bg-color){
    color:@color;
    background-color: @bg-color;

    &:hover{
        background-color: darken(@bg-color, 15%);
    }

    &.outline{
        color:@bg-color;
        border-color: @bg-color;
        background-color: transparent;
        border:2px solid;
        padding: 8px 14px 6px;
        &:hover{
            color:@color;
            border-color: @bg-color;
            background-color: @bg-color;
        }
        &.small{
            padding: 6px 16px 4px;
        }
        &.btn-lg{
            font-size:14px;
            padding: 12px 18px 10px;
            font-weight: normal;
        }
    }
}

.btn{
    border-radius: 4px;
    border: none;
    padding: 10px 16px 8px;
    outline: none !important;
    font-weight: bold;
    font-size: @font-size-small;

    &.btn-icon{
        font-size: 18px;
        padding: 11px 16px;
        color:#ccc;
        background-color: transparent;
    }
    &.primary{
        .btn-mixin(@white,@collexio-green);
    }
    &.danger{
        .btn-mixin(@white,@collexio-red);   
    }
    &.white{
        .btn-mixin(@collexio-green,@white);
    }
    &.red{
        .btn-mixin(@collexio-red,@white);
    }
    &.gray{
        .btn-mixin(@white,@gray);
    }
    &.default{
        .btn-mixin(@gray-dark,@gray-lighter);
    }
    &.small{
        padding: 6px 16px 4px;
    }
    &.outline{
        padding: 10px 16px;
    }
    &.btn-follow{
        .btn-mixin(@gray-dark,@gray-lighter);
        &.btn-following{
            .btn-mixin(@white,@collexio-green);
            &:hover{
                color:@white;
                background-color: @collexio-red;
            }
        }
        &:disabled{
            background: #fff;
            border: 1px solid @gray-light;
        }
    }
    &.btn-link{
        font-weight: normal;
        font-size: 14px;
    }
}


