.c-list{
	.container{
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.nav-pills{
		margin-bottom: 32px;
	}
	.btn-load-more{
		min-width: 128px;
	}
	#loadMoreWrapper{
		text-align: center;
	}
}

.c-box {
	background: @gray-darker;
	margin-bottom: 12%;
	max-height: 390px;
	overflow: hidden;
	position: relative;
	border-radius: 4px;

	@media (min-width: @screen-sm) {
		max-height: 296px;
	}

	@media (min-width: @screen-md) {
		max-height: 327px;
	}

	.link{
		color: #fff;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;

		&:hover{
			.overlay{
				zoom: 1;
				filter: alpha(opacity=50);
				opacity: .5;
			}
		}
	}

	.overlay {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		z-index: 2;
		opacity: 1;
		border-radius: 4px;
		transition: all .1s linear;
		-moz-transition: all .1s linear;
		-webkit-transition: all .1s linear;
	}

	.title {
		color: @white;
		font-size: @font-size-h3;
		margin: 0;
		padding: 0 15px;
		position: absolute;
		left: 0;
		bottom: 100px;
		width: 100%;
		z-index: 3;
		text-align: center;
		line-height: 1.4;
		letter-spacing: -0.5px;
		font-weight: bold;

		@media (min-width: @screen-sm) {
			font-size: 18px;
			bottom:72px;
			font-weight: normal;
		}
	}

	.thumb {
		max-width: 100%;
		width: 100%;
		display: block;
	}


	.user-wrapper{
		z-index: 3;
		position: absolute;
		bottom: 14px;
		width: 100%;
		text-align: center;
		font-size: 12px;

		> div{
			display: inline-block;
			margin: auto;
			width: auto;
			line-height: 40px;
		}

		a{
			color:@gray-lighter;
			img{
				margin-right: 10px;
				width: 40px;
			}
		}
		.user-avatar{
			width: 40px;
		}
	}
}