.collection-top-nav{
    border:none;
    background-color: transparent;
    padding-top: 8px;
    .btn-icon{
        border-radius: 4px;
        &:hover{
            background-color: @gray-base;
        }
    }
    .nt-indicator{
        bottom:22px;
    }
    &.fixed{
        background-color: #fff;
        position: fixed;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
        padding-top: 9px;
        padding-bottom: 7px;
        height: 64px;
        &:extend(.hidden-xs);
        .btn-icon{
            color: @collexio-green;
            border-radius: 4px;
            &:hover{
                background-color: @gray-lighter;
            }
        }
        .logo{
            a{
                background: url("@{img-path}main/logo_green.svg") no-repeat;
                background-size: 100% auto;
            }
        }
        .nt-indicator{
            bottom:36px;
        }
        .title{
            margin-top: 4px;
            margin-left: 32px;
            h1 {
                font-size: 18px;
                margin-top: 3px;
                letter-spacing: -0.5px;
                font-weight: bold;
                span {
                    display: block;
                    padding-bottom: 4px;
                    &:last-child {
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
        }
        .btn.white{
            color: @collexio-green;
            border-color: @collexio-green;
            &:hover{
                color: @white;
                background-color: @collexio-green;
            }
        }
    }
}



.action-bar{
    text-align: center;
    padding: 23px 0 40px;
    font-size: 14px;

    a{
        margin-left: 8px;   
    }
}

.collection-hero {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 480px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    color: #fff;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: -64px;

    .overlay {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, .7)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .container{
        z-index: 10;
        padding: 0;
        margin: 0;
    }

    .meta{
        color: rgba(255, 255, 255, .5);
        text-align: center;
        margin-top: 16px;
        a{
            color: #F5F5F5;
        }
    }
    .title{
        text-align: center;
    }
    .info-wrapper{
        position: absolute;
        bottom: 0;
        width: 100%;
        .user-avatar{
            text-align: center;
            margin: auto;
            display: block;
            width: 48px;
            height: 48px;
            img{
                width: 48px;
            }
        }
        .container{
            padding-bottom: 32px;
        }
    }
}

.c-bottom-bar{
    border-bottom: 1px solid #ececec;
    padding-bottom: 12px;
    background-color: #fff;
    .container{
        padding:0;
    }
    .c-buttons{
        padding-top: 12px;
    }
    .c-settings-buttons{
        padding-top: 12px;
        margin-right: 8px;
    }
    .c-share-button{
        padding-top: 12px;
    }
    .btn-private{
        font-size: 24px;
        padding: 0px;
        margin-top: -1px;
        margin-right: 12px;
        color: @collexio-red;
        &:hover{
            color: darken(@collexio-red, 5%);
        }
        &.btn-unprivate{
            color:@collexio-green;
            &:hover{
                color: darken(@collexio-green, 5%);
            }
        }
    }
}

.c-desc{
    font-size: 14px;
    color:#333;
    word-wrap:break-word;
    .container{
        border-bottom: 1px solid @gray-lighter;
        padding-bottom: 16px;
    }
}


.c-items{
    .container{
        padding-top: 0;
        padding-bottom: 64px;
        position: relative;
        &#itemsContainer{
            padding-top: 32px;
            padding-bottom: 0;
        }
        #loadMoreWrapper{
            text-align: center;
            .btn{
                min-width: 128px;
            }
        }
    }
}

#c-settings-form{
    .btn{
        min-width: 128px;
    }
}



.collection-preview {
    text-align: center;
    padding-top: 116px;
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
        cursor: pointer;
    }
    .glyphicon {
        font-size: 120px;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.tag {
    color: @white;
    background-color: @collexio-green;
    display: inline-block;
    padding: 6px 16px 5px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:hover {
        background-color: darken(@collexio-green, 5%);
    }

    a {
        color: @white;
    }
    .remove-tag {
        font-size: 0;
        &:before {
            content: "\f00d";
            display: inline-block;
            font-family: "FontAwesome";
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.create-collection-callout{
    .container{
        padding-top: 192px;
        padding-bottom: 192px;
        h3{
            margin-bottom: 32px;
        }
    }
}
