form{
	h1{
		margin-bottom: 32px;	
	}
}

.form-control {
	display: block;
	width: 100%;
	height: 47px;
	padding: 8px 8px;
	color: #333;
	background-color: #f5f5f5;
	background-image: none;
	border: 2px solid @gray-lighter;
	border-radius: 3px;
	box-shadow: none;
	-webkit-appearance: none;

	&:focus{
		border-color: @collexio-green;
		outline: 0;
		box-shadow: none;
	}
}
.select{
	position: relative;
	i{
		position: absolute;
		right: 16px;
		top: 16px;
		pointer-events:none;
	}
}
.form-group{
	margin-bottom: 32px;
	.btn{
		margin-left: 8px;
		min-width: 128px;
	}
	p.form-description{
		color: @gray;
		margin-top: 32px;
	}
}