.c-item{
    margin: 16px 0;
    background-color: @white;
    border-radius: 4px;
    @media (min-width: @screen-sm) {
		margin: 64px 0;
	}
    .title{
	    padding: 32px 16px;
	    font-size: 22px;
	    font-weight: bold;
	    color:#1abc9c;
	    line-height: 1.2;
	}
	.description{
	    padding: 32px 16px 20px;
	    font-size: @font-size-base;
	    //font-weight: lighter;
	    color: @gray-darker;
	    &.no-padding{
		    padding-top: 0px;
		}
		p{
			margin-bottom: 12px;
		}
	}
	.footer{
	    margin: 0px 16px;
	    border-top: 1px solid #f5f5f5;
	    .action-buttons{
		    padding: 10px 0px 9px;
		    .action-button{
		    	position: relative;
		    }
		}
		.source{
		    padding-top: 13px;
		}
		.btn-icon{
		    font-size: 18px;
		    padding: 11px 16px;
		    color:#ccc;
		   	&:focus{
		   		outline:none;
		   	}
		}
	}
	.item-point{
		position: relative;
		top:128px;
		width: 100%;
	}
	.magazine-thumb {
		position: relative;
		a{
			display: block;
		}
	}
	.item-video {
		cursor: pointer;
		.play {
			color: #fff;
			font-size: 40px;
			width: 82px;
			height: 82px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 5;
			transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			border: 5px solid #fff;
			border-radius: 50%;
			background-color: rgba(0,0,0,0.6);
			text-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
		}
		i{
			line-height: 75px;
			padding: 0 26px;
		}
		.iframe{
			display: none;
		}
	}

	&.article-item{
		.thumb{
			position: absolute;
			width: 96px;
			height: 96px;
			margin-left: 16px;
			border-radius: 4px;
		}
		.description{
			padding: 0px 16px 32px 128px;
			width: 100%;
			min-height: 112px;
		}
	}
}

.new-item-modal{
	.image-frame {
		background: @gray-lighter;
		color: #fff;
		font-size: 100px;
		text-align: center;
		line-height: 100px;
		min-height: 150px;
		border-radius: 3px;
		position: relative;
		&:hover {
			background: @gray-light;
			color: #fff;
		}
		input {
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 51;
			top: 0;
			left: 0;
			cursor: pointer;
		}
		img {
			display: block;
		}
		p {
			font-size: 16px;
		}
	}
	.item-image-icon {
		z-index: 50;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	.form-buttons{
		float:right;
		.btn{
			min-width: 128px;
		}
	}
	.btn-remove-media{
		margin-top: 8px;
	}
}

.list-item{
	margin: 4px;
	padding: 16px;

	.item-body{
		width: 100%;
		padding-left: 72px;
	}
	.list-thumb{
		width: 64px;
		height: 64px;
		position: absolute;
		img{
			border-radius: 4px;
		}
	}
	.title{
		font-size: 18px;
		padding: 0px 16px 0;
	}
	.footer{
		border:none;
		margin-right: 0;
		.source{
			padding: 4px;
			a{
				color:@gray;
			}
		}
		.action-buttons{
			padding-top:4px;
			position: relative;
			top:20px;
		}
	}
}

.twitter-tweet-rendered {
	width: 100% !important;
	border: none !important;
	box-shadow: none !important;
}

