a{
	&:hover{
		text-decoration: none;
	}
}

h1{
	letter-spacing: -0.5px;
	font-weight: bold;
}

img {
	max-width: 100%;	
	height: auto;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-drag: none;
	-moz-user-drag: none;
	-webkit-user-drag: none;
}

.wrapper{
	
}

.section {
	&.narrow{
		.container{
			max-width: 640px;
    		margin:auto;
		}
	}
	&.mid{
		.container{
		    max-width: 820px;
		    margin:auto;
		}
	}
	&.gray{
		background-color: @gray-lighter;
	}
	&.white{
		background-color: @white;
	}
	&.footer{
		color: #ccc;
		font-size: 12px;
		text-align: center;
		padding-top: 128px;
		padding-bottom: 48px;
		&.a {
			color: #ccc;
			&:hover{
				color: #333;
				text-decoration: none;	
			}
		}
	}
	.container{
    	padding-top: 64px;
    	padding-bottom: 64px;
    	form{
    		padding-top: 64px;
    	}
    }
	.section-title{
		text-align: left;
		border-bottom: 1px solid @gray-light;
		margin-bottom: 32px;
		color:#666;

		h2{
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 4px;
		}
	}
}

.callout{
	padding: 0;
	background-color: #2c3e50;
	color: #fff;
	text-align: center;
}


.js-template{
	display: none;
}


.ellipsis-text {
	white-space: nowrap; 
	max-width: 1000px; 
	overflow: hidden;
	text-overflow: ellipsis;
}

#go-to-top {
	background: rgba(46, 49, 51, 0.6);
	display: none;
	height: 37px;
	width: 37px;
	z-index: 999;
	text-align: center;
	position: fixed;
	bottom: 54px;
	right: 13px;
	line-height: 36px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	transition: all .1s linear;
	-moz-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background: #4892e5;
		text-decoration: none;
	}
	&:before {
		color: #fff;
		font-size: 18px;
		content: "\f077";
		font-family: 'FontAwesome';
	}
}


.tooltip-inner{
	padding: 8px 16px 6px;
}

.messages{
	display: none;
	text-align: center;
	color: #fff;
	font-size: 18px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 999;
	div{
		padding: 48px 0;
		background-color: @gray-light;
	}
	.success{
		background-color: #2ecc71;
		
	}
	.danger{
		background-color: @collexio-red;
	}
}


.error-page-content{
	.container{
		text-align: center;
		margin-top: 48px;
		.logo{
			width: 128px;
		    height: 32px;
			margin: auto;
			>a{
				background: url("@{img-path}main/logo_green.svg") no-repeat;
				width: 128px;
		        height: 32px;
		        display: block;
		        text-indent: -9999px;
		        background-size: 100% auto;
		        -webkit-user-drag: none;
			}
		}
		.error-title {
			color: #606060;
			font-size: 28px;
			font-weight: bold;
			line-height: 1.2;
			margin-top: 48px;
			letter-spacing: -2px;
			@media (min-width: @screen-sm) {
				font-size: 48px;
			}
		}
		.error-number {
			color: #606060;
			font-size: 120px;
			text-align: center;
			margin-bottom: 32px;
			line-height: 1;
			letter-spacing: -5px;
			@media (min-width: @screen-sm) {
				font-size: 180px;
			}
		}

		.error-button{
			text-align: center;
		}
	}
}

.spinner {
	color: @collexio-green;
	margin-bottom: 20px;
	text-align: center;
	p{
		margin-top: 5px;
	}
}