.masthead{
	background-color: #fff;
	color: #fff;
	margin-bottom: 64px;
	padding: 64px 0;
	position: relative;
	text-align: center;
	background-image: url("/static/img/main/landing.jpg");
	background-position: 15% 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	@media (min-width: @screen-sm) {
		background-position: 50% 95%;
		text-align: left;
	}

	.container{
		max-width: 1070px;
		padding: 0;
		margin: 0;

		@media (min-width: @screen-sm) {
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.masthead-body{
		position: absolute;
		bottom: 20%;
		width: 100%;
		padding: 16px;
		.btn{
			margin-top:24px;
		}
		@media (min-width: @screen-sm) {
			position: absolute;
			bottom: 24%;
			max-width: 540px;
		}
	}
	.hero-text{
		margin-top: 16px;
		color: #3F3000;
		margin-bottom: 16px;
		font-weight: bold;

		@media (min-width: @screen-sm) {
			margin-bottom: 64px;
		}

		h1{
			font-size: 24px;
			margin-bottom: 20px;

			@media (min-width: @screen-sm) {
				font-size: 36px;
				letter-spacing: -2px;
				margin-bottom: 16px;
			}

		}
		p{
			font-size: 16px;
			line-height: 1.2;
			color: rgba(63, 48, 0, .6);

		}
	}
	.btn-twitter{
		margin-top: 32px;
		font-size: 18px;
		margin-bottom: 16px;
	}
	.btn-featured-collections{
		display: inline-block;
	}
	.logo{
		width: 164px;
		height: 64px;
		margin: auto;
		text-align: center;

		@media (min-width: @screen-sm) {
			width: 160px;
			height: 42px;
			margin:0px;
			margin-bottom: 32px;
		}
	}
	.logo a{
		width: 164px;
		height: 64px;
		background-image: url("/static/img/main/logo_green.svg");

		@media (min-width: @screen-sm) {
			width: 160px;
			height: 42px;
		}
	}
	.heading{
		text-align: center;
		padding-bottom: 64px;
	}

}

.home-nav{
	margin-top:16px;
	margin-bottom: 16px;
}

.home-message{
	margin-bottom:32px;
	background-color: #f5f5f5;
	border-radius: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
}
