.modal{
	.modal-content{
		box-shadow: none;
		border:none;
		border-radius: 4px;
	}
	.modal-footer{
		border:none;
		background-color: #f5f5f5;
		border-radius: 4px;
	}
	.modal-body{
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.modal-title{
		font-size: 18px;
		font-weight: bold;
	}
	.modal-header{
		.close{
			line-height: 32px;
		}
	}
}

.modal-fs.in{
	overflow: hidden;
	.section{
		.container{
			padding-top: 32px;
		}
	}
	.modal-dialog{
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.modal-header{
		//padding: 16px 16px 14px;
		height: 48px;
		padding: 9px 0 9px;
		background-color: @collexio-green;
		color: @white;
		border: none;

		.modal-title{
			text-align: center;
			font-size: 18px;
			font-weight: bold;
		}
		.close{
			font-size: 28px;
			position: absolute;
			right: 16px;
			margin-top: -2px;
		}
	}
	.modal-body{
		padding: 0px 15px;
	}

	.modal-content{
		height: 100%;
		box-shadow:none;
		border:none;
		border-radius: 0;
		overflow-y: hidden;
	}
	.modal-body{
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
		width: 100%;	
	}
}




