.nav-pills {
  border-bottom: 1px solid @gray-lighter;
  font-size: @font-size-small;
  font-weight: bold;
  color: @gray-dark;

  > li {
    float: left;

    // Links rendered as pills
    > a {
      position: relative;
      border-radius: 0;
      bottom: -5px;
      padding: 0;
      margin: 0 32px 0 0;
      color: @gray-dark;
      background-color: transparent;

      &:hover,
      &:focus {
        color: @gray-darker;
        background-color: transparent;
      }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      border-bottom: 5px solid @collexio-green;
      color: @gray-dark;
      &,
      &:hover,
      &:focus {
        color: @gray-dark;
        background-color: transparent;
      }
    }
  }
}

.top-nav{
    position: relative;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 48px;
    background-color: @collexio-green;

    .logo{
        margin-top: 12px; 
    }
    .title{
      display: none;
    }
    .btn{
      margin-top: 6px;
    }
}

.logo{
    width: 82px;
    height: 24px;
    > a {
        background: url("@{img-path}main/logo_white.svg") no-repeat;
        width: 82px;
        height: 24px;
        display: block;
        text-indent: -9999px;
        background-size: 100% auto;
        -webkit-user-drag: none;
    }
}

.top-menu{
    .user-avatar{
        margin-top: 6px;
        img{
            width: 36px;
            height: 36px;
        }
    }
    .btn-icon{
        color:#fff;
        padding: 0;
        width: 48px;
        height: 48px;
        font-size: 22px;
        border-radius: 0;
        margin-top: 0;
        &:hover{
            background-color: darken(@collexio-green, 15%);
        }
    }
    .btn-create-collection{
        padding-top: 7px;
    }
    .btn-notifications{
        margin-right: 8px;
    }
    .nt-indicator{
        position: absolute;
        right: 64px;
        bottom: 30px;
        padding: 0px 8px 1px;
        font-size: 8px;
        color: #ff0000;
    }
}

