#notificationsModal{
	.loadMoreWrapper{
		display: none;
		height: 128px;
	}
}

.notification{
	.message{
		text-align: center;
		padding-top: 64px;
		display: none;
	}
	.question{
		margin-left: 64px;
		margin-top: -32px;
		font-size: 18px;
		font-weight: bold;
	}
	.sg-buttons{
		height: 128px;
	}

	.c-item{
		border:1px solid #eee;
		border-radius: 4px;
	}
}

.nt-item{
	padding: 16px 0;
	min-height: 96px;
	.nt-indicator{
		position: absolute;
		line-height: 32px;
		font-size: 8px;
		right: inherit;
		color: #ff0000;
		margin-left: 10px;
	}
	.nt-right{
		width: 100%;
		padding-left: 64px;
	}
	.nt-user-image.user-avatar{
		width: 32px;
		position: absolute;
		margin-left: 22px
	}
	.nt-user-name{
		text-align: left;
	}

	.nt-user-name a{
		font-size: 14px;
		font-weight: bold;
		color:@gray-darker;
	}
	.nt-message{
		float:left;
		text-align: left;
		width: 100%;
		color:@gray-dark;
	}

	.nt-time{
		color: @gray;
		font-size: 12px;
	}
}

