<div class="modal fade" id="collectModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Choose a collection or <a href="/c/create/" target="_blank">create a new one</a></h5>
			</div>
			<div class="modal-collections">
				<ul class="list-unstyled">
					{% for collection in collection_list%}
					<li class="collection-list-item">
						<a class="collection-link" href="#" data-collection-id="{{collection.pk}}">
						<div class="media">
							<div class="pull-left">
								<img class="media-object img-rounded" src="{{collection.get_thumb}}" width="36">
							</div>
							<div class="media-body">
								<h5 class="media-heading">{{collection.title}}</h5>
								<p class="small text-muted">{{collection.created}}</p>
							</div>
						</div>
						</a>
					</li>
					{% endfor %}
				</ul> <!-- // .list-unstyled -->
			</div> <!-- // .modal-collections -->
		</div> <!-- // .modal-content -->
	</div> <!-- // .modal-dialog -->
</div> <!-- // .modal -->
